<app-page-header title="Boxplot-Charts" title1="Apex-Charts" activeTitle="Boxplot-Charts" ></app-page-header>

 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Boxplot Chart</div>
            </div>
            <div class="card-body">
                <div id="boxplot-basic">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [plotOptions]="chartOptions.plotOptions" [title]="chartOptions.title"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Boxplot With Scatter Chart</div>
            </div>
            <div class="card-body">
                <div id="boxplot-scatter">
                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                    [xaxis]="chartOptions1.xaxis" [title]="chartOptions1.title" [colors]="chartOptions1.colors"
                    [tooltip]="chartOptions1.tooltip" [plotOptions]="chartOptions.plotOptions"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Horizontal Boxplot Chart</div>
            </div>
            <div class="card-body">
                <div id="boxplot-horizontal">
                    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                    [plotOptions]="chartOptions2.plotOptions" [title]="chartOptions2.title"
                    [stroke]="chartOptions2.stroke"></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->