<app-page-header title="Create-Blog" title1="Blog" activeTitle="Create-Blog" ></app-page-header>
      <!-- Start::row-1 -->
      <div class="row">
        <div class="col-xxl-9 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">New Blog</div>
                </div>
                <div class="card-body">
                    <div class="row gy-3">
                        <div class="col-xl-12">
                            <label for="blog-title" class="form-label">Blog Title</label>
                            <input type="text" class="form-control" id="blog-title" placeholder="Blog Title">
                        </div>
                        <div class="col-xl-12">
                            <label for="blog-category" class="form-label">Blog Category</label>
                            <ng-select class="form-control p-0 " data-trigger name="blog-category" id="blog-category" placeholder="Select Category">
                                <ng-option value="">Select Category</ng-option>
                                <ng-option value="Choice 1">Nature</ng-option>
                                <ng-option value="Choice 2">Sports</ng-option>
                                <ng-option value="Choice 3">Food</ng-option>
                                <ng-option value="Choice 3">Travel</ng-option>
                                <ng-option value="Choice 3">Fashion</ng-option>
                                <ng-option value="Choice 3">Beauty</ng-option>
                            </ng-select>
                        </div>
                        <div class="col-xl-6">
                            <label for="blog-author" class="form-label">Blog Author</label>
                            <input type="text" class="form-control" id="blog-author" placeholder="Enter Name">
                        </div>
                        <div class="col-xl-6">
                            <label for="blog-author-email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="blog-author-email" placeholder="Enter Email">
                        </div>
                        <div class="col-xl-6">
                            <label for="publish-date" class="form-label">Publish Date</label>
                            <input type="text" class="form-control" id="publish-date" placeholder="Choose date" mwlFlatpickr  
                            [altInput]="true" [convertModelValue]="true" [enableTime]="false" dateFormat="Y-m-dTH:i">
                        </div>
                        <div class="col-xl-6">
                            <label for="publish-time" class="form-label">Publish Time</label>
                            <input type="text" class="form-control" id="publish-time" placeholder="Choose time" mwlFlatpickr [noCalendar]="true"
                            [enableTime]="true" [dateFormat]="'h:i K'">
                        </div>
                        <div class="col-xl-6">
                            <label for="product-status-add" class="form-label">Published Status</label>
                            <ng-select  data-trigger name="product-status-add" id="product-status-add" placeholder="Select">
                                <ng-option value="Select">Select</ng-option>
                                <ng-option value="Published">Published</ng-option>
                                <ng-option value="Scheduled">Hold</ng-option>
                            </ng-select>
                        </div>
                        <div class="col-xl-6">
                            <label for="blog-tags" class="form-label">Blog Tags</label>
                            <ng-select  name="blog-tags" id="blog-tags" [multiple]="true"  [(ngModel)]="selectedChoices">
                                <ng-option value="Top Blog">Top Blog</ng-option>
                                <ng-option value="Blogger">Blogger</ng-option>
                                <ng-option value="Adventure">Adventure</ng-option>
                                <ng-option value="Landscape" selected>Landscape</ng-option>
                            </ng-select>
                        </div>
                        <div class="col-xl-12">
                            <label class="form-label">Blog Content</label>
                            <div id="blog-content">
                                <form [formGroup]="form">
                                    <div class="NgxEditor__Wrapper overflow-scroll">
                                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                        </ngx-editor-menu>
                                        <ngx-editor [editor]="editor" formControlName="editorContent">
                                        </ngx-editor>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div  class="col-xl-12 blog-images-container">
                            <label for="blog-author-email" class="form-label">Blog Images</label>
                            
                            <file-pond #myPond [options]="pondOptions" class="blog-images" multiple name="filepond" idata-allow-reorder="true" data-max-file-size="3MB" data-max-files="6"  [files]="pondFiles"
                            (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)"
                            (onactivatefile)="pondHandleActivateFile($event)">
                        </file-pond>
                        </div>
                        <div class="col-xl-12">
                            <label class="form-label">Blog Type</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="blog-type" id="blog-free1" checked>
                                    <label class="form-check-label" for="blog-free1">
                                        Free
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="blog-type" id="blog-paid1">
                                    <label class="form-check-label" for="blog-paid1">
                                        Paid
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-list text-end">
                        <button type="button" class="btn btn-sm btn-light">Save As Draft</button>
                        <button type="button" class="btn btn-sm btn-primary">Post Blog</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">
                        Recent Blogs
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="d-flex gap-2 flex-wrap align-items-center">
                                <span class="avatar avatar-xl me-1">
                                    <img src="./assets/images/media/media-39.jpg" class="img-fluid" alt="...">
                                </span>
                                <div class="flex-fill">
                                    <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Animals</a>
                                    <p class="mb-1 popular-blog-content text-truncate">
                                        There are many variations of passages of Lorem Ipsum available
                                    </p>
                                    <span class="text-muted fs-11">24,Nov 2023 - 18:27</span>
                                </div>
                                <div>
                                    <button aria-label="button" type="button" class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex gap-2 flex-wrap align-items-center">
                                <span class="avatar avatar-xl me-1">
                                    <img src="./assets/images/media/media-56.jpg" class="img-fluid" alt="...">
                                </span>
                                <div class="flex-fill">
                                    <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Travel</a>
                                    <p class="mb-1 popular-blog-content text-truncate">
                                        Latin words, combined with a handful of model sentence
                                    </p>
                                    <span class="text-muted fs-11">28,Nov 2023 - 10:45</span>
                                </div>
                                <div>
                                    <button aria-label="button" type="button" class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex gap-2 flex-wrap align-items-center">
                                <span class="avatar avatar-xl me-1">
                                    <img src="./assets/images/media/media-54.jpg" class="img-fluid" alt="...">
                                </span>
                                <div class="flex-fill">
                                    <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Interior</a>
                                    <p class="mb-1 popular-blog-content text-truncate">
                                        Contrary to popular belief, Lorem Ipsum is not simply random
                                    </p>
                                    <span class="text-muted fs-11">30,Nov 2023 - 08:32</span>
                                </div>
                                <div>
                                    <button aria-label="button" type="button" class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex gap-2 flex-wrap align-items-center">
                                <span class="avatar avatar-xl me-1">
                                    <img src="./assets/images/media/media-52.jpg" class="img-fluid" alt="...">
                                </span>
                                <div class="flex-fill">
                                    <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Nature</a>
                                    <p class="mb-1 popular-blog-content text-truncate">
                                        It was popularised in the 1960s with the release of Letraset sheets containing
                                    </p>
                                    <span class="text-muted fs-11">3,Dec 2023 - 12:56</span>
                                </div>
                                <div>
                                    <button aria-label="button" type="button" class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex gap-2 flex-wrap align-items-center">
                                <span class="avatar avatar-xl me-1">
                                    <img src="./assets/images/media/media-74.jpg" class="img-fluid" alt="...">
                                </span>
                                <div class="flex-fill">
                                    <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Health</a>
                                    <p class="mb-1 popular-blog-content text-truncate">
                                        It was popularised in the 1960s with the release of Letraset sheets containing
                                    </p>
                                    <span class="text-muted fs-11">16,Dec 2023 - 04:56</span>
                                </div>
                                <div>
                                    <button aria-label="button" type="button" class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex gap-2 flex-wrap align-items-center">
                                <span class="avatar avatar-xl me-1">
                                    <img src="./assets/images/media/media-49.jpg" class="img-fluid" alt="...">
                                </span>
                                <div class="flex-fill">
                                    <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Food</a>
                                    <p class="mb-1 popular-blog-content text-truncate">
                                        It was popularised in the 1960s with the release of Letraset sheets containing
                                    </p>
                                    <span class="text-muted fs-11">31,Dec 2023 - 18:06</span>
                                </div>
                                <div>
                                    <button aria-label="button" type="button" class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                                <div class="d-flex gap-2 flex-wrap align-items-center">
                                <span class="avatar avatar-xl me-1">
                                    <img src="./assets/images/media/media-76.jpg" class="img-fluid" alt="...">
                                </span>
                                <div class="flex-fill">
                                    <a href="javascript:void(0);" class="fs-14 fw-medium mb-0">Travel</a>
                                    <p class="mb-1 popular-blog-content text-truncate">
                                        It was popularised in the 1960s with the release of Letraset sheets containing
                                    </p>
                                    <span class="text-muted fs-11">15,Dec 2023 - 14:31</span>
                                </div>
                                <div>
                                    <button aria-label="button" type="button" class="btn btn-icon btn-light btn-sm rtl-rotate"><i class="ri-arrow-right-s-line"></i></button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-center">
                            <button type="button" class="btn btn-primary-light">Load more</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->