<app-page-header title="Draggable-Cards" title1="Advanced-Ui" activeTitle=" Draggable-Cards" ></app-page-header>
<!-- Start::row-1 -->
<div class="row" cdkDropListGroup>
    <div
    class="col-xl-6"
    id="left-defaults"
    cdkDropList
    [cdkDropListData]="todo"
    (cdkDropListDropped)="drop($event)"
  >
    <div>
      @for(item of todo;track $index){
      <div cdkDrag [innerHTML]="getSanitizedSVG(item)"></div>
      }
    </div>
  </div>

    <div
    class="col-xl-6"
    id="right-defaults"
    cdkDropList
    [cdkDropListData]="done"
    class="col-xl-6"
    (cdkDropListDropped)="drop($event)"
  >
    <div>
      @for(item of done;track $index){

      <div cdkDrag [innerHTML]="getSanitizedSVG(item)"></div>
      }
    </div>
  
</div>
<!--End::row-1 -->
