<app-page-header title="Welcome, Ms Chaorlette" title1="Let's check your today's stats!"  ></app-page-header>


<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-3">
        <div class="card custom-card overflow-hidden">
            <div class="card-body p-0">
                <!-- Start::app-sidebar -->
                <aside class="customer-sidebar">

                    <!-- Start::main-sidebar -->
                    <div class="main-customer-sidebar">

                        <!-- Start::nav -->
                        <nav class="main-customer-menu-container nav nav-pills flex-column sub-open">
                            <ul class="main-customer-menu">
                                <li class="slide p-4 text-center border-bottom"> 
                                    <div class="text-center mb-2">
                                        <span class="avatar avatar-xxl avatar-rounded online">
                                            <img src="./assets/images/faces/4.jpg" alt="" class="img-fluid">
                                        </span>
                                    </div>
                                    <h5 class="fw-medium mb-1">Chaorlette</h5>
                                    <span class="text-muted">chaorletteflairgmail.com</span>
                                </li>
                                <!-- Start::slide -->
                                <li class="slide">
                                    <a routerLink="/dashboard/customer" class="side-menu__item active">
                                        <i class="bi bi-house side-menu__icon"></i>
                                        <span class="side-menu__label">Dashboard</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                                <!-- Start::slide -->
                                <li class="slide">
                                    <a routerLink="/pages/ecommerce/orders" class="side-menu__item">
                                        <i class="bi bi-bag side-menu__icon"></i>
                                        <span class="side-menu__label">Orders</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                                <!-- Start::slide -->
                                <li class="slide">
                                    <a routerLink="/pages/email/mailsettings" class="side-menu__item">
                                        <i class="bi bi-gear side-menu__icon"></i>
                                        <span class="side-menu__label">Settings</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                                <!-- Start::slide -->
                                <li class="slide">
                                    <a routerLink="/pages/faqs" class="side-menu__item">
                                        <i class="bi bi-headset side-menu__icon"></i>
                                        <span class="side-menu__label">Support</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                                <li class="slide">
                                    <a routerLink="/authentication/sign-in/cover" class="side-menu__item">
                                        <i class="bi bi-box-arrow-right side-menu__icon"></i>
                                        <span class="side-menu__label">Sign out</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                            </ul>
                        </nav>
                        <!-- End::nav -->

                    </div>
                    <!-- End::main-sidebar -->

                </aside>
                <!-- End::app-sidebar -->
            </div>
        </div>
    </div>
    <div class="col-xl-9">
        <div class="row">
            <div class="col-xl-4">
                <div class="card custom-card">
                    <a href="javascript:void(0);" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center gap-3">
                            <div>
                                <span class="avatar avatar-xl bg-primary-transparent">
                                    <i class="bi bi-bag-check fs-4"></i>
                                </span>
                            </div>
                            <div>
                                <span class="d-block text-muted mb-1">Total Orders</span>
                                <h4 class="mb-0">32,189</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card custom-card">
                    <div class="card-body">
                        <a href="javascript:void(0);" class="stretched-link"></a>
                        <div class="d-flex align-items-center gap-3">
                            <div>
                                <span class="avatar avatar-xl bg-success-transparent">
                                    <i class="bi bi-currency-dollar fs-4"></i>
                                </span>
                            </div>
                            <div>
                                <span class="d-block text-muted mb-1">Total Amount Spent</span>
                                <h4 class="mb-0">$15,289k</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card custom-card">
                    <div class="card-body">
                        <a href="javascript:void(0);" class="stretched-link"></a>
                        <div class="d-flex align-items-center gap-3">
                            <div>
                                <span class="avatar avatar-xl bg-info-transparent">
                                    <i class="bi bi-ticket-perforated fs-4"></i>
                                </span>
                            </div>
                            <div>
                                <span class="d-block text-muted mb-1">Total Tickets</span>
                                <h4 class="mb-0">283</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Recent Orders
                        </div>
                        <a href="javascript:void(0);" class="btn btn-primary-light">View All Orders<i class="ri-arrow-right-s-line ms-1 align-middle rotate-icon"></i></a>
                    </div>
                    <div class="card-body px-0 pt-2 pb-0">
                        <div class="table-responsive">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="col">Order ID</th>
                                        <th scope="col">Payment Mode</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Amount Paid</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="javascript:void(0);" class="text-primary text-decoration-underline">#ORD789ABC</a></td>
                                        <td>
                                            <div>
                                                <span class="d-block mb-1">Rupay Card ****2783</span>
                                                <span class="d-block fs-12 text-muted fw-normal">Card Payment</span>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-success-transparent">Completed</span></td>
                                        <td>
                                            <div>
                                                <span class="d-block mb-1">$1,234.78</span>
                                                <span class="d-block fs-12 text-muted fw-normal">Nov 22,2023</span>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-ghost-light text-default border btn-wave">
                                                <i class="fe fe-eye text-muted align-middle me-1"></i>
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="javascript:void(0);" class="text-primary text-decoration-underline">#ORD253SFW</a></td>
                                        <td>
                                            <div>
                                                <span class="d-block mb-1 fw-normal">Digital Wallet</span>
                                                <span class="d-block fs-12 text-muted">Online Transaction</span>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-warning-transparent">Pending</span></td>
                                        <td>
                                            <div>
                                                <span class="d-block mb-1">$623.99</span>
                                                <span class="d-block fs-12 text-muted fw-normal">Nov 22,2023</span>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-ghost-light text-default border btn-wave">
                                                <i class="fe fe-eye text-muted align-middle me-1"></i>
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="javascript:void(0);" class="text-primary text-decoration-underline">#ORD356SKF</a></td>
                                        <td>
                                            <div>
                                                <span class="d-block mb-1 fw-normal">Mastro Card ****7893</span>
                                                <span class="d-block fs-12 text-muted">Card Payment</span>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-danger-transparent">Cancelled</span></td>
                                        <td>
                                            <div>
                                                <span class="d-block mb-1">$1,324</span>
                                                <span class="d-block fs-12 text-muted fw-normal">Nov 21,2023</span>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-ghost-light text-default border btn-wave">
                                                <i class="fe fe-eye text-muted align-middle me-1"></i>
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="javascript:void(0);" class="text-primary text-decoration-underline">#ORD363ESD</a></td>
                                        <td>
                                            <div>
                                                <span class="d-block mb-1 fw-normal">Cash On Delivery</span>
                                                <span class="d-block fs-12 text-muted">Pay On Delivery</span>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-success-transparent">Completed</span></td>
                                        <td>
                                            <div>
                                                <span class="d-block mb-1">$1,123.49</span>
                                                <span class="d-block fs-12 text-muted fw-normal">Nov 20,2023</span>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-ghost-light text-default border btn-wave">
                                                <i class="fe fe-eye text-muted align-middle me-1"></i>
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-bottom-0">
                                            <a href="javascript:void(0);" class="text-primary text-decoration-underline">#ORD253KSE</a>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div>
                                                <span class="d-block mb-1 fw-normal">Visa Card ****2563</span>
                                                <span class="d-block fs-12 text-muted">Card Payment</span>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0"><span class="badge bg-success-transparent">Completed</span></td>
                                        <td class="border-bottom-0">
                                            <div>
                                                <span class="d-block mb-1">$1,289</span>
                                                <span class="d-block fs-12 text-muted fw-normal">Nov 18,2023</span>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0">
                                            <button class="btn btn-sm btn-ghost-light text-default border btn-wave">
                                                <i class="fe fe-eye text-muted align-middle me-1"></i>
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End::row-1 -->