.authentication .desktop-logo, .authentication .desktop-dark {
    height: 6.5rem;
    line-height: 1.5rem;
    margin-top: -70px;
}

.card.custom-card {
    border-radius: 0.85rem;
    background-color: var(--custom-white);
    box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
    position: relative;
    margin-block-end: 1.5rem;
    width: 140%;
    border: 0px;
    margin-left: -68px;
}