<div class="container">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="card custom-card my-4">
                <div class="card-body p-5">
                    <!-- <div class="mb-3 d-flex justify-content-center">
                        <a routerLink="/dashboard/sales">
                            <img src="./assets/images/brand-logos/logo.png" alt="logo" class="desktop-logo">
                            <img src="./assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
                        </a>
                    </div> -->
                    <p class="h5 mb-2 text-center">Sign In</p>
                    <!-- <p class="mb-4 text-muted op-7 fw-normal text-center">Welcome back Jhon !</p> -->
                    <form [formGroup]="loginForm" (ngSubmit)="Submit()">
                    <div class="row gy-3">
                        <div class="col-xl-12">
                            <label for="signin-username" class="form-label text-default">email</label>
                            <input type="text" class="form-control form-control-lg" id="signin-username" 
                            placeholder="email" formControlName="email" [(ngModel)]="email">
                        </div>
                        <div class="col-xl-12 mb-2">
                            <label for="signin-password" class="form-label text-default d-block">Password<a  routerLink="/authentication/reset-password/basic" class="float-end text-danger">Forgot password ?</a></label>
                            <div class="position-relative">
                                <input type="password" class="form-control form-control-lg" id="signin-password" placeholder="password" [type]="showPassword ? 'text' : 'password'" autocomplete
                                formControlName="password" [(ngModel)]="password" required>
                                <a href="javascript:void(0);" class="show-password-button text-muted" (click)="createpassword()" id="button-addon2"><i class="ri-eye-{{toggleClass}} align-middle"></i></a>
                            </div>
                            <div class="mt-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                        Remember password ?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center my-3 authentication-barrier">
                        <span>OR</span>
                    </div>
                    <!-- <div class="d-grid mb-3">
                        <button class="btn btn-lg btn-light-ghost border d-flex align-items-center justify-content-center">
                            <span class="avatar avatar-xs">
                                <img src="./assets/images/media/apps/google1.png" alt="">
                            </span>
                            <span class="lh-1 ms-2 fs-13 text-default">Signin with Google</span>
                        </button>
                    </div> -->
                    <!-- <div class="d-grid mb-3">
                        <button class="btn btn-lg btn-light-ghost border d-flex align-items-center justify-content-center">
                            <span class="avatar avatar-xs invert-1">
                                <img src="./assets/images/media/apps/apple.png" alt="">
                            </span>
                            <span class="lh-1 ms-2 fs-13 text-default">Signin with Apple</span>
                        </button>
                    </div> -->
                    <div class="d-grid mt-4">
                        <!-- <a routerLink="/dashboard/sales" class="btn btn-lg btn-primary">Sign In</a> -->
                        
                        <button type="submit"  class="btn btn-lg btn-primary"
                            autofocus >Sign In</button>
                        
                    </div>
                </form>
                    <div class="text-center">
                        <p class="text-muted mt-3 mb-0">Dont have an account? <a routerLink="/authentication/sign-up/basic" class="text-primary">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
