<app-page-header title="Toasts" title1="Ui-Elements" activeTitle="Toasts" ></app-page-header>
 <!-- Start:: row-1 -->
 <div class="row">
    <div class="col-xl-12">
        
        <app-showcode-card [title]="'Live example'" [prism]="prismCode.toasts1">
          <button
          type="button"
          class="btn btn-primary btn-wave"
          id="liveToastBtn"
          (click)="showToast()"
          >
          Show live toast
        </button>
        <div class="toast-container position-fixed top-0 end-0">
          @for (toast of toasts; track toast) {
            <ngb-toast
              [delay]="5000"
              [autohide]="toast.autohide"
              (hide)="hideToast(toast)"
              [class.bg-warning]="!toast.autohide"
              class="text-default"
              >
              <ng-template ngbToastHeader >
                  <img
                    class="bd-placeholder-img rounded me-2"
                    src="./assets/images/brand-logos/favicon.ico"
                    alt="Your Image"
                    />
                    <strong class="me-auto text-default">Udon</strong>
                    <small>11 mins ago</small>
              </ng-template>
              Hello, world! This is a toast message
              </ngb-toast>
            }
          </div>
                </app-showcode-card>
        </div>
        
        <app-showcode-card [title]="'Color schemes'" [prism]="prismCode.toasts2">
               @if (show6){
                <ngb-toast  class="toast align-items-center text-bg-primary  border-0 fade show  mb-4" [autohide]="false">
                    <div
                      class="align-items-center show"
                      role="alert"
                      aria-live="assertive"
                      aria-atomic="true"
                      data-bs-autohide="false"
                    >
                      <div class="d-flex">
                        <div class="text-fixed-white">
                          Hello, world! This is the Primary toast message
                        </div>
                        <button
                          aria-label="Close"
                          class="btn-close btn-close-white me-2 m-auto"
                          data-bs-dismiss="toast"
                          (click)="show6 = false"
                        >
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                  </ngb-toast>
               }
               @if (show7){
                <ngb-toast  class="toast align-items-center text-bg-secondary border-0 fade show mb-4" [autohide]="false">
                    <div
                      class="align-items-center show"
                      role="alert"
                      aria-live="assertive"
                      aria-atomic="true"
                      data-bs-autohide="false"
                    >
                      <div class="d-flex">
                        <div class="text-fixed-white">
                            Hello, world! This is the Secondary toast.
                        </div>
                        <button
                          aria-label="Close"
                          class="btn-close btn-close-white me-2 m-auto"
                          data-bs-dismiss="toast"
                          (click)="show7 = false"
                        >
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                  </ngb-toast>
               }
               @if (show8){
                <ngb-toast  class="toast align-items-center text-bg-warning border-0 fade show mb-4" [autohide]="false">
                    <div
                      class="align-items-center show"
                      role="alert"
                      aria-live="assertive"
                      aria-atomic="true"
                      data-bs-autohide="false"
                    >
                      <div class="d-flex">
                        <div class="text-fixed-white">
                            Hello, world! This is the  warning toast message.
                        </div>
                        <button
                          aria-label="Close"
                          class="btn-close btn-close-white me-2 m-auto"
                          data-bs-dismiss="toast"
                          (click)="show8 = false"
                        >
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                  </ngb-toast>
               }
               @if (show9){
                <ngb-toast  class="toast align-items-center text-bg-info border-0 fade show" [autohide]="false">
                    <div
                      class="align-items-center show"
                      role="alert"
                      aria-live="assertive"
                      aria-atomic="true"
                      data-bs-autohide="false"
                    >
                      <div class="d-flex">
                        <div class="text-fixed-white">
                            Hello, world! This is the info toast message.
                        </div>
                        <button
                          aria-label="Close"
                          class="btn-close btn-close-white me-2 m-auto"
                          data-bs-dismiss="toast"
                          (click)="show9 = false"
                        >
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                  </ngb-toast>
               }
               </app-showcode-card>

    </div>
    <div class="col-xl-12">
        
        <app-showcode-card [title]="'Basic example'" [prism]="prismCode.toasts3">
                    @if (show) {
                        <ngb-toast [autohide]="false" (hidden)="show = false">
                            <ng-template ngbToastHeader>
                                <div class="me-auto">
                                    <img class="bd-placeholder-img rounded me-2" src="./assets/images/brand-logos/favicon.ico" alt="...">
                                    <strong class="mx-1 ">Udon</strong>
                                </div>
                                <small>11 mins ago</small>
                            </ng-template>
                            Hello, world! This is a toast message.
                        </ngb-toast>
                    }
                    </app-showcode-card>
        
        <app-showcode-card [title]="'Stacking'" [prism]="prismCode.toasts4">
                <div class="toast-container position-static">
                    @if (show1) {
                        <ngb-toast [autohide]="false" (hidden)="show1 = false">
                            <ng-template ngbToastHeader>
                                <div class="me-auto">
                                    <img class="bd-placeholder-img rounded me-2" src="./assets/images/brand-logos/favicon.ico" alt="...">
                                    <strong class="mx-1 ">Udon</strong>
                                </div>
                                <small>just now</small>
                            </ng-template>
                            See? Just like this.
                        </ngb-toast>
                    }
                    @if (show2) {
                        <ngb-toast [autohide]="false" (hidden)="show1 = false">
                            <ng-template ngbToastHeader>
                                <div class="me-auto">
                                    <img class="bd-placeholder-img rounded me-2" src="./assets/images/brand-logos/favicon.ico" alt="...">
                                    <strong class="mx-1 ">Udon</strong>
                                </div>
                                <small>2 seconds ago</small>
                            </ng-template>
                            Heads up, toasts will stack automatically
                        </ngb-toast>
                    }
                  
                </div>
                </app-showcode-card>

    </div>
    <div class="col-xl-12">
        
        <app-showcode-card [title]="'Translucent'" [prism]="prismCode.toasts5">
                    @if (show3) {
                        <ngb-toast [autohide]="false" (hidden)="show3 = false">
                            <ng-template ngbToastHeader>
                                <div class="me-auto">
                                    <img class="bd-placeholder-img rounded me-2" src="./assets/images/brand-logos/favicon.ico" alt="...">
                                    <strong class="mx-1 ">Udon</strong>
                                </div>
                                <small>11 mins ago</small>
                            </ng-template>
                            Hello, world! This is a toast message.
                        </ngb-toast>
                    }
                    </app-showcode-card>
       
        
        <app-showcode-card [title]="'Custom content'" [prism]="prismCode.toasts6">
                @if (show10){
                    <ngb-toast  class="toast align-items-center  mb-2 fade show" [autohide]="false">
                        <div
                          class="align-items-center show"
                          role="alert"
                          aria-live="assertive"
                          aria-atomic="true"
                          data-bs-autohide="false"
                        >
                          <div class="d-flex">
                            <div class="text-black">
                                Hello, world! This is a toast message.
                            </div>
                            <button
                              aria-label="Close"
                              class="btn-close  me-2 m-auto"
                              data-bs-dismiss="toast"
                              (click)="show10 = false"
                            >
                              <span aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </ngb-toast>
                   }
                <div>
                    <span class="my-4 text-muted">
                        Alternatively, you can also add additional controls and components to
                        toasts.
                    </span>
                </div>
                @if (show11){
                <ngb-toast
                [autohide]="false"
                class="toast fade show mt-2"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
              >
               
                  Hello, world! This is a toast message.
                  <div class="mt-2 pt-2 me-2 border-top">
                    <button type="button" class="btn btn-primary btn-sm btn-wave m-1">
                      Take action
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary btn-sm btn-wave"
                      data-bs-dismiss="toast"
                      (click)="show11 = false"
                    >
                      Close
                    </button>
                  </div>
                
              </ngb-toast>
            }
            </app-showcode-card>
 
    </div>

<!-- End:: row-1 -->

<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xl-12">
        
        <app-showcode-card [title]="'Color Variants Live'" [prism]="prismCode.toasts7">
          <div class="btn-list">
            <button type="button" class="btn btn-primary-light me-2 btn-wave" id="primaryToastBtn" (click)="showToastprimary()">Primary</button>
            <button type="button" class="btn btn-secondary-light me-2 btn-wave" id="secondaryToastBtn" (click)="showToastseconday()">secondary</button>
            <button type="button" class="btn btn-warning-light me-2 btn-wave" id="warningToastBtn" (click)="showToastwarning()">warning</button>
            <button type="button" class="btn btn-info-light me-2 btn-wave" id="infoToastBtn"  (click)="showToastinfo()">info</button>
            <button type="button" class="btn btn-success-light me-2 btn-wave" id="successToastBtn" (click)="showToastsuccess()">success</button>
            <button type="button" class="btn btn-danger-light me-2 btn-wave" id="dangerToastBtn" (click)="showToastdanger()">danger</button>
        </div>
        <div class="toast-container position-fixed top-0 end-0 p-3">
            @for (toast of toasts1; track toast) {
                <ngb-toast
                  class="toast colored-toast bg-primary-transparent"
                  [delay]="5000"
                  [autohide]="toast.autohide"
                  (hide)="hideToastprimary(toast)"
                  [class.bg-warning]="!toast.autohide"
                  >
                  <ng-template ngbToastHeader>
                    <img
                      class="bd-placeholder-img rounded me-2"
                      src="./assets/images/brand-logos/toggle-dark.png"
                      alt="..."
                      />
                      <strong class="me-auto">Udon</strong>
                    </ng-template>
                    Your,toast message here.
                  </ngb-toast>
                }
                @for (toast of toasts2; track toast) {
                  <ngb-toast
                    class="toast colored-toast bg-secondary-transparent"
                    [delay]="5000"
                    [autohide]="toast.autohide"
                    (hide)="hideToastsecondary(toast)"
                    [class.bg-warning]="!toast.autohide"
                    >
                    <ng-template ngbToastHeader>
                      <img
                        class="bd-placeholder-img rounded me-2"
                        src="./assets/images/brand-logos/toggle-dark.png"
                        alt="..."
                        />
                        <strong class="me-auto">Udon</strong>
                      </ng-template>
                      Your,toast message here.
                    </ngb-toast>
                  }
                  @for (toast of toasts3; track toast) {
                    <ngb-toast
                      class="toast colored-toast bg-warning-transparent"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="hideToastwarning(toast)"
                      [class.bg-warning]="!toast.autohide"
                      >
                      <ng-template ngbToastHeader>
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                    }
                    @for (toast of toasts4; track toast) {
                      <ngb-toast
                        class="toast colored-toast bg-info-transparent"
                        [delay]="5000"
                        [autohide]="toast.autohide"
                        (hide)="hideToastinfo(toast)"
                        [class.bg-danger]="!toast.autohide"
                        >
                        <ng-template ngbToastHeader>
                          <img
                            class="bd-placeholder-img rounded me-2"
                            src="./assets/images/brand-logos/toggle-dark.png"
                            alt="..."
                            />
                            <strong class="me-auto">Udon</strong>
                          </ng-template>
                          Your,toast message here.
                        </ngb-toast>
                      }
    
                      @for (toast of toasts5; track toast) {
                        <ngb-toast
                          class="toast colored-toast bg-success-transparent"
                          [delay]="5000"
                          [autohide]="toast.autohide"
                          (hide)="hideToastsuccess(toast)"
                          [class.bg-warning]="!toast.autohide"
                          >
                          <ng-template ngbToastHeader>
                            <img
                              class="bd-placeholder-img rounded me-2"
                              src="./assets/images/brand-logos/toggle-dark.png"
                              alt="..."
                              />
                              <strong class="me-auto">Udon</strong>
                            </ng-template>
                            Your,toast message here.
                          </ngb-toast>
                        }
    
                        @for (toast of toasts6; track toast) {
                          <ngb-toast
                            class="toast colored-toast bg-danger-transparent"
                            [delay]="5000"
                            [autohide]="toast.autohide"
                            (hide)="hideToastdanger(toast)"
                            [class.bg-danger]="!toast.autohide"
                            >
                            <ng-template ngbToastHeader>
                              <img
                                class="bd-placeholder-img rounded me-2"
                                src="./assets/images/brand-logos/toggle-dark.png"
                                alt="..."
                                />
                                <strong class="me-auto">Udon</strong>
                              </ng-template>
                              Your,toast message here.
                            </ngb-toast>
                          }
        </div>
                </app-showcode-card>
    </div>
    <div class="col-xl-12">
        
        <app-showcode-card [title]="'Solid Background Toasts'" [prism]="prismCode.toasts8">
          <div class="btn-list">
            <button type="button" class="btn btn-primary me-2 btn-wave" id="solidprimaryToastBtn"  (click)="SolidToastprimary()">Primary</button>
            <button type="button" class="btn btn-secondary me-2 btn-wave" id="solidsecondaryToastBtn"  (click)="SolidToastsecondary()" >secondary</button>
            <button type="button" class="btn btn-warning me-2 btn-wave" id="solidwarningToastBtn"  (click)="SolidToastwarning()">warning</button>
            <button type="button" class="btn btn-info me-2 btn-wave" id="solidinfoToastBtn" (click)="SolidToastinfo()">info</button>
            <button type="button" class="btn btn-success me-2 btn-wave" id="solidsuccessToastBtn"  (click)="SolidToastsuccess()">success</button>
            <button type="button" class="btn btn-danger me-2 btn-wave" id="soliddangerToastBtn" (click)="SolidToastdanger()">danger</button>
        </div>
        <div class="toast-container position-fixed top-0 end-0 p-3">
            @for (toast of toastsA; track toast) {
                <ngb-toast
                  id="solid-primaryToast"
                  class="toast colored-toast bg-primary text-fixed-white"
                  [delay]="5000"
                  [autohide]="toast.autohide"
                  (click)="hideSolidToastprimary(toast)"
                  [class.bg-warning]="!toast.autohide"
                  >
                  <ng-template ngbToastHeader>
                    <img
                      class="bd-placeholder-img rounded me-2"
                      src="./assets/images/brand-logos/toggle-dark.png"
                      alt="..."
                      />
                      <strong class="me-auto">Udon</strong>
                    </ng-template>
                    Your,toast message here.
                  </ngb-toast>
                }
                @for (toast of toastsB; track toast) {
                  <ngb-toast
                    id="solid-secondaryToast"
                    class="toast colored-toast bg-secondary text-fixed-white"
                    [delay]="5000"
                    [autohide]="toast.autohide"
                    (hide)="hideSolidToastsecondary(toast)"
                    [class.bg-warning]="!toast.autohide"
                    >
                    <ng-template ngbToastHeader>
                      <img
                        class="bd-placeholder-img rounded me-2"
                        src="./assets/images/brand-logos/toggle-dark.png"
                        alt="..."
                        />
                        <strong class="me-auto">Udon</strong>
                      </ng-template>
                      Your,toast message here.
                    </ngb-toast>
                  }
                  @for (toast of toastsC; track toast) {
                    <ngb-toast
                      id="solid-warningToast"
                      class="toast colored-toast bg-warning text-fixed-white"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="hideSolidToastwarning(toast)"
                      >
                      <ng-template ngbToastHeader>
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                    }
                    @for (toast of toastsD; track toast) {
                      <ngb-toast
                        id="solid-infoToast"
                        class="toast colored-toast bg-info text-fixed-white"
                        [delay]="5000"
                        [autohide]="toast.autohide"
                        (hide)="hideSolidToastinfo(toast)"
                        [class.bg-warning]="!toast.autohide"
                        >
                        <ng-template ngbToastHeader>
                          <img
                            class="bd-placeholder-img rounded me-2"
                            src="./assets/images/brand-logos/toggle-dark.png"
                            alt="..."
                            />
                            <strong class="me-auto">Udon</strong>
                          </ng-template>
                          Your,toast message here.
                        </ngb-toast>
                      }
                      @for (toast of toastsE; track toast) {
                        <ngb-toast
                          id="solid-successToast"
                          class="toast colored-toast bg-success text-fixed-white"
                          [delay]="5000"
                          [autohide]="toast.autohide"
                          (hide)="hideSolidToastsuccess(toast)"
                          [class.bg-warning]="!toast.autohide"
                          >
                          <ng-template ngbToastHeader>
                            <img
                              class="bd-placeholder-img rounded me-2"
                              src="./assets/images/brand-logos/toggle-dark.png"
                              alt="..."
                              />
                              <strong class="me-auto">Udon</strong>
                            </ng-template>
                            Your,toast message here.
                          </ngb-toast>
                        }
                        @for (toast of toastsF; track toast) {
                          <ngb-toast
                            id="solid-dangerToast"
                            class="toast colored-toast bg-danger text-fixed-white"
                            [delay]="5000"
                            [autohide]="toast.autohide"
                            (hide)="hideSolidToastdanger(toast)"
                            [class.bg-warning]="!toast.autohide"
                            >
                            <ng-template ngbToastHeader>
                              <img
                                class="bd-placeholder-img rounded me-2"
                                src="./assets/images/brand-logos/toggle-dark.png"
                                alt="..."
                                />
                                <strong class="me-auto">Udon</strong>
                              </ng-template>
                              Your,toast message here.
                            </ngb-toast>
                          }
        </div>
                </app-showcode-card>
    </div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
<div class="row">
    <div class="col-xl-12">
        
        <app-showcode-card [title]="'Toast Placements'" [prism]="prismCode.toasts9">
                <div class="btn-list">
                    <button type="button" class="btn btn-outline-primary me-2 btn-wave" id="topleftToastBtn" (click)="TopLeft()">Top Left</button>
                    <button type="button" class="btn btn-outline-primary me-2 btn-wave" id="topcenterToastBtn" (click)="TopCenter()">Top Center</button>
                    <button type="button" class="btn btn-outline-primary me-2 btn-wave" id="toprightToastBtn" (click)="TopRight()">Top Right</button>
                    <button type="button" class="btn btn-outline-primary me-2 btn-wave" id="middleleftToastBtn" (click)="MiddleLeft()">Middle Left</button>
                    <button type="button" class="btn btn-outline-primary me-2 btn-wave" id="middlecenterToastBtn" (click)="MiddleCenter()">Middle Center</button>
                    <button type="button" class="btn btn-outline-primary me-2 btn-wave" id="middlerightToastBtn" (click)="MiddleRight()">Middle Right</button>
                    <button type="button" class="btn btn-outline-primary me-2 btn-wave" id="bottomleftToastBtn" (click)="BottomLeft()">Bottom Left</button>
                    <button type="button" class="btn btn-outline-primary me-2 btn-wave" id="bottomcenterToastBtn" (click)="BottomCenter()">Bottom Center</button>
                    <button type="button" class="btn btn-outline-primary me-2 btn-wave" id="bottomrightToastBtn" (click)="BottomRight()">Bottom Right</button>
                </div>
                <div class="toast-container position-fixed top-0 start-0 p-3">
                  @for (toast of toasts7; track toast) {
                    <ngb-toast
                      class="toast colored-toast bg-primary-transparent"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="hideToastprimary(toast)"
                      [class.bg-warning]="!toast.autohide"
                      >
                      <ng-template ngbToastHeader class="bg-primary">
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                    }
                </div>
                <div class="toast-container position-fixed top-0 start-50  translate-middle-x p-3">
                    @for (toast of toasts8; track toasts8) {
                      <ngb-toast
                      class="toast colored-toast bg-primary-transparent"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="hideToastprimary(toast)"
                      [class.bg-warning]="!toast.autohide"
                      >
                      <ng-template ngbToastHeader class="bg-primary">
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                
            }
                </div>
                <div class="toast-container position-fixed top-0 end-0 p-3">
                    @for (toast of toasts9; track toasts9) {
                      <ngb-toast
                      class="toast colored-toast bg-primary-transparent"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="hideToastprimary(toast)"
                      [class.bg-warning]="!toast.autohide"
                      >
                      <ng-template ngbToastHeader class="bg-primary">
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                    
            }
                </div>
                <div class="toast-container position-fixed top-50 start-0 translate-middle-y p-3">
                    @for (toast of toasts10; track toasts10) {
                      <ngb-toast
                      class="toast colored-toast bg-primary-transparent"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="MiddleLefthideToast(toast)"
                      [class.bg-warning]="!toast.autohide"
                      >
                      <ng-template ngbToastHeader class="bg-primary">
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                     
            }
                </div>
                <div class="toast-container position-fixed top-50 start-50 translate-middle">
                    @for (toast of toasts11; track toasts11) {
                      <ngb-toast
                      class="toast colored-toast bg-primary-transparent"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="MiddleCenterhideToast(toast)"
                      [class.bg-warning]="!toast.autohide"
                      >
                      <ng-template ngbToastHeader class="bg-primary">
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                     
            }
                </div>
                <div class="toast-container position-fixed top-50 end-0 translate-middle-y p-3">
                    @for (toast of toasts12; track toasts12) {
                      <ngb-toast
                      class="toast colored-toast bg-primary-transparent"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="MiddleRighthideToast(toast)"
                      [class.bg-warning]="!toast.autohide"
                      >
                      <ng-template ngbToastHeader class="bg-primary">
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                 
            }
                </div>
                <div class="toast-container position-fixed bottom-0 start-0 p-3">
                    @for (toast of toasts13; track toasts13) {
                      <ngb-toast
                      class="toast colored-toast bg-primary-transparent"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="BottomLefthideToast(toast)"
                      [class.bg-warning]="!toast.autohide"
                      >
                      <ng-template ngbToastHeader class="bg-primary">
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                    
            }
                </div>
                <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
                    @for (toast of toasts14; track toasts14) {
                      <ngb-toast
                      class="toast colored-toast bg-primary-transparent"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="BottomCenterthideToast(toast)"
                      [class.bg-warning]="!toast.autohide"
                      >
                      <ng-template ngbToastHeader class="bg-primary">
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                     
            }
                </div>
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    @for (toast of toasts15; track toasts15) {
                      <ngb-toast
                      class="toast colored-toast bg-primary-transparent"
                      [delay]="5000"
                      [autohide]="toast.autohide"
                      (hide)="BottomRighthideToast(toast)"
                      [class.bg-warning]="!toast.autohide"
                      >
                      <ng-template ngbToastHeader class="bg-primary">
                        <img
                          class="bd-placeholder-img rounded me-2"
                          src="./assets/images/brand-logos/toggle-dark.png"
                          alt="..."
                          />
                          <strong class="me-auto">Udon</strong>
                        </ng-template>
                        Your,toast message here.
                      </ngb-toast>
                    
            }
                </div>
                </app-showcode-card>
    </div>
</div>
<!-- End:: row-3 -->

<!-- Start:: row-4 -->
<div class="row">
    <div class="col-xl-12">
        
        <app-showcode-card [title]="'Aligning Toast Using Flexbox'" [prism]="prismCode.toasts10">
                <div class="bd-example bg-light bd-example-toasts d-flex p-0">
                    <div aria-live="polite" aria-atomic="true"
                        class="d-flex justify-content-center align-items-center w-100">
                        
                            @if (show5) {
                                <ngb-toast class="shadow-lg fade" [autohide]="false" (hidden)="show5 = false">
                                    <ng-template ngbToastHeader>
                                        <div class="me-auto">
                                            <img class="bd-placeholder-img rounded me-2" src="./assets/images/brand-logos/favicon.ico" alt="...">
                                            <strong class="mx-1 ">Udon</strong>
                                        </div>
                                        <small>11 mins ago</small>
                                    </ng-template>
                                    Hello, world! This is a toast message.
                                </ngb-toast>
                            }
                    </div>
                </div>
                </app-showcode-card>
    </div>
</div>
<!-- End:: row-4 -->
