<p>project-details works!</p>
<!-- Start::row-2 -->
<div class="row">
    <div class="col-xl-7">
        <div class="card custom-card overflow-hidden">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Basic Details
                </div>
                <div ngbDropdown  class="dropdown">
                    <button aria-label="button"  type="button" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                        <i class="ri-edit-line"></i>
                    </button>
                    <ul ngbDropdownMenu  class="dropdown-menu" role="menu">
                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Today</a></li>
                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Last Week</a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table text-nowrap table-hover">
                        <thead>
                            <!-- <tr>
                                <th scope="col">Project Name</th>
                                <th scope="col">Job Title</th>
                                <th scope="col">Applied Date</th>
                                <th scope="col">Resume</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr> -->
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        Project Name
                                    </div>
                                    <div class="d-flex align-items-center">
                                        MARINA SKIES( RVNSS. RAJU) 
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        Client
                                    </div>
                                    <div class="d-flex align-items-center">
                                        RVNSS RAJU 
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        Business Category
                                    </div>
                                    <div class="d-flex align-items-center">
                                        IR Residential
                                    </div>
                                </td>
                                <!-- <td>
                                    <div class="d-flex align-items-center">
                                        
                                    </div>
                                    <div class="d-flex align-items-center">
                                        
                                    </div>
                                </td> -->
                            </tr>
                            
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        Project Address
                                    </div>
                                    <div class="d-flex align-items-center">
                                        Mosapet, Hyderabad. 
                                    </div>
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        State
                                    </div>
                                    <div class="d-flex align-items-center">
                                        Telangana
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                       city
                                    </div>
                                    <div class="d-flex align-items-center">
                                        Hyderabad
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>



<!-- End::row-2 -->