<app-page-header title="Team" title1="Pages" activeTitle="Team" ></app-page-header>
<!-- Start:: row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-3"> 
                <div class="text-center card custom-card p-5 border rounded">
                    <div class="mb-3">
                        <span class="avatar avatar-xl avatar-rounded team-avatar online">
                            <img src="./assets/images/faces/11.jpg" alt="">
                        </span>
                    </div>
                    <div class="team-member-details flex-fill mb-4">
                        <span class="mb-0 fw-medium fs-16 text-truncate d-block">
                            <a href="javascript:void(0);">Christopher</a>
                        </span>
                        <span class="mb-0 fs-13 text-muted d-block">Christopher2135&#64;gmail.com</span>
                    </div>
                    <div class="btn-list">
                        <button class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"> 
                <div class="text-center card custom-card p-5 border rounded">
                    <div class="mb-3">
                        <span class="avatar avatar-xl avatar-rounded team-avatar offline">
                            <img src="./assets/images/faces/2.jpg" alt="">
                        </span>
                    </div>
                    <div class="team-member-details flex-fill mb-4">
                        <span class="mb-0 fw-medium fs-16 text-truncate d-block">
                            <a href="javascript:void(0);">Isabella</a>
                        </span>
                        <span class="mb-0 fs-13 text-muted d-block">Isabella334&#64;gmail.com</span>
                    </div>
                    <div class="btn-list">
                        <button class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"> 
                <div class="text-center card custom-card p-5 border rounded">
                    <div class="mb-3">
                        <span class="avatar avatar-xl avatar-rounded team-avatar online">
                            <img src="./assets/images/faces/4.jpg" alt="">
                        </span>
                    </div>
                    <div class="team-member-details flex-fill mb-4">
                        <span class="mb-0 fw-medium fs-16 text-truncate d-block">
                            <a href="javascript:void(0);">Abigail</a>
                        </span>
                        <span class="mb-0 fs-13 text-muted d-block">Abigail1994&#64;gmail.com</span>
                    </div>
                    <div class="btn-list">
                        <button class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"> 
                <div class="text-center card custom-card p-5 border rounded">
                    <div class="mb-3">
                        <span class="avatar avatar-xl avatar-rounded team-avatar online">
                            <img src="./assets/images/faces/10.jpg" alt="">
                        </span>
                    </div>
                    <div class="team-member-details flex-fill mb-4">
                        <span class="mb-0 fw-medium fs-16 text-truncate d-block">
                            <a href="javascript:void(0);">Robert</a>
                        </span>
                        <span class="mb-0 fs-13 text-muted d-block">Robert123&#64;gmail.com</span>
                    </div>
                    <div class="btn-list">
                        <button class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"> 
                <div class="text-center card custom-card p-5 border rounded">
                    <div class="mb-3">
                        <span class="avatar avatar-xl avatar-rounded team-avatar offline">
                            <img src="./assets/images/faces/13.jpg" alt="">
                        </span>
                    </div>
                    <div class="team-member-details flex-fill mb-4">
                        <span class="mb-0 fw-medium fs-16 text-truncate d-block">
                            <a href="javascript:void(0);">Benjamin</a>
                        </span>
                        <span class="mb-0 fs-13 text-muted d-block">Benjamin435&#64;gmail.com</span>
                    </div>
                    <div class="btn-list">
                        <button class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"> 
                <div class="text-center card custom-card p-5 border rounded">
                    <div class="mb-3">
                        <span class="avatar avatar-xl avatar-rounded team-avatar online">
                            <img src="./assets/images/faces/5.jpg" alt="">
                        </span>
                    </div>
                    <div class="team-member-details flex-fill mb-4">
                        <span class="mb-0 fw-medium fs-16 text-truncate d-block">
                            <a href="javascript:void(0);">Charlotte</a>
                        </span>
                        <span class="mb-0 fs-13 text-muted d-block">Charlotte390&#64;gmail.com</span>
                    </div>
                    <div class="btn-list">
                        <button class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"> 
                <div class="text-center card custom-card p-5 border rounded">
                    <div class="mb-3">
                        <span class="avatar avatar-xl avatar-rounded team-avatar online">
                            <img src="./assets/images/faces/8.jpg" alt="">
                        </span>
                    </div>
                    <div class="team-member-details flex-fill mb-4">
                        <span class="mb-0 fw-medium fs-16 text-truncate d-block">
                            <a href="javascript:void(0);">Scarlett</a>
                        </span>
                        <span class="mb-0 fs-13 text-muted d-block">Scarlett534&#64;gmail.com</span>
                    </div>
                    <div class="btn-list">
                        <button class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"> 
                <div class="text-center card custom-card p-5 border rounded">
                    <div class="mb-3">
                        <span class="avatar avatar-xl avatar-rounded team-avatar online">
                            <img src="./assets/images/faces/15.jpg" alt="">
                        </span>
                    </div>
                    <div class="team-member-details flex-fill mb-4">
                        <span class="mb-0 fw-medium fs-16 text-truncate d-block">
                            <a href="javascript:void(0);">Richard</a>
                        </span>
                        <span class="mb-0 fs-13 text-muted d-block">Richard2000&#64;gmail.com</span>
                    </div>
                    <div class="btn-list">
                        <button class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>    
        <nav aria-label="...">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End:: row-1 -->
