<div class="row authentication coming-soon justify-content-center g-0 my-auto">
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-12 my-auto">
        <div class="authentication-cover">
            <div class="aunthentication-cover-content text-center">
                <div class="row justify-content-center align-items-center mx-0 g-0">
                    <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-md-0 mb-5">
                        <div class="mb-2">
                            <a routerLink="/dashboard/sales">
                                <img src="./assets/images/brand-logos/toggle-logo.png" alt=""
                                    class="authentication-brand">
                            </a>
                        </div>
                        <p class="fs-12 mb-1 text-muted">STAY TUNED</p>
                        <h1 class="mb-3">Under Maintenance</h1>
                        <p class="mb-4">Our website is currently undergoing maintenance. Kindly share your email address
                            to stay informed about the latest updates and notifications regarding our website.</p>
                        <div class="input-group mb-5">
                            <input type="email" class="form-control form-control-lg border border-primary"
                                placeholder="info@gmail.com" aria-label="info@gmail.com"
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary btn-lg" type="button" id="button-addon2">Subscribe</button>
                        </div>
                        <div class="d-flex gap-3 flex-wrap mt-4 mb-5 gy-xxl-0 gy-3 justify-content-center" id="timer">
                            <div>
                                <div class="">
                                    <p class="mb-1 fs-12">DAYS</p>
                                    <h4
                                        class="mb-0 avatar d-block avatar-rounded bg-primary-transparent avatar-xxl mt-2">
                                        {{ days }}</h4>
                                </div>
                            </div>
                            <div>
                                <div class="">
                                    <p class="mb-1 fs-12">HOURS</p>
                                    <h4
                                        class="avatar d-block avatar-rounded bg-primary-transparent avatar-xxl mb-0 mt-2">
                                        {{ hours }}</h4>
                                </div>
                            </div>
                            <div>
                                <div class="">
                                    <p class="mb-1 fs-12">MINUTES</p>
                                    <h4
                                        class="mb-0 avatar d-block avatar-rounded bg-primary-transparent avatar-xxl mt-2">
                                        {{ mins }}</h4>
                                </div>
                            </div>
                            <div>
                                <div class="">
                                    <p class="mb-1 fs-12">SECONDS</p>
                                    <h4
                                        class="mb-0 avatar d-block avatar-rounded bg-primary-transparent avatar-xxl mt-2">
                                        {{ secs }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<footer class="footer mt-auto py-3 ps-0 text-default text-center authentication-footer position-absolute bottom-0 w-100"> 
<div class="d-flex align-items-center justify-content-sm-between justify-content-center px-4 flex-wrap gap-3">
     <span class="text-muted"> Copyright © 2024 <a href="javascript:void(0);" class="text-dark">Udon</a>. Designed with 
     <span class="bi bi-heart-fill text-danger"></span> by <a href="javascript:void(0);"> <span class="text-primary text-decoration-underline">Spruko</span> </a> All rights reserved 
    </span> <div class="btn-list"> <button class="btn btn-icon btn-sm btn-primary-ghost btn-wave"> <i class="ri-facebook-line fw-bold"></i> </button> 
        <button class="btn btn-icon btn-sm btn-secondary-ghost btn-wave"> <i class="ri-twitter-x-line fw-bold"></i> </button>
         <button class="btn btn-icon btn-sm btn-warning-ghost btn-wave"> <i class="ri-instagram-line fw-bold"></i> </button> 
         <button class="btn btn-icon btn-sm btn-success-ghost btn-wave"> <i class="ri-github-line fw-bold"></i> </button> 
         <button class="btn btn-icon btn-sm btn-danger-ghost btn-wave"> <i class="ri-youtube-line fw-bold"></i> </button>
         </div> </div> </footer>