<app-page-header title="Job-Post" title1="Jobs" activeTitle="Job-Post" ></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xxl-9 col-xl-8">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Post New Job
                </div>                       
            </div>
            <div class="card-body">
                <div class="row gy-4 mb-4"> 
                    <div class="col-xl-6">
                        <label for="job-title" class="form-label">Job Title</label>
                        <input type="text" class="form-control" id="job-title" placeholder="Job Title" value="Web Developer">
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Job Category</label> 
                        <ng-select data-trigger name="Category-select" placeholder="Development"
                               >
                                <ng-option value="Choice 1">Development</ng-option>
                                <ng-option value="Choice 2">Marketing</ng-option>
                                <ng-option value="Choice 3">IT Software</ng-option>
                            </ng-select>
                    </div> 
                    <div class="col-xl-6">
                        <label class="form-label">Working Experience</label> 
                        <ng-select data-trigger name="Experience"
                        placeholder="0 - 1 Years">
                       <ng-option value="Choice 1">0 - 1 Years</ng-option>
                       <ng-option value="Choice 2">1 - 3 Years</ng-option>
                       <ng-option value="Choice 3">3 - 5 Years</ng-option>
                   </ng-select>
                    </div> 
                    <div class="col-xl-6">
                        <label class="form-label">Job Type</label> 
                        <ng-select data-trigger name="jobtype"
                        placeholder="Contract">
                        <ng-option value="Choice 1">Contract</ng-option>
                        <ng-option value="Choice 2">Freelance</ng-option>
                        <ng-option value="Choice 3">Full Time</ng-option>
                        <ng-option value="Choice 4">Part Time</ng-option>
                        <ng-option value="Choice 5">Internship</ng-option>
                    </ng-select>
                    </div> 
                    <div class="col-xl-6">
                        <label class="form-label">Priority</label> 
                        <ng-select data-trigger name="Priority"
                                placeholder="Normal">
                                <ng-option value="Choice 1">Normal</ng-option>
                                <ng-option value="Choice 2">Urgent</ng-option>
                            </ng-select>
                    </div>  
                    <div class="col-xl-6"> 
                        <label class="form-label">Vacancies</label> 
                        <ng-select data-trigger name="Vacancies"
                        placeholder="10">
                        <ng-option value="Choice 2">10</ng-option>
                        <ng-option value="Choice 3">20</ng-option>
                        <ng-option value="Choice 4">30</ng-option>
                        <ng-option value="Choice 5">40</ng-option>
                    </ng-select>
                    </div> 
                    <div class="col-xl-6"> 
                        <label class="form-label">Salary</label> 
                        <ng-select data-trigger name="Salary"
                                placeholder="0 - $1,00,000 / Year">
                                <ng-option value="Choice 2">0 - $1,00,000 / Year</ng-option>
                                <ng-option value="Choice 3">$1,00,000 - $3,00,000 / Year</ng-option>
                                <ng-option value="Choice 4">$3,00,000 - $5,00,000 / Year</ng-option>
                            </ng-select>
                    </div> 
                    <div class="col-xl-6">
                        <label for="skills" class="form-label">Skills :</label>
                        <ng-select  name="assigned-team-members" id="assigned-team-members" [multiple]="true" [(ngModel)]="selectedSkills">
                            @for (skill of Skills; track skill) {
                            <ng-option [value]="skill.id"
                              >{{skill.name}}</ng-option>
                            }
                        </ng-select>
                    </div>      
                    <div class="col-xl-6">
                        <label for="job-deadline" class="form-label">Job Deadline</label>
                        <input type="text" class="form-control" id="job-deadline" placeholder="Job Deadline"  mwlFlatpickr
                        [altInput]="true" [convertModelValue]="true" [enableTime]="false" dateFormat="Y-m-dTH:i">
                    </div>  
                    <div class="col-xl-6"> 
                        <label class="form-label">Gender Requirement</label> 
                        <ng-select data-trigger name="gender"
                                placeholder="SELECT">
                                <ng-option value="Choice 2">No Preferences</ng-option>
                                <ng-option value="Choice 3">Male Only</ng-option>
                                <ng-option value="Choice 4">Female Only</ng-option>
                            </ng-select>
                    </div>                                      
                    <div class="col-xl-6">
                        <label for="language" class="form-label">Languages :</label>
                        
                        <ng-select  name="assigned-team-members" id="assigned-team-members" [multiple]="true" [(ngModel)]="selectedLanguages">
                            @for (language of languages; track language) {
                            <ng-option  [value]="language.id"
                              >{{language.name}}</ng-option>
                            }
                        </ng-select>
                    </div>
                    <div class="col-xl-6">
                        <label for="qualification" class="form-label">Qualification :</label>
                       
                        <ng-select  name="assigned-team-members" id="assigned-team-members" [multiple]="true" [(ngModel)]="selectedQualifications">
                           @for (Qualification of Qualifications; track Qualification) {
                            <ng-option  [value]="Qualification.id"
                              >{{Qualification.name}}</ng-option>
                           }
                        </ng-select>
                    </div>
                    <div class="col-xl-12">
                        <label for="job-description" class="form-label">Job Description :</label>
                        <textarea class="form-control" id="job-description" rows="4">Lorem ipsum dolor sit amet consectetur adipisicing elit. At sit impedit, officiis non minima saepe voluptates a magnam enim sequi porro veniam ea suscipit dolorum vel mollitia voluptate iste nemo!</textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <a href="javascript:void(0);" class="btn btn-primary btn-wave waves-effect waves-light">
                    <i class="bi bi-plus-circle"></i> Post Job
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-4">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Assign To Employer</div>
            </div>
            <div class="card-body">
                <div class="col-xl-12">
                    <label class="form-label">Employer Name</label> 
                    <ng-select data-trigger class="text-muted" placeholder="Obligation Pvt.Ltd">
                        <ng-option value="Choice 1">Obligation Pvt.Ltd</ng-option>
                        <ng-option value="Choice 2">Voluptatem Pvt.Ltd</ng-option>
                        <ng-option value="Choice 3">BloomTech.Inc</ng-option>
                        <ng-option value="Choice 4">Spotech Technical Solutions</ng-option>
                    </ng-select>
                </div>                                 
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Company Details</div>
            </div>
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-xl-12">
                        <label for="Company-Name" class="form-label">Company Name</label> 
                        <input type="text" class="form-control text-muted" id="Company-Name" placeholder="Company Name" value="Obligation Pvt.Ltd">
                    </div>                                 
                    <div class="col-xl-12">
                        <label for="Company-Website" class="form-label">Company Website</label> 
                        <input type="text" class="form-control text-muted" id="Company-Website" placeholder="Company Website" value="http//www.obligationpvtltd.com">
                    </div>  
                    <div class="col-xl-12"> 
                        <label class="form-label">Country</label> 
                        <ng-select data-trigger name="Country"
                        placeholder="India">
                        <ng-option value="Choice 2">India</ng-option>
                        <ng-option value="Choice 3">USA</ng-option>
                        <ng-option value="Choice 4">Germany</ng-option>
                        <ng-option value="Choice 5">Spain</ng-option>
                        <ng-option value="Choice 6">Urgentina</ng-option>
                    </ng-select>
                    </div> 
                    <div class="col-xl-12">
                        <label for="Company-Address" class="form-label">Address</label> 
                        <input type="text" class="form-control" id="Company-Address" placeholder="Company Address" value="USA">
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->