<video class="video-background ratio ratio-4x3" src="./assets/video/school_of_fish.mp4" autoplay loop muted></video> 
<div class="container-lg">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="card custom-card my-4 bg-light p-2 text-white bg-opacity-25">
                <div class="card-body p-5">
                    <p class="h5 mb-2 text-center">Forgot Password</p>
                    <form [formGroup]="resetFrm" class="bg-light p-2 bg-opacity-25">
                    <div class="row gy-3">
                        <div class="col-xl-12" *ngIf="submt">
                            <!-- <label for="signin-username" class="form-label text-default">Email</label>
                            <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signin-username"  
                            [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="email"> -->
                            <!-- formControlName="email" [ngModel]="email" placeholder="email"> -->
                            <label for="signin-username" class="form-label text-default">Email</label> 
                            <div class="input-group"> 
                                <input type="email" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark"
                                 id="signup-email" placeholder="email"  onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                    (event.charCode >= 64 && event.charCode <= 90) || (event.charCode >= 97 && 
                                    event.charCode <= 122) || event.charCode == 8 || event.charCode == 46 || event.charCode == 95)'
                                    appShowCodeContent [(ngModel)] = 'email' [ngModelOptions]="{standalone: true}" [disabled]="isEmailDisable">
                                <button class="btn btn-outline-dark btn-wave" type="button" id="inputGroupFileAddon03"
                                (click)="onMailCheck()">Verify</button>
                            </div>
                        </div>
                        <div class="col-xl-12" *ngIf="submt">
                            <label for="signup-otp"
                                class="form-label text-default">OTP<span class="text-danger"> *</span></label>
                            <div class="input-group ">  
                                <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" 
                                    id="signup-otp" placeholder="OTP" appShowCodeContent maxlength="6" [disabled]="isOtpDisable"
                                    onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                    event.charCode == 8)' [(ngModel)] = 'otp' [ngModelOptions]="{standalone: true}">
                                <button class="btn btn-outline-dark btn-wave" type="button" id="inputGroup"
                                (click)="onOtpCheck()">Verify</button>
                            </div>
                            
                        </div>
                        <div class="d-grid mt-4" *ngIf="submt">
                            <button  class="btn btn-lg bg-light p-2 text-dark bg-opacity-25 border border-dark" 
                            (click)="onEmail()" >Submit</button>
                        </div>
                       
                        <div class="col-xl-12" *ngIf="!submt">
                            <label for="reset-newpassword" class="form-label text-default">New Password</label>
                            <div class="position-relative">
                                <input type="password" class="form-control form-control-lg" id="reset-newpassword" placeholder="new password" 
                                [type]="showPassword1 ? 'text' : 'password'" autocomplete [(ngModel)]="newPassword" 
                                formControlName="password" appShowCodeContent maxlength="16"
                                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" >
                                <!-- [ngModelOptions]="{standalone: true}"> -->
                                <a href="javascript:void(0);" class="show-password-button text-muted" (click)="createpassword1()" 
                                id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></a>
                                <!-- <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                                </div> -->
                                <div *ngIf="submitted && f['password'].errors || f['password'].touched" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors?.['required']">Password is required.</div>
                                    <div *ngIf="f['password'].errors?.['invalidPassword']">
                                        Password must be at least 8 characters long, contain one Special character at least one uppercase
                                        letter, one lowercase letter and one number.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 mb-2" *ngIf="!submt">
                            <label for="reset-confirmpassword" class="form-label text-default">Confirm Password</label>
                            <div class="position-relative">
                                <input type="password" class="form-control form-control-lg" id="reset-confirmpassword" placeholder="confirm password"
                                [type]="showPassword2 ? 'text' : 'password'" autocomplete [(ngModel)]="confirmPassword" 
                                [ngModelOptions]="{standalone: true}" appShowCodeContent maxlength="16">
                                <a href="javascript:void(0);" class="show-password-button text-muted"  (click)="createpassword2()" 
                                id="button-addon22"><i class="ri-eye-{{toggleClass2}} align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid mt-4" *ngIf = "!submt">
                        <a  class="btn btn-lg btn-primary" (click)="onResetpPassword()">Reset Password</a>
                    </div>
                </form>
                    <div class="text-center">
                        <p class="text-dark mt-3">Already have an account? <a routerLink="/auth/login" class="text-primary">Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
