<app-page-header title="My-Tasks" title1="Dashboards" activeTitle="My-Tasks"></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body p-0">
                        <div class="d-flex p-3 align-items-center justify-content-between">
                            <div>
                                <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-header mb-0 d-sm-flex d-block" role="tablist">
                                    <li [ngbNavItem]="1" class="nav-item m-1">
                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                            aria-selected="true">All Tasks</a>
                                            <ng-template ngbNavContent>
                                                <div class=" p-0" id="all-tasks" role="tabpanel">
                                                    <div class="row" id="tasks-container">
                                                        <div class="col-xl-12 task-card">
                                                            <div class="card custom-card task-pending-card">
                                                                <div class="card-body">
                                                                    <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                        <div>
                                                                            <p class="fw-medium mb-3 d-flex align-items-center"><a
                                                                                    href="javascript:void(0);"><i
                                                                                        class="ri-star-s-fill fs-16 op-5 me-1 text-muted"></i></a>New
                                                                                Project Blueprint</p>
                                                                            <p class="mb-3">Assigned On : <span class="fs-12 mb-1 text-muted">13,Nov
                                                                                    2023</span></p>
                                                                            <p class="mb-3">Target Date : <span class="fs-12 mb-1 text-muted">20,Nov
                                                                                    2023</span></p>
                                                                            <p class="mb-0">Assigned To :
                                                                                <span class="avatar-list-stacked ms-1">
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/2.jpg" alt="img">
                                                                                    </span>
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/8.jpg" alt="img">
                                                                                    </span>
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/2.jpg" alt="img">
                                                                                    </span>
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/10.jpg" alt="img">
                                                                                    </span>
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                    </li>
                                    <li [ngbNavItem]="2" class="nav-item m-1">
                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                            aria-selected="true">Pending</a>
                                            <ng-template ngbNavContent>
                                                <div class="p-0" id="pending" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <div class="card custom-card task-pending-card">
                                                                <div class="card-body">
                                                                    <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                        <div>
                                                                            <p class="fw-medium mb-3 d-flex align-items-center"><a
                                                                                    href="javascript:void(0);"><i
                                                                                        class="ri-star-s-fill fs-16 op-5 me-1 text-muted"></i></a>New
                                                                                Project Blueprint</p>
                                                                            <p class="mb-3">Assigned On : <span class="fs-12 mb-1 text-muted">13,Nov
                                                                                    2023</span></p>
                                                                            <p class="mb-3">Target Date : <span class="fs-12 mb-1 text-muted">20,Nov
                                                                                    2023</span></p>
                                                                            <p class="mb-0">Assigned To :
                                                                                <span class="avatar-list-stacked ms-1">
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/2.jpg" alt="img">
                                                                                    </span>
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/8.jpg" alt="img">
                                                                                    </span>
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/2.jpg" alt="img">
                                                                                    </span>
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/10.jpg" alt="img">
                                                                                    </span>
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                        <div>
                                                                            <div class="btn-list">
                                                                                <button
                                                                                    class="btn btn-sm btn-icon btn-wave btn-primary-light rounded-circle"><i
                                                                                        class="ri-edit-line"></i></button>
                                                                                <button
                                                                                    class="btn btn-sm btn-icon btn-wave btn-danger-light rounded-circle me-0"><i
                                                                                        class="ri-delete-bin-line"></i></button>
                                                                            </div>
                                                                            <span class="badge bg-warning-transparent d-block">High</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                    </li>
                                    <li [ngbNavItem]="3" class="nav-item m-1">
                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                            aria-selected="true">In Progress</a>
                                            <ng-template ngbNavContent>
                                                <div class="p-0" id="in-progress" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <div class="card custom-card task-inprogress-card">
                                                                <div class="card-body">
                                                                    <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                        <div>
                                                                            <p class="fw-medium mb-3 d-flex align-items-center"><a
                                                                                    href="javascript:void(0);"><i
                                                                                        class="ri-star-s-fill fs-16 me-1 text-warning"></i></a>Design
                                                                                New Landing Pages </p>
                                                                            <p class="mb-3">Assigned On : <span class="fs-12 mb-1 text-muted">21,Nov
                                                                                    2023</span></p>
                                                                            <p class="mb-3">Target Date : <span class="fs-12 mb-1 text-muted">28,Nov
                                                                                    2023</span></p>
                                                                            <p class="mb-0">Assigned To :
                                                                                <span class="avatar-list-stacked ms-1">
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/1.jpg" alt="img">
                                                                                    </span>
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/5.jpg" alt="img">
                                                                                    </span>
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/12.jpg" alt="img">
                                                                                    </span>
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                        <div>
                                                                            <div class="btn-list">
                                                                                <button
                                                                                    class="btn btn-sm btn-icon btn-wave btn-primary-light rounded-circle"><i
                                                                                        class="ri-edit-line"></i></button>
                                                                                <button
                                                                                    class="btn btn-sm btn-icon btn-wave btn-danger-light rounded-circle me-0"><i
                                                                                        class="ri-delete-bin-line"></i></button>
                                                                            </div>
                                                                            <span class="badge bg-primary-transparent d-block">Medium</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                    </li>
                                    <li [ngbNavItem]="4" class="nav-item m-1">
                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                            aria-selected="true">Completed</a>
                                            <ng-template ngbNavContent>
                                                <div class="p-0" id="completed" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <div class="card custom-card task-completed-card">
                                                                <div class="card-body">
                                                                    <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                        <div>
                                                                            <p class="fw-medium mb-3 d-flex align-items-center"><a
                                                                                    href="javascript:void(0);"><i
                                                                                        class="ri-star-s-fill fs-16 op-5 me-1 text-muted"></i></a>New
                                                                                Plugin Development</p>
                                                                            <p class="mb-3">Assigned On : <span class="fs-12 mb-1 text-muted">28,Oct
                                                                                    2023</span></p>
                                                                            <p class="mb-3">Target Date : <span class="fs-12 mb-1 text-muted">28,Nov
                                                                                    2023</span></p>
                                                                            <p class="mb-0">Assigned To :
                                                                                <span class="avatar-list-stacked ms-1">
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/3.jpg" alt="img">
                                                                                    </span>
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/8.jpg" alt="img">
                                                                                    </span>
                                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                                        <img src="./assets/images/faces/9.jpg" alt="img">
                                                                                    </span>
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                        <div>
                                                                            <div class="btn-list">
                                                                                <button
                                                                                    class="btn btn-sm btn-icon btn-wave btn-primary-light rounded-circle"><i
                                                                                        class="ri-edit-line"></i></button>
                                                                                <button
                                                                                    class="btn btn-sm btn-icon btn-wave btn-danger-light rounded-circle me-0"><i
                                                                                        class="ri-delete-bin-line"></i></button>
                                                                            </div>
                                                                            <span class="badge bg-success-transparent d-block">Low</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <div ngbDropdown class="dropdown no-caret">
                                    <button ngbDropdownToggle
                                        class="btn btn-icon btn-sm btn-light btn-wave waves-light waves-effect"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ti ti-dots-vertical"></i>
                                    </button>
                                    <ul ngbDropdownMenu class="dropdown-menu">
                                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Select
                                                All</a></li>
                                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Share
                                                All</a></li>
                                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Delete
                                                All</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content task-tabs-container">
                
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
                
                
            </div>
        </div>
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0);">Next</a>
            </li>
        </ul>
    </div>
</div>
<!--End::row-1 -->