<app-page-header title="My-Tasks" title1="Dashboards" activeTitle="My-Tasks"></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body p-0">
                        <div class="d-flex p-3 align-items-center justify-content-between">
                            <div>
                                <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-header mb-0 d-sm-flex d-block" role="tablist">
                                    <li [ngbNavItem]="1" class="nav-item m-1">
                                        <!-- <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                            aria-selected="true"></a> -->
                                            <ng-template ngbNavContent>
                                                <div class=" p-0" id="all-tasks" role="tabpanel">
                                                    <div class="row" id="tasks-container">
                                                        <div class="col-xl-12 task-card">
                                                            <div class="card custom-card task-pending-card">
                                                                <div class="card-body">
                                                                    <div class="justify-content-between flex-wrap gap-2">
                                                                        <div class="row">
                                                                            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                                                <div class="card custom-card contactus-form overflow-hidden">
                                                                                    <div class="card-header">
                                                                                        <div class="card-title">
                                                                                            Notes
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card-body">
                                                                                        <form>
                                                                                            <div class="row">
                                                                                                <div class="col-xl-6">
                                                                                                    <label for="contact-address-firstname" class="form-label">Enter Your Heading :</label>
                                                                                                    <input type="text" class="form-control" id="contact-address-firstname" placeholder="Enter Your Heading"
                                                                                                    [(ngModel)]="heading" [ngModelOptions]="{standalone: true}">
                                                                                                </div>
                                                                                                <!-- <div class="col-xl-6">
                                                                                                    <label for="contact-address-lastname" class="form-label">Heading 2</label>
                                                                                                    <input type="text" class="form-control" id="contact-address-lastname" placeholder="Enter Client Name"
                                                                                                    [(ngModel)]=""> 
                                                                                                </div> -->
                                                                                                <div class="col-xl-12">
                                                                                                    <label for="contact-address-address" class="form-label">Description :</label>
                                                                                                    <textarea class="form-control" id="contact-address-address" rows="2"
                                                                                                    [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
                                                                                                </div>
                                                                                            </div>
                                                                                        </form>
                                                                                        <div class="card-title d-flex pt-2">
                                                                                            <div class="col-xxl-9 col-lg-9 col-xl-9 col-md-9">
                                                                                                <img src="./assets/images/ecommerce/jpg/19.jpeg" alt="" class="p-4" >
                                                                                            </div>
                                                                                            <div class="file-upload col-xxl-3 col-lg-3 col-xl-3 col-md-3 p-5">
                                                                                                <file-pond #myPond [options]="pondOptions" class="multiple-filepond" [files]="pondFiles"
                                                                                                (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)"
                                                                                                (onactivatefile)="pondHandleActivateFile($event)">
                                                                                                </file-pond>
                                                                                            </div> 
                                                                                        </div>
                                                                                        <div class="col-xxl-9 col-lg-9 col-xl-9 col-md-9">
                                                                                            <!-- <video src="/assets/video/school_of_fish.mp4" class="sample p-4"></video> -->
                                                                                            <video width="320" height="240" controls>
                                                                                                <source src="/assets/video/school_of_fish.mp4" type="video/mp4">
                                                                                            </video>                                                                                              
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card-footer d-flex gap-2">
                                                                                        <div class="text-center">
                                                                                            <button class="btn btn-primary-light btn-wave" (click)="onSubmitTaskDetails()">Update</button>
                                                                                        </div>
                                                                                        <div class="text-center">
                                                                                            <button class="btn btn-primary-light btn-wave">Cancel</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- <div class="col-xxl-1 col-lg-1 col-md-1 col-xl-1 pt-4">
                                                                                <div class="btn-list">
                                                                                    <button
                                                                                        class="btn btn-sm btn-icon btn-wave btn-primary-light rounded-circle"><i
                                                                                            class="ri-edit-line"></i></button>
                                                                                    <button
                                                                                    class="btn btn-sm btn-icon btn-wave btn-danger-light rounded-circle me-0"><i
                                                                                        class="ri-delete-bin-line"></i></button> 
                                                                                </div>
                                                                                
                                                                            </div>   -->
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                    </li>
                                    <!-- <li [ngbNavItem]="2" class="nav-item m-1">
                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                            aria-selected="true">Images</a>
                                            <ng-template ngbNavContent>
                                                <div class="p-0" id="pending" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <div class="card custom-card">
                                                                <div class="card-header justify-content-between">
                                                                    <div class="card-title">
                                                                        Images
                                                                    </div>   
                                                                </div>
                                                                <div class="card-title d-flex pt-2">
                                                                    <div class="col-xxl-8">
                                                                        <img src="./assets/images/ecommerce/jpg/19.jpeg" alt="" class="p-4" >
                                                                    </div>
                                                                    <div class="file-upload col-xxl-3 p-5">
                                                                        <file-pond #myPond [options]="pondOptions" class="multiple-filepond" [files]="pondFiles"
                                                                        (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)"
                                                                        (onactivatefile)="pondHandleActivateFile($event)">
                                                                        </file-pond>
                                                                    </div>
                                                                    <div class="col-xxl-1 col-lg-1 col-md-1 col-xl-1 pt-4">
                                                                        <div class="btn-list">
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-primary-light rounded-circle"><i
                                                                                    class="ri-edit-line"></i></button>
                                                                            <button
                                                                            class="btn btn-sm btn-icon btn-wave btn-danger-light rounded-circle me-0"><i
                                                                                class="ri-delete-bin-line"></i></button> 
                                                                        </div>
                                                                        
                                                                    </div>  
                                                                </div>
                                                                <div class="card-footer d-flex gap-2">
                                                                    <div class="text-center">
                                                                        <button class="btn btn-primary-light btn-wave">Update</button>
                                                                    </div>
                                                                    <div class="text-center">
                                                                        <button class="btn btn-primary-light btn-wave">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                    </li>
                                    <li [ngbNavItem]="3" class="nav-item m-1">
                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                            aria-selected="true">Videos</a>
                                            <ng-template ngbNavContent>
                                                <div class="p-0" id="pending" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <div class="card custom-card">
                                                                <div class="card-header justify-content-between">
                                                                    <div class="card-title">
                                                                        Videos
                                                                    </div>  
                                                                </div>
                                                                <div class="card-title d-flex pt-2">
                                                                    <div class="col-xxl-8">
                                                                        <img src="./assets/images/ecommerce/jpg/19.jpeg" alt="" class="p-4" >
                                                                    </div>
                                                                    <div class="file-upload col-xxl-3 p-5">
                                                                        <file-pond #myPond [options]="pondOptions" class="multiple-filepond" [files]="pondFiles"
                                                                        (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)"
                                                                        (onactivatefile)="pondHandleActivateFile($event)">
                                                                        </file-pond>
                                                                    </div>
                                                                    <div class="col-xxl-1 col-lg-1 col-md-1 col-xl-1 pt-4">
                                                                        <div class="btn-list">
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-primary-light rounded-circle"><i
                                                                                    class="ri-edit-line"></i></button>
                                                                            <button
                                                                            class="btn btn-sm btn-icon btn-wave btn-danger-light rounded-circle me-0"><i
                                                                                class="ri-delete-bin-line"></i></button> 
                                                                        </div>
                                                                        
                                                                    </div>  
                                                                </div>
                                                                <div class="card-footer d-flex gap-2">
                                                                    <div class="text-center">
                                                                        <button class="btn btn-primary-light btn-wave">Update</button>
                                                                    </div>
                                                                    <div class="text-center">
                                                                        <button class="btn btn-primary-light btn-wave">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                    </li>  -->
                                </ul>
                            </div>
                            <div>
                                <!-- <div ngbDropdown class="dropdown no-caret">
                                    <button ngbDropdownToggle
                                        class="btn btn-icon btn-sm btn-light btn-wave waves-light waves-effect"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ti ti-dots-vertical"></i>
                                    </button>
                                    <ul ngbDropdownMenu class="dropdown-menu">
                                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Select
                                                All</a></li>
                                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Share
                                                All</a></li>
                                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Delete
                                                All</a></li>
                                    </ul>
                                </div> -->
                                <a  class="btn btn-sm btn-primary btn-wave me-3" href="/pages/timeline" 
                                routerLink="/pages/timeline">View all<i class="ri-arrow-right-line align-middle me-1 fw-medium"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content task-tabs-container">
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0);">Next</a>
            </li>
        </ul>
    </div>
</div>
<!--End::row-1 -->


