.badge {
    padding: 0.25rem 0.45rem;
    font-weight: 400;
    border-radius: 0.25rem;
    font-size: 15px;
}
.avatar {
    position: relative;
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    color: #fff;
    font-weight: 500;
}
.pt-5 {
    padding-block-start: 15rem !important;
}
.blinking-btn {
    
    color: green;
    animation: blink 5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}