<div class="container-lg">
    <div class="row justify-content-center authentication authentication-basic align-items-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="card custom-card my-4">
                <div class="card-body p-5">
                    <div class="mb-3 d-flex justify-content-center">
                        <a routerLink="/dashboard/sales">
                            <img src="./assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
                            <img src="./assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
                        </a>
                    </div>
                    <p class="h5 mb-2 text-center">Create Password</p>
                    <p class="mb-4 text-muted fw-normal text-center">Hello Stark !</p>
                    <form>
                    <div class="row gy-3">
                        <div class="col-xl-12">
                            <label for="create-password" class="form-label text-default">Password<sup>*</sup></label>
                            <div class="position-relative">
                                <input type="password" class="form-control form-control-lg" id="create-password" placeholder="password" [type]="showPassword ? 'text' : 'password'" autocomplete>
                                <a href="javascript:void(0);" class="show-password-button text-muted"  (click)="createpassword()"><i class="ri-eye-{{toggleClass}} align-middle"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <label for="create-confirmpassword" class="form-label text-default">Confirm Password<sup>*</sup></label>
                            <div class="position-relative">
                                <input type="password" class="form-control form-control-lg" id="create-confirmpassword" placeholder="password" [type]="showPassword1 ? 'text' : 'password'" autocomplete>
                                <a href="javascript:void(0);" class="show-password-button text-muted" (click)="createpassword1()" ><i class="ri-eye-{{toggleClass1}} align-middle"></i></a>
                            </div>
                            <div class="mt-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                        Remember password ?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center my-3 authentication-barrier">
                        <span>OR</span>
                    </div>
                    <div class="d-grid mb-3">
                        <button class="btn btn-lg btn-light-ghost border d-flex align-items-center justify-content-center">
                            <span class="avatar avatar-xs">
                                <img src="./assets/images/media/apps/google.png" alt="">
                            </span>
                            <span class="lh-1 ms-2 fs-13 text-default">Signin with Google</span>
                        </button>
                    </div>
                    <div class="d-grid mb-3">
                        <button class="btn btn-lg btn-light-ghost border d-flex align-items-center justify-content-center">
                            <span class="avatar avatar-xs invert-1">
                                <img src="./assets/images/media/apps/apple.png" alt="">
                            </span>
                            <span class="lh-1 ms-2 fs-13 text-default">Signin with Apple</span>
                        </button>
                    </div>
                    <div class="d-grid mt-4">
                        <button class="btn btn-lg btn-primary">Save Password</button>
                    </div>
                    </form>

                    <div class="text-center">
                        <p class="text-muted mt-3 mb-0">Back to home ? <a routerLink="/dashboard/sales" class="text-primary">Click Here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
