<app-page-header title="Create-NFT" title1="NFT" activeTitle="Create-NFT" ></app-page-header>
 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xxl-9 col-xl-8">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Create NFT</div>
            </div>
            <div class="card-body">
                <div class="row gy-3 justify-content-between">
                    <div class="col-xxl-3 col-xl-12">
                        <div #filePondInput class="create-nft-item">
                            <label class="form-label">Upload NFT</label>
                            <file-pond #myPond [options]="pondOptions" class="single-filepond" name="filepond" id="file-input"  [files]="pondFiles"
                            (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)"
                            (onactivatefile)="pondHandleActivateFile($event)">
                        </file-pond>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-12">
                        <div class="row gy-3">
                            <div class="col-xl-12">
                                <label for="input-placeholder" class="form-label">NFT Title</label>
                                <input type="text" class="form-control" id="input-placeholder" placeholder="eg:Neo-Nebulae">
                            </div>
                            <div class="col-xl-12">
                                <label for="nft-description" class="form-label">NFT Description</label>
                                <textarea class="form-control" id="nft-description" rows="3" placeholder="Enter Description"></textarea>
                            </div>
                            <div class="col-xl-12">
                                <label for="nft-link" class="form-label">External Link</label>
                                <input type="text" class="form-control" id="nft-link" placeholder="External Link Here">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="row gy-3">
                            <div class="col-xl-6">
                                <label for="nft-creator-name" class="form-label">Creator Name</label>
                                <input type="text" class="form-control" id="nft-creator-name" placeholder="Enter Name">
                            </div>
                            <div class="col-xl-6">
                                <label for="nft-price" class="form-label">NFT Price</label>
                                <input type="text" class="form-control" id="nft-price" placeholder="Enter Price">
                            </div>
                            <div class="col-xl-4">
                                <label for="nft-size" class="form-label">NFT Size</label>
                                <input type="text" class="form-control" id="nft-size" placeholder="Enter Size">
                            </div>
                            <div class="col-xl-4">
                                <label for="nft-royality" class="form-label">Royality</label>
                                <ng-select placeholder="Select" data-trigger name="nft-royality" id="nft-royality">
                                    <ng-option value="">Choose Royalities</ng-option>
                                    <ng-option value="Choice 1">Flat Royalty</ng-option>
                                    <ng-option value="Choice 2">Graduated Royalty</ng-option>
                                    <ng-option value="Choice 3">Tiered Royalty</ng-option>
                                    <ng-option value="Choice 3">Time-Limited Royalty</ng-option>
                                    <ng-option value="Choice 3">Customized Royalty</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-xl-4">
                                <label for="nft-property" class="form-label">Property</label>
                                <input type="text" class="form-control" id="nft-property" placeholder="Enter Property">
                            </div>
                            <div class="col-xl-12">
                                <label class="form-label d-block">Method</label>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="strap-material" id="strap1" checked>
                                    <label class="btn btn-sm btn-outline-primary text-default z-0" for="strap1"><i class="ti ti-tag me-1 align-middle fs-15 d-inline-block"></i>Fixed Price</label>
                                    <input type="radio" class="btn-check" name="strap-material" id="strap2">
                                    <label class="btn btn-sm btn-outline-primary text-default z-0" for="strap2"><i class="ti ti-users fs-15 me-1 align-middle d-inline-block"></i>Open For Bids</label>
                                    <input type="radio" class="btn-check" name="strap-material" id="strap3">
                                    <label class="btn btn-sm btn-outline-primary text-default z-0" for="strap3"><i class="ti ti-hourglass-low fs-15 me-1 align-middle d-inline-block"></i>Timed Auction</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <a href="javascript:void(0);" class="btn btn-primary btn-wave waves-effect waves-light">Create NFT</a>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-4">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    NFT Preview Here
                </div>
            </div>
            <div class="card-body">
                <div class="card custom-card shadow-none border-0 overflow-hidden mb-0">
                    <img src="./assets/images/nft-images/29.png" class="card-img-top nft-image" alt="...">
                    <div class="d-flex align-items-center justify-content-between nft-like-section w-100 px-3">
                        <div class="flex-fill">
                            <button class="btn btn-sm btn-icon btn-success rounded-pill btn-wave">
                                <i class="ri-heart-fill"></i>
                            </button>
                        </div>
                        <div>
                            <span class="badge nft-like-badge text-fixed-white"><i class="ri-heart-fill me-1 text-danger align-middle d-inline-block"></i>2.45k</span>
                        </div>
                    </div>
                    <div class="card-body nft-body">
                        <div class="d-flex align-items-center mb-3 text-fixed-white flex-wrap gap-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-md">
                                    <img src="./assets/images/faces/7.jpg" alt="">
                                </span>
                            </div>
                            <div class="flex-fill">
                                <p class="mb-0 fw-medium">Caros NFT</p>
                                <p class="fs-12 op-8 mb-0">&#64;caros002</p>
                            </div>
                            <div class="mb-0 text-fixed-white nft-auction-time">
                                04hrs : 24m : 38s
                            </div>
                        </div>
                        <p class="fs-15 fw-medium mb-2 text-fixed-white">Space Fluid - NFT</p>
                        <div class="d-flex flex-wrap text-fixed-white align-items-center justify-content-between">
                            <div class="fw-medium">
                                Highest Bid -
                            </div>
                            <div class="d-flex flex-wrap align-items-center lh-1">
                                <span class="avatar avatar-xs me-1">
                                    <img src="./assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                </span>0.13ETH
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->