<app-page-header title="Candidate-Details" title1="Jobs" activeTitle="Candidate-Details" ></app-page-header>

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="swiper swiper-basic">
                        <div class="swiper-wrapper">
                          
                             <swiper [config]="swiperConfig" [slidesPerView]="5" (swiper)="setThumbsSwiper($event)" [zoom]="true"   
                            [spaceBetween]="30" [loop]="true" [autoplay]="true">
                            <ng-template class="swiper-slide" swiperSlide>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <img src="./assets/images/crypto-currencies/crypto-icons/bitcoin-btc-logo.svg" alt="" class="avatar avatar-sm">
                                    </div>
                                    <div>Bitcoin - $34,563</div>
                                    <div class="text-green">+0.57%</div>
                                </div>
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <img src="./assets/images/crypto-currencies/crypto-icons/solana-sol-logo.svg" alt="" class="avatar avatar-sm">
                                    </div>
                                    <div>Solana - $34,563</div>
                                    <div class="text-danger">-0.045%</div>
                                </div>
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <img src="./assets/images/crypto-currencies/crypto-icons/binance-usd-busd-logo.svg" alt="" class="avatar avatar-sm">
                                    </div>
                                    <div>Binance - $34,563</div>
                                    <div class="text-danger">-0.12%</div>
                                </div>
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <img src="./assets/images/crypto-currencies/crypto-icons/cardano-ada-logo.svg" alt="" class="avatar avatar-sm">
                                    </div>
                                    <div>Cardano - $34,563</div>
                                    <div class="text-green">+0.23%</div>
                                </div>
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <img src="./assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg" alt="" class="avatar avatar-sm">
                                    </div>
                                    <div>Etherium - $34,563</div>
                                    <div class="text-green">+1.78%</div>
                                </div>
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <img src="./assets/images/crypto-currencies/crypto-icons/tether-usdt-logo.svg" alt="" class="avatar avatar-sm">
                                    </div>
                                    <div>Tether - $34,563</div>
                                    <div class="text-danger">-0.27%</div>
                                </div>
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <img src="./assets/images/crypto-currencies/crypto-icons/xrp-xrp-logo.svg" alt="" class="avatar avatar-sm invert-1">
                                    </div>
                                    <div>XRP - $34,563</div>
                                    <div class="text-green">+0.34%</div>
                                </div>
                            </ng-template>
                        </swiper> 
                    
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->
<div class="file-manager-container p-2 gap-2 d-sm-flex">
    <!--  -->
    <div  #fileFoldersElement class="file-manager-folders">
        <div class="d-flex p-3 flex-wrap gap-2 align-items-center justify-content-between border-bottom">
            <div>
                <h6 class="fw-medium mb-0">Folders</h6>
            </div>
            <div class="d-flex gap-2">
                <button id="folders-close-btn" (click)="removeclick()"  class="d-sm-none d-block btn btn-icon btn-sm btn-danger-light">
                    <i class="ri-close-fill"></i>
                </button>
                <button (click)="open(content)" class="btn btn-sm btn-primary d-flex align-items-center justify-content-center btn-wave waves-light"
                    data-bs-toggle="modal" data-bs-target="#create-folder">
                    <i class="ri-add-circle-line align-middle me-1"></i>Create Folder
                </button>
                <ng-template #content let-modal >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="staticBackdropLabel">Create Folder
                                </h6>
                                <button type="button" class="btn-close" (click)="modal.close('Cross click')" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="create-folder1" class="form-label">Folder Name</label>
                                <input type="text" class="form-control" id="create-folder1" placeholder="Folder Name">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-icon btn-light" (click)="modal.close('Close click')"
                                    data-bs-dismiss="modal"><i class="ri-close-fill"></i></button>
                                <button type="button" class="btn btn-sm btn-success">Create</button>
                            </div>
                        </div>
                   
            </ng-template>
                <button (click)="openfile(content1)" class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center btn-wave waves-light"
                    data-bs-toggle="modal" data-bs-target="#create-file">
                    <i class="ri-add-circle-line align-middle me-1"></i>Create File
                </button>
                <ng-template #content1 let-modal let-c="close" let-d="dismiss">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="staticBackdropLabel1">Create File
                                </h6>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                (click)="modal.close('Cross click')"   aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="create-file1" class="form-label">File Name</label>
                                <input type="text" class="form-control" id="create-file1" placeholder="File Name">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-icon btn-light" (click)="modal.close('Close click')"
                                    data-bs-dismiss="modal"><i class="ri-close-fill"></i></button>
                                <button type="button" class="btn btn-sm btn-success">Create</button>
                            </div>
                        </div>
                  </ng-template> 
            </div>
        </div>
        <overlay-scrollbars [defer]>
        <div class="p-3 file-folders-container overflow-auto" id="file-folders-container">
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="table-responsive border border-bottom-0">
                        <table class="table text-nowrap table-hover">
                            <thead>
                                <!-- <tr>
                                    <th scope="col">File Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Date Modified</th>
                                    <th scope="col">Action</th>
                                </tr> -->
                            </thead>
                            <tbody class="files-list">
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-xs">
                                                    <img src="./assets/images/media/file-manager/1.png" alt="">
                                                </span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">VID-00292312-SPK823.mp4</a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-xs">
                                                    <img src="./assets/images/media/file-manager/1.png" alt="">
                                                </span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">VID-00292312-SPK823.mp4</a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-xs">
                                                    <img src="./assets/images/media/file-manager/1.png" alt="">
                                                </span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">VID-00292312-SPK823.mp4</a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-xs">
                                                    <img src="./assets/images/media/file-manager/1.png" alt="">
                                                </span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">VID-00292312-SPK823.mp4</a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-xs">
                                                    <img src="./assets/images/media/file-manager/1.png" alt="">
                                                </span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">VID-00292312-SPK823.mp4</a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-xs">
                                                    <img src="./assets/images/media/file-manager/1.png" alt="">
                                                </span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">VID-00292312-SPK823.mp4</a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-xs">
                                                    <img src="./assets/images/media/file-manager/1.png" alt="">
                                                </span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">VID-00292312-SPK823.mp4</a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-xs">
                                                    <img src="./assets/images/media/file-manager/1.png" alt="">
                                                </span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">VID-00292312-SPK823.mp4</a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-end mb-0">
                                                <li class="page-item disabled"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                                            </ul>
                                        </nav>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </overlay-scrollbars>
    </div>
</div>


<!-- <button class="btn btn-primary mb-1 me-1" type="button" data-bs-toggle="offcanvas"
    (click)="openRight(content)" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    Toggle right offcanvas
</button> -->