<app-page-header title="Wishlist" title1="Ecommerce" activeTitle="Wishlist" ></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    @for (item of items; track item) {

        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card custom-card product-card">
                <div class="card-body">
                    <a href="javascript:void(0)" class="product-image">
                        <img [src]="item.img" class="card-img mb-3" alt="...">
                    </a>
                    <div class="product-icons">
                        <a href="javascript:void(0);" class="wishlist btn-delete"><i (click)="ConformAlert(item.id)" class="ri-close-line"></i></a>
                    </div>
                    <p class="product-name fw-medium mb-0 d-flex align-items-center justify-content-between">{{item.name}}<span class="float-end text-warning fs-12">{{item.rating}}<i class="ri-star-s-fill align-middle ms-1"></i></span></p>
                    <p class="product-description fs-11 text-muted mb-2">{{item.description}}</p>
                    <p class="mb-1 fw-medium fs-16 d-flex align-items-center justify-content-between"><span>{{item.price}}<span class="text-muted text-decoration-line-through ms-1 op-6 d-inline-block">{{item.pricecross}}</span></span><span class="badge bg-secondary-transparent float-end fs-10">{{item.persentage}} off</span></p>
                    <p class="fs-11 text-success fw-medium mb-0 d-flex align-items-center">
                        <i class="ti ti-discount-2 fs-16 me-1"></i>Offer Price {{item.price}}
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a routerLink="/pages/ecommerce/cart" class="btn btn-primary-ghost m-1"><i class="ri-shopping-cart-2-line me-2 align-middle d-inline-block"></i>Move To Cart</a>
                    <a routerLink="/pages/ecommerce/productdetails" class="btn btn-success-ghost m-1"><i class="ri-eye-line me-2 align-middle d-inline-block"></i>View Product</a>
                </div>
            </div>
        </div>

    }
   
</div>
<!--End::row-1 -->
<ul class="pagination justify-content-end">
    <li class="page-item disabled">
        <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
    <li class="page-item">
        <a class="page-link" href="javascript:void(0);">Next</a>
    </li>
</ul>