<app-page-header title="Bubble-Charts" title1="Apex-Charts" activeTitle="Bubble-Charts" ></app-page-header>

 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Simple Bubble Chart</div>
            </div>
            <div class="card-body">
                <div id="bubble-simple">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis" [fill]="chartOptions.fill"
                    [dataLabels]="chartOptions.dataLabels" [title]="chartOptions.title"
                    [yaxis]="chartOptions.yaxis"[colors]="chartOptions.colors"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">3D Bubble Chart</div>
            </div>
            <div class="card-body">
                <div id="bubble-3d">
                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                    [xaxis]="chartOptions1.xaxis" [fill]="chartOptions1.fill"
                    [dataLabels]="chartOptions1.dataLabels" [title]="chartOptions1.title"
                    [yaxis]="chartOptions1.yaxis" [tooltip]="chartOptions1.tooltip"
                    [theme]="chartOptions1.theme"[colors]="chartOptions1.colors"></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->