<!-- <app-page-header title="Timeline" title1="Pages" activeTitle="Timeline" ></app-page-header> -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Project Cycle</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Project Cycle</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="btn-list">
        <a  class="btn btn-sm btn-primary btn-wave me-3" 
                    routerLink="/dashboard/projects">Back To Projects<i class="ri-arrow-right-line align-middle me-1 fw-medium"></i></a>
        
    </div>
    
</div>
<div class="timeline mb-5">






    
    <div *ngFor="let item of projectCycleData; let i = index">
        <div class="row">
          <div class="col-lg-12">
            <div class="timeline-container">
              <div class="timeline-end" *ngIf="i === 0 || (item.updatedDate | date: 'd MMM') !== (projectCycleData[i - 1]?.updatedDate | date: 'd MMM')">
                <span class="avatar avatar-lg bg-primary-transparent backdrop-blur text-center">
                  <span class="fs-13">{{ item.updatedDate | date: 'd MMM' }}</span>
                </span>
              </div>
              <div class="timeline-continue">
                <div class="row" [ngClass]="{'timeline-left': i % 2 === 0, 'timeline-right': i % 2 !== 0}">
                  <div class="col-md-6" *ngIf="i % 2 !== 0">
                    <p class="timeline-date">
                      {{ item.updatedDate | date: 'dd-MM-yyyy' }}
                    </p>
                    <span class="timeline-time fs-12 text-muted fw-medium d-block">
                      {{ item.updatedDateIST | date: 'hh:mm a' }}
                    </span>
                  </div>
                  <div class="col-md-6" data-bs-target="#exampleModalLg" (click)="VerticallyScrol(content1)">
                    <div class="timeline-box d-flex gap-3 align-items-start">
                      <div class="lh-1">
                        <span class="avatar avatar-rounded">
                          <img src="./assets/images/faces/11.jpg" alt="">
                        </span>
                      </div>
                      <div class="timeline-text">
                        <h6 class="fw-medium mb-1">{{ item.heading }}</h6>
                        <p class="mb-0 text-muted">{{ item.description | slice:0:50 }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="i % 2 === 0">
                    <p class="timeline-date">
                      {{ item.updatedDate | date: 'dd-MM-yyyy' }}
                    </p>
                    <span class="timeline-time fs-12 text-muted fw-medium d-block text-start">
                      {{ item.updatedDateIST | date: 'hh:mm a' }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #content1 id="addtask" let-modal>
            <div class="modal-content custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="mail-ComposeLabel">Project Description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.close('Cross click')"
                        aria-label="Close"></button>
                </div>
                <div class="p-3" id="popup-content">
                    <p>{{item.description}}</p>
                </div>
                
                <div class="modal-footer">
                    <img src="/assets/images/brand-logos/whatsapp.jpg" alt="" (click)="shareContent()" class="whatsapp">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                        (click)="modal.close('Cross click')">Cancel</button>
                </div>
            </div>
        </ng-template>
        </div>
      </div>
      
      

    <!-- <div class="container">
        <div *ngFor="let item of projectCycleData; let i = index">
            <div class="row">
                <div class="col-lg-12">
                    <div class="timeline-container">
                        <div class="timeline-end" *ngIf="i === 0 || (item.updatedDate | date: 'yyyy') !== (projectCycleData[i - 1]?.updatedDate | date: 'yyyy')">
                            <span class="avatar avatar-lg bg-primary-transparent backdrop-blur text-center">
                                <span class="fs-13">{{item.updatedDate | date: 'yyyy'}}</span>
                            </span>
                        </div>
                        <div class="timeline-continue">
                            <div class="row timeline-right">
                                <div class="col-md-6">
                                    <p class="timeline-date">
                                        {{item.updatedDate | date: 'dd-MM-yyyy'}}
                                    </p>
                                    <span class="timeline-time fs-12 text-muted fw-medium d-block">
                                        {{item.updatedDate | date: 'hh:mm a'}}
                                    </span>
                                </div>
                                <div class="col-md-6" data-bs-target="#exampleModalLg" (click)="VerticallyScrol(content1)">
                                    <div class="timeline-box d-flex gap-3 align-items-start">
                                        <div class="lh-1">
                                            <span class="avatar avatar-rounded">
                                                <img src="./assets/images/faces/11.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="timeline-text">
                                            <h6 class="fw-medium mb-1" data-bs-toggle="modal">{{item.heading}}</h6>
                                            <p class="mb-0 text-muted">{{item.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #content1 id="addtask" let-modal>
                <div class="modal-content custom-modal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mail-ComposeLabel">Project Description</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.close('Cross click')"
                            aria-label="Close"></button>
                    </div>
                    <div class="p-3">
                        <p>{{item.description}}</p>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                            (click)="modal.close('Cross click')">Cancel</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div> -->




















    <!-- <div class="container">
        <div *ngFor="let item of projectCycleData; let i = index"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="timeline-container">
                    <div class="timeline-end">
                        <span class="avatar avatar-lg bg-primary-transparent backdrop-blur text-center">
                            <span class="fs-13">2023</span>
                        </span>
                    </div>
                    <div class="timeline-continue">
                        <div class="row timeline-right">
                            <div class="col-md-6">
                                <p class="timeline-date">
                                    21 Nov 2023
                                </p>
                                <span class="timeline-time fs-12 text-muted fw-medium d-block">
                                    12:37PM
                                </span>
                            </div>
                            <div class="col-md-6" data-bs-target="#exampleModalLg" (click)="VerticallyScrol(content1)">
                                <div class="timeline-box d-flex gap-3 align-items-start">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded">
                                            <img src="./assets/images/faces/11.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="timeline-text">
                                        <h6 class="fw-medium mb-1" data-bs-toggle="modal">Christopher</h6>
                                        <p class="mb-0 text-muted">Project assigned by the manager all<span class="badge bg-primary-transparent fw-medium mx-1">files</span>and<span class="badge bg-primary-transparent fw-medium mx-1">folders</span>were included</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row timeline-left">
                            <div class="col-md-6">
                                <div class="timeline-box d-flex gap-3 align-items-start ms-md-auto">
                                    <div class="timeline-text flex-fill">
                                        <h6 class="fw-medium mb-1">Isabella</h6>
                                        <p class="mb-0 text-muted">Admin and other team accepted your work request</p>
                                    </div>
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded">
                                            <img src="./assets/images/faces/4.jpg" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="timeline-date">
                                    30 Nov 2023
                                </p>
                                <span class="timeline-time fs-12 text-muted fw-medium d-block text-start">
                                    10:15AM
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="timeline-year">
                                    <span class="avatar avatar-lg bg-success-transparent backdrop-blur text-center">
                                        <span class="fs-13">2024</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row timeline-right">
                            <div class="col-md-6">
                                <p class="timeline-date">
                                    01 Jan 2024
                                </p>
                                <span class="timeline-time fs-12 text-muted fw-medium d-block">
                                    17:25PM
                                </span>
                            </div>
                            <div class="col-md-6">
                                <div class="timeline-box d-flex gap-3 align-items-start">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded">
                                            <img src="./assets/images/faces/7.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="timeline-text">
                                        <h6 class="fw-medium mb-1">Scarlett</h6>
                                        <p class="mb-0 text-muted">Temporary data will be <span class="badge bg-danger-transparent fw-medium mx-1">deleted</span> once dedicated time complated</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row timeline-left">
                            <div class="col-md-6">
                                <div class="timeline-box d-flex gap-3 align-items-start ms-md-auto">
                                    <div class="timeline-text flex-fill">
                                        <h6 class="fw-medium mb-1">Richard</h6>
                                        <p class="mb-0 text-muted">Approved date for sanction of loan is verified <i class="ri-checkbox-circle-line text-success ms-1 fs-16 align-middle"></i></p>
                                    </div>
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded">
                                            <img src="./assets/images/faces/9.jpg" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="timeline-date">
                                    19 Dec 2024
                                </p>
                                <span class="timeline-time fs-12 text-muted fw-medium d-block text-start">
                                    11:55AM
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="timeline-year">
                                    <span class="avatar avatar-lg bg-danger-transparent backdrop-blur text-center">
                                        <span class="fs-13"> 2024</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row timeline-right">
                            <div class="col-md-6">
                                <p class="timeline-date">
                                    25 Nov 2024
                                </p>
                                <span class="timeline-time fs-12 text-muted fw-medium d-block">
                                    07:45AM
                                </span>
                            </div>
                            <div class="col-md-6">
                                <div class="timeline-box d-flex gap-3 align-items-start">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded">
                                            <img src="./assets/images/faces/14.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="timeline-text">
                                        <h6 class="fw-medium mb-1">Benjamin</h6>
                                        <p class="mb-0 text-muted">Social network accounts are at risk check your <span class="badge bg-success-transparent fw-medium mx-1">login</span> details</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row timeline-left">
                            <div class="col-md-6">
                                <div class="timeline-box d-flex gap-3 align-items-start ms-md-auto">
                                    <div class="timeline-text flex-fill">
                                        <h6 class="fw-medium mb-1">Olivia</h6>
                                        <p class="mb-0 text-muted">Changed the password of gmail 4 hrs ago. <span class="badge bg-secondary">Update</span></p>
                                    </div>
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded">
                                            <img src="./assets/images/faces/2.jpg" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="timeline-date">
                                    16 Dec 2024
                                </p>
                                <span class="timeline-time fs-12 text-muted fw-medium d-block text-start">
                                    15:56PM
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-start">
                        <span class="avatar avatar-lg bg-warning-transparent backdrop-blur text-center">
                            <span class="fs-13">2024</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
    
    
    
    
</div>
