<app-page-header title="Ratings" title1="Advanced-Ui" activeTitle="Ratings" ></app-page-header>

  <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xxl-12 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
               <div class="card-title">
                    Basic Rater
               </div> 
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <p class="fs-14 mb-0 fw-medium">Show Some <span class="text-danger">&#10084;</span> with rating :</p>
                    <div id="rater-basic">
                        <bar-rating  [max]="5">
                            <ng-template ratingActive>
                              <i class="bi bi-star-fill me-1" style="font-size:22px; color: #edb867"></i>
                            </ng-template>
                            <ng-template ratingInactive>
                              <i class="bi bi-star-fill me-1" style=" font-size:22px; color: #d2d2d2"></i>
                            </ng-template>
                          </bar-rating>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="col-xxl-12 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    5 star rater with steps
                </div> 
             </div>
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <p class="fs-14 mb-0 fw-medium">Dont forget to rate the product :</p>
                    <div id="rater-steps">
                        <bar-rating  [max]="5"  [theme]="'square'" [(rate)]="starRate">
                            <ng-template  ratingActive>
                              <i class="bi bi-star-fill" style="font-size:24px; color: #edb867"></i>
                            </ng-template>
                            <ng-template ratingInactive>
                              <i class="bi bi-star-fill" style=" font-size:24px; color: #d2d2d2"></i>
                            </ng-template>
                          </bar-rating>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-12 col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Custom messages
                </div> 
             </div>
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <p class="fs-14 mb-0 fw-medium">Your rating is much appreciated👏 :</p>
                    <div id="custom-messages">
                     
                          <bar-rating  [formControl]="ctrl" class="rating-size" [max]="5"  [theme]="'square'" [(rate)]="starRate1">
                            <ng-template ratingActive>
                              <i class="bi bi-star-fill" style="font-size:24px; color: #edb867"></i>
                            </ng-template>
                            <ng-template ratingInactive>
                              <i class="bi bi-star-fill" style=" font-size:24px; color: #d2d2d2"></i>
                            </ng-template>
                          </bar-rating>
                          <div class="form-text small">
                            @if(ctrl.valid){
                                <div  class="text-success">Thanks!</div>
                            }
                            @if(ctrl.invalid){
                                <div  class="text-danger">Please rate us</div>
                            }
                           
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-12 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Unlimited number of stars readOnly
                </div> 
             </div>
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <p class="fs-14 mb-0 fw-medium">Thanks for rating :</p>
                    <div id="stars-unlimited">
                        <bar-rating  [max]="10"  [theme]="'square'" [(rate)]="starRate2">
                            <ng-template  ratingActive>
                              <i class="bi bi-star-fill" style="font-size:24px; color: #edb867"></i>
                            </ng-template>
                            <ng-template ratingInactive>
                              <i class="bi bi-star-fill" style=" font-size:24px; color: #d2d2d2"></i>
                            </ng-template>
                          </bar-rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-12 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    5 Star rater with custom isBusyText and simulated backend
                </div> 
             </div>
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <p class="fs-14 mb-0 fw-medium">Thanks for rating :</p>
                    <div id="stars-busytext">
                       
                      <bar-rating  [max]="5"  [theme]="'movie'" [(rate)]="starRate3" [showText]="true"
                      [titles]="['  ','Bad', 'Mediocre', 'Good', 'Awesome','extraordinary']">
                        <ng-template  ratingActive>
                          <i class="bi bi-star-fill" style="font-size:24px; color: #edb867"></i>
                        </ng-template>
                        <ng-template ratingInactive>
                          <i class="bi bi-star-fill" style=" font-size:24px; color: #d2d2d2"></i>
                        </ng-template>
                      </bar-rating>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-12 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    On hover event
                </div> 
             </div>
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <p class="fs-14 mb-0 fw-medium">Please give your valuable rating :</p>
                    <div class="d-flex flex-wrap align-items-center">
                        <div id="stars-hover">
                            <bar-rating  [(rate)]="selected" (hover)="hovered = $event" (leave)="hovered = hovered" 
                             [max]="5" >
                        <ng-template  ratingActive>
                          <i class="bi bi-star-fill" style="font-size:24px; color: #edb867"></i>
                        </ng-template>
                        <ng-template ratingInactive>
                          <i class="bi bi-star-fill" style=" font-size:24px; color: #d2d2d2"></i>
                        </ng-template>
                      </bar-rating>
                        </div>
                        <span class="live-rating badge bg-success-transparent ms-3">
                            {{ hovered }}
                        </span>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-12 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Clear/reset rater
                </div> 
             </div>
             <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                  <p class="fs-14 mb-0">Thank You so much for your support :</p>
                  <div class="d-flex flex-wrap align-items-center">
                      <div id="rater-reset">
                        <ng-template #formstar1 let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#9733;</span
                              >&#9733;
                            </span>
                          </ng-template>
                        <ngb-rating
                  [starTemplate]="formstar1"
                  [formControl]="ctrl1"
                  class="rating-size"
                ></ngb-rating>
                    </div>
                    <button ngbTooltip="Reset" placement="top"
                    class="btn btn-icon btn-sm btn-danger-light ms-3"
                    (click)="ctrl1.setValue(null)"
                  >
                    <i class="ri-restart-line"></i>
                  </button>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<!--End::row-1 -->
