
<!-- Page Header -->
<div class="d-flex align-items-center justify-content-between my-4 page-header-breadcrumb flex-wrap gap-2">
    <div >
      <h4 class="fw-medium fs-20 mb-0 mt-0">Welcome, Mr. Stark</h4>
      <p class="fs-13 text-muted mb-0">Let's check your today's stats!</p>
    </div>
    <div class="btn-list">
      <button class="btn btn-primary-light btn-wave me-2">
          <i class="bx bx-crown align-middle"></i> Plan Upgrade
      </button>
      <button class="btn btn-secondary-light btn-wave me-0">
          <i class="ri-upload-cloud-line align-middle"></i> Export Report
      </button>
  </div>
  </div>
  <!-- End Page Header -->
   <!-- Start::row-1 -->
   <div class="row">
      <div class="col-md-12 col-xl-12">
          <div class="row">
              <div class="col-md-6 col-lg-3 col-xl-3">
                  <div class="card custom-card overflow-hidden">
                      <div class="card-body p-0">
                          <div class="mb-2 p-3 pb-0">
                              <div class="flex-fill fs-15">Total Sales</div>
                          </div>
                          <div class="d-flex align-items-center ps-3">
                              <div class="flex-fill">
                                  <div class="fs-25 fw-normal mb-2">$170k+</div>
                                  <p class="mb-0">
                                      <i class="ri-arrow-up-line text-primary fs-15 align-middle"></i>
                                      <span  class="text-primary fs-12"> 26.35% last month</span>
                                  </p>
                              </div>
                              <div id="sales-card" class="crm-card-chart">
                                  <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                  [xaxis]="chartOptions.xaxis" [colors]="chartOptions.colors" [fill]="chartOptions.fill"
                                  [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
                                  [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid"
                                  [yaxis]="chartOptions.yaxis">
                              </apx-chart>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3">
                  <div class="card custom-card overflow-hidden">
                      <div class="card-body p-0">
                          <div class="mb-2 p-3 pb-0">
                              <div class="flex-fill fs-15">Revenue Generated</div>
                          </div>
                          <div class="d-flex align-items-center ps-3">
                              <div class="flex-fill">
                                  <div class="fs-25 fw-normal mb-2">$115k</div>
                                  <p class="mb-0">
                                      <i class="ri-arrow-down-line text-danger fs-15 align-middle"></i>
                                      <span  class="text-danger fs-12"> 11.35% last month</span>
                                  </p>
                              </div>
                              <div id="revenue-card" class="crm-card-chart">
                                  <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                  [xaxis]="chartOptions1.xaxis" [colors]="chartOptions1.colors" [fill]="chartOptions1.fill"
                                  [stroke]="chartOptions1.stroke" [tooltip]="chartOptions1.tooltip"
                                  [dataLabels]="chartOptions1.dataLabels" [grid]="chartOptions1.grid"
                                  [yaxis]="chartOptions1.yaxis">
                              </apx-chart>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3">
                  <div class="card custom-card overflow-hidden">
                      <div class="card-body p-0">
                          <div class="mb-2 p-3 pb-0">
                              <div class="flex-fill fs-15">New Customers</div>
                          </div>
                          <div class="d-flex align-items-center ps-3">
                              <div class="flex-fill">
                                  <div class="fs-25 fw-normal mb-2">1500+</div>
                                  <p class="mb-0">
                                      <i class="ri-arrow-up-line text-secondary fs-15 align-middle"></i>
                                      <span  class="text-secondary fs-12"> 26.35% last month</span>
                                  </p>
                              </div>
                              <div id="customers-card" class="crm-card-chart">
                                  <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                                  [xaxis]="chartOptions2.xaxis" [colors]="chartOptions2.colors" [fill]="chartOptions2.fill"
                                  [stroke]="chartOptions2.stroke" [tooltip]="chartOptions2.tooltip"
                                  [dataLabels]="chartOptions2.dataLabels" [grid]="chartOptions2.grid"
                                  [yaxis]="chartOptions2.yaxis">
                              </apx-chart>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3">
                  <div class="card custom-card overflow-hidden">
                      <div class="card-body p-0">
                          <div class="mb-2 p-3 pb-0">
                              <div class="flex-fill fs-15">Orders Received</div>
                          </div>
                          <div class="d-flex align-items-center ps-3">
                              <div class="flex-fill">
                                  <div class="fs-25 fw-normal mb-2">30k+</div>
                                  <p class="mb-0">
                                      <i class="ri-arrow-up-line text-info fs-15 align-middle"></i>
                                      <span  class="text-info fs-12"> 16.35% last month</span>
                                  </p>
                              </div>
                              <div id="orders-card" class="crm-card-chart">
                                  <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart"
                                  [xaxis]="chartOptions3.xaxis" [colors]="chartOptions3.colors" [fill]="chartOptions3.fill"
                                  [stroke]="chartOptions3.stroke" [tooltip]="chartOptions3.tooltip"
                                  [dataLabels]="chartOptions3.dataLabels" [grid]="chartOptions3.grid"
                                  [yaxis]="chartOptions3.yaxis">
                              </apx-chart>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End::row-1 -->
  
  <!-- Start::row-2 -->
  <!-- <div class="row">
      <div class="col-lg-12 col-xxl-3">
          <div class="card custom-card overflow-hidden">
              <div class="card-header justify-content-between">
                  <div class="card-title">Visitors By Country</div>
                  <div ngbDropdown  class="dropdown no-caret">
                      <a ngbDropdownToggle aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown">
                          <i class="ri-more-fill fs-18 text-muted"></i>
                      </a>
                      <ul ngbDropdownMenu  class="dropdown-menu" role="menu">
                          <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Action</a></li>
                          <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Another Action</a></li>
                          <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Something Else</a></li>
                      </ul>
                  </div>
              </div>
              <div class="card-body">
                  <ul class="list-unstyled visitors-country">
                      <li>
                          <div class="d-flex align-items-center"> 
                              <div class="flex-fill">
                                  <div class="d-flex align-items-center justify-content-between mb-2">
                                      <span class="d-block fs-14">U.S.A</span>
                                      <span class="d-block fs-12 text-muted">559/896</span>
                                  </div>
                                  <div class="progress progress-animate progress-xs" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                      <div class="progress-bar progress-bar-striped bg-primary" style="width: 85%"></div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="d-flex align-items-center"> 
                              <div class="flex-fill">
                                  <div class="d-flex align-items-center justify-content-between mb-2">
                                      <span class="d-block fs-14">Germany</span>
                                      <span class="d-block fs-12 text-muted">358/786</span>
                                  </div>
                                  <div class="progress progress-animate progress-xs" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                      <div class="progress-bar progress-bar-striped bg-secondary" style="width: 80%"></div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="d-flex align-items-center"> 
                              <div class="flex-fill">
                                  <div class="d-flex align-items-center justify-content-between mb-2">
                                      <span class="d-block fs-14">Russia</span>
                                      <span class="d-block fs-12 text-muted">296/786</span>
                                  </div>
                                  <div class="progress progress-animate progress-xs" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                      <div class="progress-bar progress-bar-striped bg-warning" style="width: 75%"></div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="d-flex align-items-center"> 
                              <div class="flex-fill">
                                  <div class="d-flex align-items-center justify-content-between mb-2">
                                      <span class="d-block fs-14">Brazil</span>
                                      <span class="d-block fs-12 text-muted">185/786</span>
                                  </div>
                                  <div class="progress progress-animate progress-xs" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                      <div class="progress-bar progress-bar-striped bg-info" style="width: 70%"></div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="d-flex align-items-center"> 
                              <div class="flex-fill">
                                  <div class="d-flex align-items-center justify-content-between mb-2">
                                      <span class="d-block fs-14">France</span>
                                      <span class="d-block fs-12 text-muted">095/786</span>
                                  </div>
                                  <div class="progress progress-animate progress-xs" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                      <div class="progress-bar progress-bar-striped bg-danger" style="width: 65%"></div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="d-flex align-items-center"> 
                              <div class="flex-fill">
                                  <div class="d-flex align-items-center justify-content-between mb-2">
                                      <span class="d-block fs-14">China</span>
                                      <span class="d-block fs-12 text-muted">068/786</span>
                                  </div>
                                  <div class="progress progress-animate progress-xs" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                      <div class="progress-bar progress-bar-striped bg-success" style="width: 60%"></div>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="card-footer">
                  <div class="text-center">
                      <a href="javascript:void(0);" class="text-secondary">Full Details <i class="ri-share-box-line align-middle"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-12 col-xxl-6">
          <div class="card custom-card overflow-hidden">
              <div class="card-header justify-content-between">
                  <div class="card-title">
                      Earning Reports
                  </div>
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked>
                      <label class="btn btn-outline-light" for="btnradio1">Week</label>
  
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                      <label class="btn btn-outline-light" for="btnradio2">Month</label>     
  
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio3">
                      <label class="btn btn-outline-light" for="btnradio3">Year</label>
                  </div>
              </div>
              <div class="card-body">
                  <div id="earning-reports">
                      <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart"
                                  [xaxis]="chartOptions4.xaxis" [colors]="chartOptions4.colors" [fill]="chartOptions4.fill"
                                  [stroke]="chartOptions4.stroke" [tooltip]="chartOptions4.tooltip" [legend]="chartOptions4.legend"
                                  [dataLabels]="chartOptions4.dataLabels" [grid]="chartOptions4.grid"
                                  [yaxis]="chartOptions4.yaxis"></apx-chart>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-12 col-xl-12 col-xxl-3">
          <div class="card custom-card overflow-hidden">
              <div class="card-header justify-content-between">
                  <div class="card-title">Visitors</div>
                  <div  ngbDropdown >
                      <a href="javascript:void(0);" class="p-2 fs-12 text-muted"  ngbDropdownToggle aria-expanded="false">
                          Sort By
                      </a>
                      <ul ngbDropdownMenu >
                          <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                          <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Last Week</a></li>
                          <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">This Month</a></li>
                      </ul>
                  </div>
              </div>
              <div class="card-body p-0 pt-2">
                  <div id="visitors" class="py-3 my-2">
                      <apx-chart [series]="chartOptions5.series" [chart]="chartOptions5.chart"
                                  [xaxis]="chartOptions5.xaxis" [colors]="chartOptions5.colors" [labels]="chartOptions5.labels"
                                  [stroke]="chartOptions5.stroke" [tooltip]="chartOptions5.tooltip" [legend]="chartOptions5.legend"
                                  [dataLabels]="chartOptions5.dataLabels" [grid]="chartOptions5.grid"  [plotOptions]="chartOptions5.plotOptions"
                                  [yaxis]="chartOptions5.yaxis">
                              </apx-chart>
                  </div>
                  <div class="row border-top border-block-start-dashed">
                      <div class="col border-end border-inline-end-dashed">
                          <div class="text-center p-3">
                              <span class="fs-14 visit-gender male">Male</span>
                              <div class="mt-1">
                                  <span class="fs-18">1,654</span>
                              </div>
                          </div>
                      </div>
                      <div class="col border-end border-inline-end-dashed">
                          <div class="text-center p-3">
                              <span class="fs-14 visit-gender female">Female</span>
                              <div class="mt-1">
                                  <span class="fs-18">1,234</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <!-- End::row-2 -->
  
  <!-- Start::row-3 -->
  <div class="row">
      <div class="col-md-12 col-xl-12 col-xxl-12">
          <div class="card custom-card">
              <div class="card-header justify-content-between">
                  <div class="card-title">Recent Orders</div>
                  <div ngbDropdown  class="dropdown">
                      <a href="javascript:void(0);" class="btn btn-primary-light" ngbDropdownToggle data-bs-toggle="dropdown" aria-expanded="false">
                          Sort By 
                          
                      </a>
                      <ul ngbDropdownMenu  class="dropdown-menu" role="menu">
                          <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                          <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Last Week</a></li>
                          <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">This Month</a></li>
                      </ul>
                  </div>
              </div>
              <div class="card-body p-0">
                  <div class="table-responsive overflow-scroll">
                      <table class="table text-nowrap table-hover">
                          <thead>
                              <tr>
                                  <th class="text-center">S.No</th>
                                  <th class="crm-table-th1">Role</th>
                                  <th class="crm-table-th2">Project</th>
                                  <th class="crm-table-th2">workflow</th>
                                  <th class="crm-table-th2">Reviewer</th>
                                  <th class="crm-table-th2">Status</th>
                                  <th class="crm-table-th2">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="text-center">1</td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <div class="avatar avatar-md avatar-rounded me-2">
                                              <img src="./assets/images/faces/15.jpg" alt="img">
                                          </div>
                                          <div>
                                              <h6 class="mb-0 fs-14">Christopher</h6>
                                              <p class="mb-0 text-muted">Christopher&#64;mailer.com</p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>
                                      <span class="badge bg-success-transparent ps-3 fs-11 order-status complete">
                                          Completed
                                      </span>
                                  </td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-primary-light btn-wave me-3" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Edit"><i class="ri-pencil-line"></i></a>
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave" data-bs-toggle="tooltip" placement="top" ngbTooltip="Delete"><i class="ri-delete-bin-line"></i></a>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-center">2</td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <div class="avatar avatar-md avatar-rounded me-2">
                                              <img src="./assets/images/faces/11.jpg" alt="img">
                                          </div>
                                          <div>
                                              <h6 class="mb-0 fs-14">William</h6>
                                              <p class="mb-0 text-muted">William&#64;mailer.com</p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>
                                      <span class="badge bg-danger-transparent ps-3 fs-11 order-status cancel">
                                          Cancelled
                                      </span>
                                  </td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-primary-light btn-wave me-3" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Edit"><i class="ri-pencil-line"></i></a>
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave" data-bs-toggle="tooltip" placement="top" ngbTooltip="Delete"><i class="ri-delete-bin-line"></i></a>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-center">3</td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <div class="avatar avatar-md avatar-rounded me-2">
                                              <img src="./assets/images/faces/5.jpg" alt="img">
                                          </div>
                                          <div>
                                              <h6 class="mb-0 fs-14">Isabella</h6>
                                              <p class="mb-0 text-muted">Isabella&#64;mailer.com</p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>
                                      <span class="badge bg-warning-transparent ps-3 fs-11 order-status pending">
                                          Pending
                                      </span>
                                  </td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-primary-light btn-wave me-3" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Edit"><i class="ri-pencil-line"></i></a>
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave" data-bs-toggle="tooltip" placement="top" ngbTooltip="Delete"><i class="ri-delete-bin-line"></i></a>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-center">4</td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <div class="avatar avatar-md avatar-rounded me-2">
                                              <img src="./assets/images/faces/10.jpg" alt="img">
                                          </div>
                                          <div>
                                              <h6 class="mb-0 fs-14">Richard</h6>
                                              <p class="mb-0 text-muted">Richard&#64;mailer.com</p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>
                                      <span class="badge bg-success-transparent ps-3 fs-11 order-status complete">
                                          Completed
                                      </span>
                                  </td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-primary-light btn-wave me-3" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Edit"><i class="ri-pencil-line"></i></a>
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave" data-bs-toggle="tooltip" placement="top" ngbTooltip="Delete"><i class="ri-delete-bin-line"></i></a>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-center">5</td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <div class="avatar avatar-md avatar-rounded me-2">
                                              <img src="./assets/images/faces/11.jpg" alt="img">
                                          </div>
                                          <div>
                                              <h6 class="mb-0 fs-14">Michael</h6>
                                              <p class="mb-0 text-muted">Michael&#64;mailer.com</p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>
                                      <span class="badge bg-danger-transparent ps-3 fs-11 order-status cancel">
                                          Cancelled
                                      </span>
                                  </td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-primary-light btn-wave me-3" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Edit"><i class="ri-pencil-line"></i></a>
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave" data-bs-toggle="tooltip" placement="top" ngbTooltip="Delete"><i class="ri-delete-bin-line"></i></a>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-center">6</td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <div class="avatar avatar-md avatar-rounded me-2">
                                              <img src="./assets/images/faces/8.jpg" alt="img">
                                          </div>
                                          <div>
                                              <h6 class="mb-0 fs-14">Scarlett</h6>
                                              <p class="mb-0 text-muted">Scarlett&#64;mailer.com</p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>NA</td>
                                  <td>
                                      <span class="badge bg-warning-transparent ps-3 fs-11 order-status pending">
                                          Pending
                                      </span>
                                  </td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-primary-light btn-wave me-3" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Edit"><i class="ri-pencil-line"></i></a>
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave" data-bs-toggle="tooltip" placement="top" ngbTooltip="Delete"><i class="ri-delete-bin-line"></i></a>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-center border-bottom-0">7</td>
                                  <td class="border-bottom-0">
                                      <div class="d-flex align-items-center">
                                          <div class="avatar avatar-md avatar-rounded me-2">
                                              <img src="./assets/images/faces/7.jpg" alt="img">
                                          </div>
                                          <div>
                                              <h6 class="mb-0 fs-14">Olivia</h6>
                                              <p class="mb-0 text-muted">Olivia&#64;mailer.com</p>
                                          </div>
                                      </div>
                                  </td>
                                  <td class="border-bottom-0">NA</td>
                                  <td class="border-bottom-0">NA</td>
                                  <td class="border-bottom-0">NA</td>
                                  <td class="border-bottom-0">
                                      <span class="badge bg-success-transparent ps-3 fs-11 order-status complete">
                                          Completed
                                      </span>
                                  </td>
                                  <td class="border-bottom-0">
                                      <div class="d-flex align-items-center">
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-primary-light btn-wave me-3" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Edit"><i class="ri-pencil-line"></i></a>
                                          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave" data-bs-toggle="tooltip" placement="top" ngbTooltip="Delete"><i class="ri-delete-bin-line"></i></a>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <!-- <div class="col-md-12 col-xl-12 col-xxl-4">
          <div class="card custom-card overflow-hidden">
              <div class="card-header justify-content-between">
                  <div class="card-title">
                      Customers Activity
                  </div>
              </div>
              <div class="card-body p-0 crm-card-chart">
                  <div id="customers-activity" class="px-3">
                      <apx-chart [series]="chartOptions6.series" [chart]="chartOptions6.chart"
                                  [xaxis]="chartOptions6.xaxis" [colors]="chartOptions6.colors" [legend]="chartOptions6.legend"
                                  [stroke]="chartOptions6.stroke" [tooltip]="chartOptions6.tooltip"
                                  [dataLabels]="chartOptions6.dataLabels" [grid]="chartOptions6.grid"
                                  [yaxis]="chartOptions6.yaxis">
                              </apx-chart>
                  </div>
                  <div class="row border-bottom pb-3">
                      <div class="col ps-3 p-0">
                          <div class="text-center">
                              <span class="fs-18 customer-count new">1586</span>
                              <div class="fs-14">New Customers</div>
                          </div>
                      </div>
                      <div class="col pe-3 p-0">
                          <div class="text-center">
                              <span class="fs-18 customer-count return">486</span>
                              <div class="fs-14">Return Customers</div>
                          </div>
                      </div>
                  </div>
                  <div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <a href="javascript:void(0);">
                                  <div class="d-flex align-items-center">
                                      <div class="avatar avatar-md online avatar-rounded me-2">
                                          <img src="./assets/images/faces/12.jpg" alt="img">
                                      </div>
                                      <div class="flex-fill">
                                          <span class="fs-14">Charlette</span>
                                          <div class="fs-12 text-muted">New Account Created</div>
                                      </div>
                                      <div>
                                          <span>5 mins ago</span>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li class="list-group-item">
                              <a href="javascript:void(0);">
                                  <div class="d-flex align-items-center">
                                      <div class="avatar avatar-md online avatar-rounded me-2">
                                          <img src="./assets/images/faces/14.jpg" alt="img">
                                      </div>
                                      <div class="flex-fill">
                                          <span class="fs-14">Nicholas James</span>
                                          <div class="fs-12 text-muted">Upgraded to Premium</div>
                                      </div>
                                      <div>
                                          <span>15 min ago</span>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li class="list-group-item">
                              <a href="javascript:void(0);">
                                  <div class="d-flex align-items-center">
                                      <div class="avatar avatar-md avatar-rounded me-2">
                                          <img src="./assets/images/faces/16.jpg" alt="img">
                                      </div>
                                      <div class="flex-fill">
                                          <span class="fs-14">Gabe Lackman</span>
                                          <div class="fs-12 text-muted">New Device LoggedIn</div>
                                      </div>
                                      <div>
                                          <span>31 min ago</span>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li class="list-group-item">
                              <a href="javascript:void(0);">
                                  <div class="d-flex align-items-center">
                                      <div class="avatar avatar-md online avatar-rounded me-2">
                                          <img src="./assets/images/faces/9.jpg" alt="img">
                                      </div>
                                      <div class="flex-fill">
                                          <span class="fs-14">Manuel Labor</span>
                                          <div class="fs-12 text-muted">New Account Created</div>
                                      </div>
                                      <div>
                                          <span>1 hour ago</span>
                                      </div>
                                  </div>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="card-footer">
                  <div class="text-center">
                      <a href="javascript:void(0);">
                          <span class="text-secondary">View All <i class="ri-share-box-line align-middle"></i></span>
                      </a>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
  <!-- End::row-3 -->