<app-page-header title="Echart-Charts" title1="Charts" activeTitle="Echart-Charts"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Line Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-basic-line" echarts [options]="options1" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Smoothed Line Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-smoothed-line" echarts [options]="options2" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Area Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-basic-area" echarts [options]="options3" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Stacked Line Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-stacked-line" echarts [options]="options4" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Stacked Area Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-stacked-area" echarts [options]="options5" theme="macarons" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Step Line Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-step-line" echarts [options]="options6" theme="macarons" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Bar Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-bar-basic" echarts [options]="options7" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Bar With Background Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-bar-background" echarts [options]="options8" theme="macarons" class="echart-charts">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Style For a Single Bar Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-bar-single" echarts [options]="options9" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Water Fall Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-waterfall" echarts [options]="options10" theme="macarons" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Bar With Negative Values Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-negative-values" echarts [options]="options11" theme="macarons" class="echart-charts">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Bar With Labels Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-bar-labels" echarts [options]="options12" [merge]="mergeOptions" class="echart-charts">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Horizontal Bar Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-bar-horizontal" echarts [options]="options14" [merge]="mergeOptions"
                    class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Horizontal Stacked Bar Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-stacked-horizontal" echarts [options]="options15" [merge]="mergeOptions"
                    class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Pie Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-pie" echarts [options]="options16" [theme]="theme" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Doughnut Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-doughnut" echarts [options]="options17" [theme]="theme" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Scatter Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-scatter" echarts [options]="options18" [theme]="theme" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Bubble Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-bubble" echarts [options]="options19" [theme]="theme" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Candlestick Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-candlestick" echarts [options]="options20" [theme]="theme" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Radar Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-basic-radar" echarts [options]="options21" [theme]="theme" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Heatmap Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-heatmap" echarts [options]="options22" [theme]="theme" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Treemap Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-treemap" echarts [options]="options23" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Funnel Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-funnel" echarts [options]="options24" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Gauge Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-gauge-basic" echarts [options]="options25" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Simple Graph Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-simple-graph" echarts [options]="options" class="echart-charts"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">bar Chart</div>
            </div>
            <div class="card-body">
                <div id="echart-pictorial" echarts [options]="options27" echarts class="echart-charts"></div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->