<app-page-header title="Candlestick-Charts" title1="Apex-Charts" activeTitle="Candlestick-Charts" ></app-page-header>

 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Candlestick Chart</div>
            </div>
            <div class="card-body">
                <div id="candlestick-basic">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis"
                    [title]="chartOptions.title"[colors]="chartOptions.colors"[plotOptions]="chartOptions.plotOptions"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Candlestick Synced With Brush Chart</div>
            </div>
            <div class="card-body">
                <div id="chart-candlestick">
                    <apx-chart #chartCandle [series]="chartCandleOptions1.series"
                    [chart]="chartCandleOptions1.chart" [xaxis]="chartCandleOptions1.xaxis"
                    [plotOptions]="chartCandleOptions1.plotOptions"></apx-chart>
                    </div>
                    <div id="chart-bar">
                        <apx-chart #chartBar [series]="chartBarOptions.series" [chart]="chartBarOptions.chart"
                                [xaxis]="chartBarOptions.xaxis" [yaxis]="chartBarOptions.yaxis"
                                [dataLabels]="chartBarOptions.dataLabels" [stroke]="chartBarOptions.stroke"
                                [plotOptions]="chartBarOptions.plotOptions"></apx-chart>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Candlestick With Cateory X-axis</div>
            </div>
            <div class="card-body">
                <div id="candlestick-categoryx">
                    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                    [xaxis]="chartOptions2.xaxis" [yaxis]="chartOptions2.yaxis" [title]="chartOptions2.title"
                    [tooltip]="chartOptions2.tooltip"[plotOptions]="chartOptions2.plotOptions"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Candlestick With Line Chart</div>
            </div>
            <div class="card-body">
                <div id="candlestick-line">
                    <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart"
                    [xaxis]="chartOptions3.xaxis" [title]="chartOptions3.title" [tooltip]="chartOptions3.tooltip"
                    [stroke]="chartOptions3.stroke"[plotOptions]="chartOptions3.plotOptions"></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->