<app-page-header title="Order-Details" title1="Dashboards" activeTitle="Order-Details"></app-page-header>
<div class="btn-list">
    <button class="btn btn-primary btn-wave me-2">
         Create Quotation rule
    </button>
</div>
<div class="row justify-content-center align-items-center pb-5">
    <div class="col-xl-8 bg-white pb-2 pt-2 rounded">
            <!-- <app-showcode-card [title]="'Form grid'" [prism]="prismCode.formlayouts10"> -->
                <h6>BOM Details Export</h6>
                <div class="row mt-3">
                    <div class="col-xxl-6 col-xl-12 mb-3">Model Quotation Category
                        <select id="inputState1" class="form-select">
                            <option selected>Model Quotation Category</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-xxl-6 col-xl-12 mb-3">
                        Quotation Mode Name
                        <select id="inputState1" class="form-select">
                            <option selected>Quotation Mode Name</option>
                            <option>...</option>
                        </select>
                    </div>
                    
                    <div class="col-xxl-6 col-xl-12 mb-3">
                        Tool Line
                        <select id="inputState1" class="form-select">
                            <option selected>Tool Line</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-xxl-6 col-xl-12 mb-3">
                        Design Id
                        <select id="inputState1" class="form-select">
                            <option selected>Design Id</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-xxl-6 col-xl-12 mb-3">
                        <select id="inputState1" class="form-select">
                            <option selected>State</option>
                            <option>...</option>
                        </select>
                    </div>
                    
                    <div class="col-md-12 justify-content-center">
                        <button type="submit" class="btn btn-primary">Generate BOM List</button>
                    </div>
                    
                </div>
    
            <!-- </app-showcode-card> -->
        </div>
    </div>
    