<video class="video-background ratio ratio-1x" src="./assets/video/school_of_fish.mp4" autoplay loop muted></video> 
<div class="container-lg">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-7 col-xl-8 col-lg-5 col-md-8 col-sm-12 col-12">
            <div class="card custom-card bg-light p-2 text-white bg-opacity-75  ">
                <overlay-scrollbars [defer] id="filemanager-scroll">
                    <div class="card-body p-4">
                        <p class="h5 mb-2 text-center"><strong>Sign Up</strong></p>
                        <form [formGroup]="signupFrm" class="bg-light p-2 text-white bg-opacity-25">
                            <div class="row gy-2">
                                <div class="col-xl-6">
                                    <label for="role-id" class="form-label text-default"><strong>Type</strong>
                                        <span class="text-danger"> *</span></label>                                   
                                    <!-- <select class="form-select form-select-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="role-id" formControlName="type"
                                        [ngClass]="{ 'is-invalid': submitted && f['type'].errors }">
                                        <option value="" disabled selected>Select type</option>
                                        <option value="1">Individual</option>
                                        <option value="2">Enterprise</option>
                                    </select> -->
                                    <select class="form-select form-select-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark"  id="role-id" formControlName="type"
                                        [ngClass]="{ 'is-invalid': submitted && f['type'].errors }" (change)="onDropdownChange()">
                                        <option value="" disabled selected>Select type</option>
                                        <option value="1">Individual </option>
                                            <!-- <mat-icon>perm_identity</mat-icon> -->
                                            <!-- <img src="../../../../../assets/images/icons/Person.png"></option> -->
                                            <!-- <span class="material-symbols-outlined">
                                                person
                                                </span> -->
                                            <option value="2">Enterprise </option>
                                            <!-- <mat-icon> business</mat-icon> -->
                                            <!-- <img src="../../../../../assets/images/icons/Office.png"></option> -->
                                            <!-- <span class="material-symbols-outlined">
                                                apartment
                                                </span> -->
                                        </select>
                                    <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
                                        <div *ngIf="f['type'].errors['required']">Type is required</div>
                                    </div>
                                </div>
                                
                                <!-- <div class="col-xl-12">
                                    <mat-form-field>
                                        <mat-label>Icon dropdown</mat-label>
                                        <mat-select>
                                        <mat-option *ngFor="let icon of icons" [value]="icon.value">
                                            <mat-icon mat-list-icon>{{ icon.icon }}</mat-icon>
                                            {{ icon.name }}
                                        </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->
                                
                                <div [ngClass]="isCompany">
                                    <label for="signup-companyName" class="form-label text-default">
                                        <strong>Company Name</strong> <span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signup-companyName"
                                        placeholder="Company name" formControlName="companyName"
                                        [ngClass]="{ 'is-invalid': submitted && f['companyName'].errors }"
                                        appShowCodeContent maxlength="50">
                                    <div *ngIf="submitted && f['companyName'].errors" class="invalid-feedback">
                                        <div *ngIf="f['companyName'].errors['required']">Company name is required</div>
                                    </div>
                                </div>
                                <div class="col-xl-2" *ngIf="isShowUsers">
                                    <label for="signup-noOfUsers" class="form-label text-default"><strong>No. of Users</strong>
                                        <span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signup-noOfUsers"
                                        placeholder="Users" formControlName="noOfUsers" [(ngModel)]="users"
                                        [ngClass]="{ 'is-invalid': submitted && f['noOfUsers'].errors }" maxlength="3"
                                        onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 8 || event.charCode == 95))'
                                        appShowCodeContent (change)="onChng($event)">
                                        <!-- <div *ngIf="noUsers!=''" style="color: red !important;">
                                            {{noUsers}}
                                        </div> -->
                                    <div *ngIf="submitted && f['noOfUsers'].errors" class="invalid-feedback">
                                        <div *ngIf="f['noOfUsers'].errors['required']">Users required</div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="signup-firstname" class="form-label text-default"><strong>First Name</strong><span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signup-firstname"
                                        placeholder="First name" formControlName="firstName" appShowCodeContent
                                        onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && 
                                        event.charCode <= 122) || event.charCode == 8 || event.charCode == 32)'
                                        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" maxlength="50">
                                    <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                                        <div *ngIf="f['firstName'].errors['required']">First name is required</div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="signup-lastname" class="form-label text-default"><strong>Last Name</strong><span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signup-lastname"
                                        placeholder="Last name" formControlName="lastName" appShowCodeContent
                                        onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && 
                                        event.charCode <= 122) || event.charCode == 8 ||event.charCode == 32)'
                                        [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" maxlength="50">
                                    <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                                        <div *ngIf="f['lastName'].errors['required']">Last name is required</div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-6">
                                    <label for="signup-username" class="form-label text-default">User Name<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control form-control-lg" id="signup-username"
                                        placeholder="username" formControlName="username" appShowCodeContent
                                        onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                        (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && 
                                        event.charCode <= 122) || event.charCode == 8 || event.charCode == 95)'
                                        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" maxlength="25">
                                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                        <div *ngIf="f['username'].errors['required']">User name is required</div>
                                    </div>
                                </div> -->
                                <div class="col-xl-6">
                                    <label for="signup-dob" class="form-label text-default"><strong>Date of birth</strong><span class="text-danger"> *</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text text-muted bg-light pl-4 font-weight-bold bg-opacity-25 border border-dark"> <i class="ri-calendar-line"></i> </div>
                                        <input class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" placeholder="Choose date" type="text" mwlFlatpickr
                                        formControlName="dob" [maxDate]="todayDt">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="signup-email" class="form-label text-default"><strong>Email</strong><span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark " id="signup-email" 
                                        placeholder="email" onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                        (event.charCode >= 64 && event.charCode <= 90) || (event.charCode >= 97 && 
                                        event.charCode <= 122) || event.charCode == 8 || event.charCode == 46 || event.charCode == 95)'
                                        formControlName="email" appShowCodeContent [(ngModel)] = 'mailId'
                                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" >
                                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                        <span *ngIf="f['email'].errors['required']">Email is required.</span>
                                        <span *ngIf="f['email'].errors['email']">Invalid email address.</span>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-1 pt-4 pavan ">
                                    <button class="btn btn-success me-2 btn-wave mt-2 " type="button" id="inputGroupFileAddon03"
                                        (click)="onMailCheck()" [disabled]="isBtnDsbl">Verify</button>
                                </div> -->
                                <!-- <div class="col-xl-5">
                                    <label for="signup-email" class="form-label text-default">Email</label>
                                        <input type="text" class="form-control form-control-lg" id="signup-email"
                                            placeholder="email" appShowCodeContent maxlength="6" [disabled]="isEmailDisabled"
                                            onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                        (event.charCode >= 64 && event.charCode <= 90) || (event.charCode >= 97 && 
                                        event.charCode <= 122) || event.charCode == 8 || event.charCode == 46 || event.charCode == 95)'
                                        [(ngModel)] = 'mailId' formControlName="email">
                                        <button class="btn btn-primary" type="button" id="inputGroup"
                                        (click)="onMailCheck()">Verify</button>
                                </div>
                                <div class="col-xl-1 pt-4">
                                    <button class="btn btn-primary mt-2" type="button" id="inputGroup"
                                        (click)="onOtpCheck()">Verify</button>
                                </div> -->
                                <!-- <div class="col-xl-12">
                                    <label for="signup-otp"
                                        class="form-label text-default">OTP<span class="text-danger"> *</span></label>
                                    <div class="input-group">  
                                        <input type="text" class="form-control form-control-lg" id="signup-otp"
                                            placeholder="OTP"  appShowCodeContent maxlength="6" [disabled]="isOtpDisabled"
                                            onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                            event.charCode == 8)' [(ngModel)] = 'otp' [ngModelOptions]="{standalone: true}">
                                        <button class="btn btn-primary" type="button" id="inputGroup"
                                        (click)="onOtpCheck()">Verify</button>
                                    </div>
                                    
                                </div> -->
                                <!-- <div class="col-xl-5">
                                    <label for="signup-otp" class="form-label text-default">OTP</label>
                                        <input type="text" class="form-control form-control-lg" id="signup-otp"
                                            placeholder="OTP"  appShowCodeContent maxlength="6" [disabled]="isOtpDisabled"
                                            onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8)'
                                            (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)" (paste)="preventCopyPaste($event)"

                                            [(ngModel)] = 'otp' [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col-xl-1 pt-4 pavan">
                                    <button class="btn btn-success me-2 btn-wave mt-2" type="button" id="inputGroup"
                                        (click)="onOtpCheck()" [disabled]="isBtnDsbl">Verify</button>
                                </div> -->
                                
                                <div class="col-xl-6">
                                    <label for="signup-password"
                                        class="form-label text-default"><strong>Password</strong><span class="text-danger"> *</span></label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signup-password"
                                            placeholder="password" [type]="showPassword ? 'text' : 'password'" autocomplete
                                            formControlName="password" appShowCodeContent [(ngModel)]="paswrd"
                                            onkeypress='return ((event.charCode >= 33 && event.charCode <= 127) || event.charCode == 8)' 
                                            (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)" (paste)="preventCopyPaste($event)"
                                            maxlength="16" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                            <span class="checkmark" *ngIf="isPasswordValid">&#10003;</span>
                                        
                                        <a href="javascript:void(0);" class="show-password-button text-muted"
                                            (click)="createpassword()" id="button-addon2"><i class="ri-eye-{{toggleClass}} align-middle"></i></a>
                                            <div class="message" [style.color]="passwordStrengthColor">
                                                {{ passwordStrengthMessage }}
                                            </div>
                                        <div *ngIf="submitted && f['password'].errors || f['password'].touched"
                                            class="invalid-feedback">
                                            <div *ngIf="isPasswrd && f['password'].errors?.['required']">Password is required.</div>
                                            <div *ngIf="isPassValid && f['password'].errors?.['invalidPassword']">
                                                Password must be at least 8 characters long, contain one Special character at least one uppercase
                                                letter, one lowercase letter and one number.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-6">
                                    <div class="password-field">
                                        <label for="signup-password" class="form-label text-default"><strong>Password</strong><span class="text-danger"> *</span></label>
                                        <input type="password" formControlName="password" placeholder="Enter password"
                                          [ngClass]="{ valid: isPasswordValid, invalid: submitted && f['password'].invalid }"/>
                                        <input type="password" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signup-password"
                                            placeholder="password" [type]="showPassword ? 'text' : 'password'" autocomplete
                                            formControlName="password" appShowCodeContent [(ngModel)]="paswrd"
                                            onkeypress='return ((event.charCode >= 33 && event.charCode <= 127) || event.charCode == 8)' 
                                            (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)" (paste)="preventCopyPaste($event)"
                                            maxlength="16" [ngClass]="{'is-invalid': submitted && f['password'].errors }">
                                        
                                        <span class="checkmark" *ngIf="isPasswordValid">&#10003;</span>
                                      </div>
                                      <div class="message" [style.color]="passwordStrengthColor">
                                        {{ passwordStrengthMessage }}
                                      </div>
                                      <div *ngIf="submitted && f['password'].errors"
                                            class="invalid-feedback">Password is required1.
                                            <div *ngIf="f['password'].errors?.['required']">Password is required.</div>
                                            <div *ngIf="f['password'].errors?.['invalidPassword']">
                                                Password must be at least 8 characters long, contain one Special character at least one uppercase
                                                letter, one lowercase letter and one number.
                                            </div>
                                        </div>
                                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                        <div *ngIf="f['password'].errors?.['required']" class="invalid-feedback">
                                          Password is required.
                                        </div>
                                        <div *ngIf="f['password'].errors?.['invalidPassword']" class="invalid-feedback">
                                          Password must be at least 8 characters long, contain one special character, one uppercase letter, one lowercase letter, and one number.
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-xl-6">
                                    <label for="signup-confirmpassword" class="form-label text-default"><strong>Confirm Password</strong><span class="text-danger"> *</span></label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark"
                                            id="signup-confirmpassword" placeholder="confirm password" formControlName="confirmPassword"
                                            [type]="showPassword1 ? 'text' : 'password'" autocomplete maxlength="16"
                                            (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)" (paste)="preventCopyPaste($event)"
                                            onkeypress='return ((event.charCode >= 33 && event.charCode <= 127) || event.charCode == 8)' 
                                            [(ngModel)]="cnfmPaswrd" appShowCodeContent [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                                        <span class="checkmark" *ngIf="isCnfmPwd">&#10003;</span>
                                        <a href="javascript:void(0);" class="show-password-button text-muted"
                                            (click)="createpassword1()" id="button-addon21"><i
                                                class="ri-eye-{{toggleClass1}} align-middle"></i></a>
                                        <div class="message" [style.color]="confirmPasswordStrengthColor">
                                            {{ confirmPasswordStrengthMessage }}
                                        </div>
                                        <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                                            <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="signup-mobile" class="form-label text-default"><strong>Phone Number</strong><span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signup-mobile"
                                        placeholder="mobile" formControlName="phoneNumber" maxlength="10"
                                        onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                        event.charCode == 8)' (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)" (paste)="preventCopyPaste($event)" 
                                        [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }">
                                    <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                                        <div *ngIf="f['phoneNumber'].errors['required']">Phone Number is required</div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-6">
                                    <label for="signup-mobile" class="form-label text-default"><strong>Phone Number</strong><span class="text-danger"> *</span></label>
                                    <div class="input-group mb-3">
                                            <select class="form-select form-control form-control-sm bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="country" formControlName="country" 
                                            [ngClass]="{ 'is-invalid': submitted && f['country'].errors }">
                                            <option value="{{c.country}}" *ngFor="let c of countryLst">+{{ c.code }}</option>
                                        </select>
                                        <div class="input-group-prepend">
                                            <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signup-mobile"
                                            placeholder="mobile" formControlName="phoneNumber" maxlength="10"
                                            onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                            event.charCode == 8)' (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)" (paste)="preventCopyPaste($event)" 
                                            [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }">
                                        <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                                            <div *ngIf="f['phoneNumber'].errors['required']">Phone Number is required</div>
                                        </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-xl-6">
                                    <label for="role-id" class="form-label text-default"><strong>Tool ID</strong><span class="text-danger"> *</span></label><br>
                                    <mat-form-field >
                                        <mat-select formControlName="tools" multiple>
                                            @for (topping of toolsList; track topping) {
                                            <mat-option [value]="topping">{{topping}}</mat-option>
                                            }
                                        </mat-select>
                                        <mat-error *ngIf="f['tools'].errors?.['required']">
                                            Please select at least one tool.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6">
                                    <label for="signup-country" class="form-label text-default"><strong>Country</strong><span class="text-danger">*</span></label>
                                    <select class="form-select form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="country" formControlName="country" 
                                        [ngClass]="{ 'is-invalid': submitted && f['country'].errors }">
                                        <option value="" disabled selected>Select</option>
                                        <!-- <option *ngFor="let country of countryList" [value]="country.code" [selected]="country.name == 'United States'">  {{country.name}}    </option> -->
                                        <option value="{{c.country}}" *ngFor="let c of countryLst">{{c.country}} (+{{ c.code }})</option>
                                    </select>
                                    <div *ngIf="submitted && f['country'].errors" class="invalid-feedback">
                                        <div *ngIf="f['country'].errors['required']">Country is required</div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="d-grid gap-2 col-8 mx-auto mt-4">
                                <!-- <button class="h6 btn btn-lg bg-light p-2 font-weight-bold text-dark bg-opacity-25 border border-dark" 
                                (click)="onSignup()" [disabled]="btnDisable">Create Account</button> -->
                                <button class="btn btn-lg bg-light p-2 font-weight-bold text-dark bg-opacity-25 border border-dark" (click)="onSignup()"
                                [disabled]="btnDisable">Create Account</button>
                            </div>
                        </form>
                        <div class="text-center">
                            <p class="h6 font-weight-bold mt-3 mb-0"><strong>Already have an account? </strong> <a
                                    routerLink="/auth/login" class="text-primary"><strong> Sign In</strong></a></p>
                        </div>
                    </div>
                </overlay-scrollbars>
            </div>
        </div> 
    </div>
</div>


<!-- <ng-template #content let-modal>
    <div class="modal-header justify-content-center align-items-center">
        <h5 class="modal-title">OTP </h5>
      </div>
      <div class="modal-body">
        <div class="col-xl-12">
            <div class="otp-container">
                <input *ngFor="let digit of otpArray; let i = index"
                type="text" maxlength="1" (input)="onInputChange($event, i)"
                (keydown)="onKeydown($event, i)" [(ngModel)]="otp[i]"
                onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8)'
                [ngModelOptions]="{standalone: true}" [attr.aria-label]="'Digit ' + (i + 1)"/>
            </div>
        </div> 
      </div>
      <div class="d-grid gap-2 col-3 mx-auto">
        <div class="modal-footer ">
            <button type="button" class="btn btn-primary btn-wave" (click)="onOtpCheck()">OK</button>
          </div>
      </div>
</ng-template> -->

<ng-template #modalTemplate>
    <div class="modal fade show d-block" style="background: rgba(0,0,0,0.5);" tabindex="-1">
        <div class="modal-dialog bg-light p-2 text-white bg-opacity-50">
          <div class="modal-content bg-light p-2 text-white bg-opacity-50">
            <div class="modal-header justify-content-center">
              <h5 class="modal-title">OTP</h5>
              <!-- <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button> -->
            </div>
            <div class="modal-body">
                <div class="col-xl-12">
                    <div class="otp-container">
                        <input class="bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" *ngFor="let digit of otpArray; let i = index"
                        type="text" maxlength="1" (input)="onInputChange($event, i)"
                        (keydown)="onKeydown($event, i)" [(ngModel)]="otp[i]"
                        onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8)'
                        [ngModelOptions]="{standalone: true}" [attr.aria-label]="'Digit ' + (i + 1)"/>
                    </div>
                </div> 
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-lg bg-light p-2 font-weight-bold text-dark bg-opacity-25 border border-dark" (click)="onOtpCheck()"
                [disabled]="isOkBtn">Submit</button>
            </div>
          </div>
        </div>
    </div>
</ng-template>