.authentication .desktop-logo, .authentication .desktop-dark {
    height: 6.5rem;
    line-height: 1.5rem;
    margin-top: -50px;
}

// .card.custom-card {
//     border-radius: 0.85rem;
//     background-color: var(--custom-white);
//     box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
//     position: relative;
//     margin-block-end: 1.5rem;
//     width: 140%;
//     border: 0px;
//     margin-left: -68px;
// }
.otp-container {
    display: flex;
    gap: 8px;
    justify-content: center;
}
  
.otp-container input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.os-scrollbar-visible {
    visibility:hidden;
}

.password-field {
  position: relative;
  width: 300px;
  margin-bottom: 10px;
}

input {
  // width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  outline: none;
}

input.valid {
  border-color: #28a745; /* Green for valid */
}

input.invalid {
  border-color: #dc3545; /* Red for invalid */
}
  
.checkmark {
  position: absolute;
  right: 30px;
  top: 30%;
  transform: translateY(-50%);
  color: #28a745;
  font-size: 20px;
}

.message {
  font-size: 14px;
  margin-top: 5px;
}

.invalid-feedback {
  color: #dc3545;
  margin-top: 5px;
  font-size: 14px;
}  

mat-select {
  background-color: #e5f8fb;    
}

::ng-deep .mat-primary.mdc-menu-surface {
  background-color: #e5f8fb !important;
}
.accordion-body{
  padding: 0.75rem 1rem;
  font-size: 0.8125rem;
  color: black;
}
// new
.phone-input-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between the dropdown and input field */
}

.country-code {
  width: 80px; /* Adjust the width as per your preference */
  height: 100%; /* Make it match the height of the input */
}

.phone-number {
  flex: 1; /* Take up the remaining space */
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}

.custom-input-group .form-select {
  width: 25%; /* Adjust the width for the select dropdown */
}

.custom-input-group .form-control {
width: 80%; /* Adjust the width for the mobile input field */
}

@media (max-width: 768px) {
/* Ensure responsiveness for smaller screens */
.custom-inpsut-group .form-select,
.custom-input-group .form-control {
  width: 100%;
  margin-bottom: 10px;
}

.custom-input-group {
  flex-wrap: wrap;
}
}
.form-select{
  padding: 0.375rem 0.25rem 0.375rem 0.5rem;
}