<div class="container-lg">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="card custom-card my-4">
                <div class="card-body p-5">
                    <div class="mb-3 d-flex justify-content-center">
                        <a routerLink="/dashboard/sales">
                            <img src="./assets/images/brand-logos/logo.png" alt="logo" class="desktop-logo">
                            <img src="./assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
                        </a>
                    </div>
                    <p class="h5 mb-2 text-center">Sign Up</p>
                    <p class="mb-4 text-muted op-7 fw-normal text-center">Welcome & Join us by creating a free account !</p>
                    <form [formGroup]="signupFrm" (ngSubmit)="onSignup()">
                    <div class="row gy-3" >
                        <div class="col-xl-12">
                            <label for="signup-firstname" class="form-label text-default">First Name<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg" id="signup-firstname" placeholder="First name"
                            formControlName="firstName">
                        </div>
                        <div class="col-xl-12">
                            <label for="signup-lastname" class="form-label text-default">Last Name<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg" id="signup-lastname" 
                            placeholder="Last name" formControlName="lastName">
                        </div>
                        <div class="col-xl-12">
                            <label for="signup-username" class="form-label text-default">User Name<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg" id="signup-username" placeholder="username"
                            formControlName="username">
                        </div>
                        <div class="col-xl-12">
                            <label for="signup-dob" class="form-label text-default">Date of birth<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg" id="signup-dob" placeholder="dob"
                            formControlName="dob">
                        </div>
                        <div class="col-xl-12">
                            <label for="signup-email" class="form-label text-default">Email<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg" id="signup-email" placeholder="email"
                            formControlName="email">
                        </div>
                        <div class="col-xl-12">
                            <label for="signup-password" class="form-label text-default">Password<sup>*</sup></label>
                            <div class="position-relative">
                                <input type="password" class="form-control form-control-lg" id="signup-password" placeholder="password" 
                                [type]="showPassword ? 'text' : 'password'" autocomplete formControlName="password">
                                <a href="javascript:void(0);" class="show-password-button text-muted" (click)="createpassword()"  id="button-addon2"><i class="ri-eye-{{toggleClass}} align-middle"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <label for="signup-confirmpassword" class="form-label text-default">Confirm Password<sup>*</sup></label>
                            <div class="position-relative">
                                <input type="password" class="form-control form-control-lg" id="signup-confirmpassword" placeholder="confirm password" [type]="showPassword1 ? 'text' : 'password'" autocomplete>
                                <a href="javascript:void(0);" class="show-password-button text-muted" (click)="createpassword1()"  id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></a>
                            </div>
                            
                        </div>
                        <div class="col-xl-12">
                            <label for="signup-mobile" class="form-label text-default">Phone Number<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg" id="signup-mobile" placeholder="mobile"
                            formControlName="phoneNumber" maxlength="10">
                        </div>
                        <div class="col-xl-12">
                            <label for="tool-id" class="form-label text-default">Tool ID<sup>*</sup></label>
                            <select class="form-select form-select-lg" id="role-id" formControlName="toolId">
                                <option value="0" disabled selected>Select tool</option>
                                <option value="1">CRM</option>
                                <option value="2">Design Tool</option>
                                <option value="3">CRM & Design Tool</option>
                            </select>
                        </div>
                        <div class="col-xl-12">
                            <label for="signup-users" class="form-label text-default">No of Users<sup>*</sup></label>
                            <input type="number" class="form-control form-control-lg" id="signup-users" placeholder="no of users"
                            formControlName="noOfUsers">
                        </div>
                        <div class="col-xl-12">
                            <label for="signup-country" class="form-label text-default">Country<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg" id="signup-country" placeholder="Country"
                            formControlName="country">
                        </div>
                        <!-- <div class="col-xl-12">
                            <label for="signup-company" class="form-label text-default">Company Name<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg" id="signup-company" placeholder="mobile">
                        </div> -->

                        
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                By creating a account you agree to our <a routerLink="/pages/terms-conditions" class="text-success"><u>Terms & Conditions</u></a> and <a class="text-success"><u>Privacy Policy</u></a>
                            </label>
                        </div>
                        
                        <!-- <div class="col-xl-12">
                            <label for="role-id" class="form-label text-default">Role ID<sup>*</sup></label>
                            <select class="form-select form-select-lg" id="role-id" formControlName="roleId">
                                <option value="0" disabled selected>Select Role</option>
                                <option value="1">Admin</option>
                                <option value="2">User</option>
                                <option value="3">Manager</option>
                                <option value="4">Viewer</option>
                            </select>
                        </div> -->

                        
                        
                    </div>
                    <div class="text-center my-3 authentication-barrier">
                        <span>OR</span>
                    </div>
                    <div class="d-grid mb-3">
                        <button class="btn btn-lg btn-light-ghost border d-flex align-items-center justify-content-center">
                            <span class="avatar avatar-xs">
                                <img src="./assets/images/media/apps/google1.png" alt="">
                            </span>
                            <span class="lh-1 ms-2 fs-13 text-default">Signup with Google</span>
                        </button>
                    </div>
                    <!-- <div class="d-grid mb-3">
                        <button class="btn btn-lg btn-light-ghost border d-flex align-items-center justify-content-center">
                            <span class="avatar avatar-xs invert-1">
                                <img src="./assets/images/media/apps/apple.png" alt="">
                            </span>
                            <span class="lh-1 ms-2 fs-13 text-default">Signup with Apple</span>
                        </button>
                    </div> -->
                    <div class="d-grid mt-4">
                        <!-- <button (click)="onSignup()"> -->
                            <a routerLink="/authentication/sign-up/basic" class="btn btn-lg btn-primary" (click)="onSignup()">
                                Create Account</a>
                        <!-- </button> -->
                    </div>
                </form>
                    <div class="text-center">
                        <p class="text-muted mt-3 mb-0">Already have an account? <a routerLink="/authentication/sign-in/basic" class="text-primary">Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
