<video class="video-background ratio ratio-4x3" src="./assets/video/school_of_fish.mp4" autoplay loop muted></video>
<div class="container">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="card custom-card my-4 bg-light p-2 text-white bg-opacity-25">
                <div class="card-body p-5">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active"
                        class="nav-tabs  justify-content-center border-bottom-0 mb-2 mt-0 ">
                        <li ngbNavItem="Angular">
                            <ng-template ngbNavContent>
                                <p class="h5 mb-2 text-center">Sign In</p>
                                <form class="bg-light p-2 text-white bg-opacity-25" [formGroup]="loginForm" (ngSubmit)="Submit()">
                                    <div class="row gy-3">
                                        <div class="col-xl-12">
                                            <label for="signin-username" class="form-label text-default">Email</label>
                                            <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signin-username"
                                                autocomplete formControlName="email" [(ngModel)]="email" required
                                                placeholder="email">
                                        </div>
                                        <div class="col-xl-12 mb-2">
                                            <label for="signin-password"
                                                class="form-label text-default d-block">Password</label>
                                            <div class="position-relative">
                                                <input type="password" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark"
                                                    id="signin-password" placeholder="password"
                                                    [type]="showPassword ? 'text' : 'password'" autocomplete
                                                    onkeypress='return ((event.charCode >= 33 && event.charCode <= 127) || event.charCode == 8)'
                                                    id="input-password" formControlName="password"
                                                    (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)" (paste)="preventCopyPaste($event)"
                                                    [(ngModel)]="password" required>
                                                <a href="javascript:void(0);" class="show-password-button text-muted"
                                                    (click)="createpassword()" id="button-addon2"><i
                                                        class="ri-eye-{{toggleClass}} align-middle"></i></a>
                                            </div>
                                            <div class="mt-2">
                                                <div class="form-check">
                                                    <input class="form-check-input form-checked-dark" type="checkbox" value=""
                                                        id="darkChecked">
                                                    <label class=" form-check-label text-dark fw-normal d-block"
                                                        for="darkChecked">
                                                        Remember password ?<a
                                                            routerLink="/authentication/reset-password/basic"
                                                            class=" float-end text-danger">Forgot password ?</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-4">
                                        <button type="submit" class="h6 btn btn-lg bg-light p-2 font-weight-bold text-dark bg-opacity-25 border border-dark" autofocus>Sign
                                            In</button>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <p class="h6 font-weight-bold mt-3 mb-0">Don't have an account?
                                        <a routerLink="/authentication/sign-up/basic" class=" font-weight-bold text-primary">Sign Up</a>
                                    </p>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>