::ng-deep{


    .firebase {
        width: 30px;
        height: 30px;
    }
    .nav-tabs{
        border-color:none !important;
    }
        
    }

    .authentication .desktop-logo, .authentication .desktop-dark {
        height: 6.5rem;
        line-height: 1.5rem;
        margin-top: -70px;
    }