<app-page-header title="Chartjs-Charts" title1="Charts" activeTitle="Chartjs-Charts" ></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Chartjs Line Chart</div>
            </div>
            <div class="card-body">
                <canvas style="height: 500px; width: 100%;" id="chartjs-line" class="chartjs-chart" baseChart [data]="lineChartData"
                [options]="lineChartOptions" [type]="lineChartType"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Chartjs Bar Chart</div>
            </div>
            <div class="card-body">
                <canvas id="chartjs-bar" class="chartjs-chart" style="height: 500px; width: 100%;" baseChart [data]="barChartData" [options]="barChartOptions"
                [type]="barChartType"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Chartjs Pie Chart</div>
            </div>
            <div class="card-body">
                <canvas  id="chartjs-pie" class="chartjs-chart" baseChart [data]="PieChartData" [options]="PieChartOptions" [type]="PieChartType">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Chartjs Doughnut Chart</div>
            </div>
            <div class="card-body">
                <canvas id="chartjs-doughnut" class="chartjs-chart" baseChart [data]="PieChartData" [options]="PieChartOptions" [type]="DoughnutChartType">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Chartjs Mixed Chart</div>
            </div>
            <div class="card-body">
                <canvas style="height: 300px; width: 100%;" id="chartjs-mixed" class="chartjs-chart" baseChart [data]="barChart2Data"
                [options]="barChart2Options" [plugins]="barChart2Plugins" [legend]="barChart2Legend"
                [type]="barChart2Type"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Chartjs Polar Chart</div>
            </div>
            <div class="card-body">
                <canvas id="chartjs-polar" class="chartjs-chart" baseChart [data]="polarChartData"
                [options]="polarChartOptions" [type]="polarChartType"></canvas>
  

            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Chartjs Radial Chart</div>
            </div>
            <div class="card-body">
                <canvas id="chartjs-radar" class="chartjs-chart" baseChart [data]="radarChartData"
                [options]="radarChartOptions" [type]="radarChartType">

            </canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Chartjs Scatter Chart</div>
            </div>
            <div class="card-body">
                <canvas style="height: 300px; width: 100%;" id="chartjs-scatter" class="chartjs-chart" baseChart [data]="scatterchartData"
                [options]="ScatterchartOptions" [type]="ScatterchartType"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Chartjs Bubble Chart</div>
            </div>
            <div class="card-body">
                <canvas style="height: 300px; width: 100%;" id="chartjs-bubble" class="chartjs-chart" baseChart [data]="bubblechartData"
                [options]="bubblechartOptions" [type]="bubblechartType"></canvas>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->