
<!-- <overlay-scrollbars [defer] id="filemanager-scroll">
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
</overlay-scrollbars> -->

<div class="mt-2">
    <div class="form-check">
        <input class="form-check-input form-checked-dark" type="checkbox" value=""
            id="darkChecked">
        <label class=" form-check-label text-dark fw-normal d-block"
            for="darkChecked">
            <strong>Remember me</strong><a
                routerLink="/authentication/reset-password/basic"
                class=" float-end text-danger"><strong>Forgot password ?</strong></a>
        </label>
    </div>
</div>