<!-- <app-page-header title="Hrm" title1="Dashboards" activeTitle="Hrm"></app-page-header> -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Hrm</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hrm</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
           
            <div class="card-body">
                <div class="row ">
                    <div class="col-xl-3 border-end">
                        <nav ngbNav #nav6="ngbNav" [activeId]="active6" orientation="vertical"
                            class="nav nav-tabs flex-column nav-style-5" role="tablist">
                            <ng-container ngbNavItem="Home">
                                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                    aria-selected="false"><i
                                        class="ri-home-smile-line me-2 align-middle d-inline-block"></i>Site Visit </a>
                                <ng-template ngbNavContent class="tab-content mt-2 mt-xl-0">
                                  
                                    <overlay-scrollbars [defer] id="filemanager-scroll">
                                        <div class="modal-body px-4">
                                            <div class="col-md-12">
                                                <div class="tab-content ">
                                                    <div class="row gy-4">
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                            <label for="input-label" class="form-label">Main Header </label>
                                                            <input type="text" class="form-control" id="input">
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                            <label for="input-label" class="form-label">category</label>
                                                            <input type="text" class="form-control" id="input-label">
                                                        </div>
                                                        <div class="file-upload float-end">
                                                            <input type="file" id="file-input" (change)="onFileSelected($event)"
                                                                accept="*/*" hidden>
                                                            <label for="file-input" class="text-danger">Upload File</label>
                                                        </div>
                                                        
                                                    </div>
                                                    <div
                                                        [ngClass]="{ 'tab-pane fade show': activeTab === 'tab1', 'tab-pane fade': activeTab !== 'tab1' }" >
    
                                                        <div class=" text-muted  p-4" id="home-vertical-link"
                                                            role="tabpanel">
                                                            <img src="./assets/images/ecommerce/jpg/19.jpeg"
                                                                data-bs-toggle="modal" data-bs-target="#addtask">
                                                                
                                                        </div>
                                                        
                                                        <div class="row g-3 align-items-center p-4">
                                                            <div class="col-xl-3">
                                                                <label for="inputPassword6"
                                                                    class="col-form-label">Discription</label>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                                                <label for="input-label" class="form-label">Height </label>
                                                                <input type="text" class="form-control" id="input">
                                                            </div>
                                                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                                                <label for="input-label" class="form-label">Width</label>
                                                                <input type="text" class="form-control" id="input-label">
                                                            </div>
                                                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                                                <label for="input-label" class="form-label">Depth</label>
                                                                <input type="text" class="form-control" id="input-label">
                                                            </div>

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </overlay-scrollbars>

                                </ng-template>
                            </ng-container>


                        </nav>
                    </div>
                    <div class="col-xl-9">
                        <div [ngbNavOutlet]="nav6" class="ms-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


