<app-page-header title="Swiper-JS" title1="Advanced-Ui" activeTitle="Swiper-JS"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Basic Swiper
        </div>
      </div>
      <div class="card-body">
        <div class="swiper swiper-basic">
          <div class="swiper-wrapper">
            <swiper (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
              [watchSlidesProgress]="true">
              @for (image of images; track image) {
                <ng-template class="swiper-slide" swiperSlide>
                  <img src="{{ image.src }}" alt="image" />
                </ng-template>
              }
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Swiper With Navigation
        </div>
      </div>
      <div class="card-body">
        <div class="swiper swiper-navigation">
          <div class="swiper-wrapper">
            <swiper (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true" [navigation]="false"
              [watchSlidesProgress]="true" [pagination]="{ clickable: true }">
              @for (image of imageData1; track image) {
                <ng-template swiperSlide>
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" />
                  </div>
                </ng-template>
              }
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Swiper with Pagination
        </div>
      </div>
      <div class="card-body">
        <div class="swiper pagination">
          <div class="swiper-wrapper">
            <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
               [pagination]="{ clickable: true }" [navigation]="false" [watchSlidesProgress]="true"
              [keyboard]="{ enabled: true }" [pagination]="{ clickable: true }" navigation>
              @for (image of imageData2; track image) {
                <ng-template swiperSlide>
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" />
                  </div>
                </ng-template>
              }
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Dynamic Pagination
        </div>
      </div>
      <div class="card-body">
        <div class="swiper pagination-dynamic">
          <div class="swiper-wrapper">
            <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
               [pagination]="{ clickable: true }" [navigation]="false" [watchSlidesProgress]="true"
              [keyboard]="{ enabled: true }" [pagination]="{ clickable: true }" navigation>
              @for (image of imageData3; track image) {
                <ng-template swiperSlide>
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" />
                  </div>
                </ng-template>
              }
            </swiper>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Pagination With Progress
        </div>
      </div>
      <div class="card-body">
        <div class="swiper pagination-progress">
          <div class="swiper-wrapper">
            <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
              [navigation]="true" [watchSlidesProgress]="true" [pagination]="{ type: 'progressbar' }"
              navigation>
              @for (image of imageData4; track image) {

                <ng-template swiperSlide>
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" />
                  </div>
                </ng-template>
              }
            </swiper>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Pagination Fraction
        </div>
      </div>
      <div class="card-body">
        <div class="swiper pagination-fraction">
          <div class="swiper-wrapper">
            <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
              [navigation]="true" [watchSlidesProgress]="true" [pagination]="{ type: 'fraction' }"
              navigation>
              @for (image of imageData5; track image) {
                <ng-template swiperSlide>
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" />
                  </div>
                </ng-template>
              }
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Custom Paginatioin
        </div>
      </div>
      <div class="card-body">
        <div class="swiper custom-pagination">
          <div class="swiper-wrapper">
            <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
              [navigation]="true" [watchSlidesProgress]="true" [pagination]="pagination" navigation>
              @for (image of imageData6; track image) {

                <ng-template swiperSlide>
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" />
                  </div>
                </ng-template>
              }
            </swiper>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Scrollbar Swiper
        </div>
      </div>
      <div class="card-body">
        <div class="swiper scrollbar-swiper">
          <div class="swiper-wrapper">
            <swiper [slidesPerView]="1" [spaceBetween]="50" (swiper)="setThumbsSwiper($event)"
              [scrollbar]=" {hide: true}" [watchSlidesProgress]="true">
              @for (image of imageData7; track image) {
                <ng-template swiperSlide>
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" />
                  </div>
                </ng-template>
              }
            </swiper>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Vertical Swiper
        </div>
      </div>
      <div class="card-body">
        <div class="swiper vertical swiper-vertical">
          <div class="swiper-wrapper">
            <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
              [navigation]="false" [watchSlidesProgress]="true" direction="vertical"
              [pagination]="{ clickable: true }">
              @for (image of imageData7; track image) {
                <ng-template swiperSlide>
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" />
                  </div>
                </ng-template>
              }
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Mouse Wheel Control
        </div>
      </div>
      <div class="card-body">
        <div class="swiper vertical vertical-mouse-control ">
          <div class="swiper-wrapper">
            <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
              [navigation]="false" [watchSlidesProgress]="true" [mousewheel]="true" direction="vertical"
              [pagination]="{ clickable: true }">
              @for (image of imageData8; track image) {
                <ng-template swiperSlide>
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" class="!rounded-md" />
                  </div>
                </ng-template>
              }
            </swiper>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Keyboard Control
        </div>
      </div>
      <div class="card-body">
        <div class="swiper keyboard-control">
          <div class="swiper-wrapper">
            <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
              [navigation]="false" [watchSlidesProgress]="true" [keyboard]="true" [loop]="true"
              [pagination]="{ clickable: true }">
              @for (image of imageData9; track image) {
                @for (image of imageData9; track image; let i = $index) {
                  <ng-template swiperSlide>
                    <div class="swiper-slide">
                      <img src="{{ image.src }}" alt="image" />
                    </div>
                  </ng-template>
                }
              }
            </swiper>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Nested Swiper</div>
      </div>
      <div class="card-body">
        <div class="swiper swiper-horizontal1">
          <div class="swiper-wrapper">
            <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
              [navigation]="false" [watchSlidesProgress]="true" [pagination]="{ clickable: true }">
              @for (image of imageData8; track image; let i = $index) {
                <ng-template swiperSlide>
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" />
                  </div>
                </ng-template>
              }

              <div class="swiper-slide">
                <div class="swiper vertical swiper-vertical1">
                  <div class="swiper-wrapper">
                    <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [zoom]="true"
                      [autoplay]="true" [navigation]="false" [watchSlidesProgress]="true"
                      direction="vertical" [pagination]="{ clickable: true }">
                      @for (image of imageData8; track image; let i = $index) {
                        <ng-template swiperSlide>
                          <div class="swiper-slide">
                            <img src="{{ image.src }}" alt="image" />
                          </div>
                        </ng-template>
                      }
                    </swiper>
                  </div>
                </div>
              </div>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Effect Cube
        </div>
      </div>
      <div class="card-body">
        <div class="swiper swiper-cube">
          <swiper
          class="swiper-wrapper"
          effect="cube"
          (swiper)="setThumbsSwiper($event)"
          [zoom]="true"
          [autoplay]="true"
          [navigation]="true"
           [pagination]="{ clickable: true }"
        >
          <ng-template class="swiper-slide" swiperSlide
            ><img src="./assets/images/media/media-62.jpg" alt="img"
          /></ng-template>
          <ng-template class="swiper-slide" swiperSlide
            ><img src="./assets/images/media/media-64.jpg" alt="img"
          /></ng-template>
          <ng-template class="swiper-slide" swiperSlide
            ><img src="./assets/images/media/media-63.jpg" alt="img"
          /></ng-template>
        </swiper>
     
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Effect Fade
        </div>
      </div>
      <div class="card-body">
        <div class="swiper swiper-fade">
          <div class="swiper-wrapper">
            <swiper class="swiper-wrapper" [slidesPerView]="1" [effect]="'fade'" [grabCursor]="true"
              (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true" [navigation]="true"
               [pagination]="{ clickable: true }" [watchSlidesProgress]="true" navigation>
              <ng-template class="swiper-slide" swiperSlide><img src="./assets/images/media/media-18.jpg"
              alt="img" /></ng-template>
              <ng-template class="swiper-slide" swiperSlide><img src="./assets/images/media/media-19.jpg"
              alt="img" /></ng-template>
              <ng-template class="swiper-slide" swiperSlide><img src="./assets/images/media/media-20.jpg"
              alt="img" /></ng-template>
            </swiper>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Effect Flip
        </div>
      </div>
      <div class="card-body">
        <div class="swiper swiper-flip !h-[352px]">
          <div class="swiper-wrapper">
            <swiper class="swiper-wrapper" [effect]="'flip'" [grabCursor]="true" [slidesPerView]="1"
              (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true" [navigation]="true"
               [pagination]="{ clickable: true }" [watchSlidesProgress]="true" navigation>
              <ng-template class="swiper-slide" swiperSlide><img src="./assets/images/media/media-20.jpg"
              alt="img" /></ng-template>
              <ng-template class="swiper-slide" swiperSlide><img src="./assets/images/media/media-62.jpg"
              alt="img" /></ng-template>
              <ng-template class="swiper-slide" swiperSlide><img src="./assets/images/media/media-63.jpg"
              alt="img" /></ng-template>
            </swiper>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--End::row-1 -->

<!-- Start:: row-2 -->
<div class="row">
  <div class="col-xl-12 ">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Effect Coverflow
        </div>
      </div>
      <div class="card-body">
        <div class="swiper swiper-overflow">
          <div class="swiper-wrapper">
            <swiper [effect]="'coverflow'" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="4"  [pagination]="{ clickable: true }"
                            [autoplay]="true" [speed]="1500" [loop]="true" [coverflowEffect]="{
                                        rotate: 50,
                                        stretch: 0,
                                        depth: 100,
                                        modifier: 1,
                                        slideShadows: true
                                      }" >
              <ng-template class="swiper-slide" swiperSlide><img class="img-fluid"
              src="./assets/images/media/media-40.jpg" /></ng-template><ng-template
              class="swiper-slide" swiperSlide><img class="img-fluid"
            src="./assets/images/media/media-41.jpg" /></ng-template><ng-template
            class="swiper-slide" swiperSlide><img class="img-fluid"
          src="./assets/images/media/media-42.jpg" /></ng-template><ng-template
          class="swiper-slide" swiperSlide><img class="img-fluid"
        src="./assets/images/media/media-43.jpg" /></ng-template><ng-template
        class="swiper-slide" swiperSlide><img class="img-fluid"
      src="./assets/images/media/media-44.jpg" /></ng-template><ng-template
      class="swiper-slide" swiperSlide><img class="img-fluid"
    src="./assets/images/media/media-59.jpg" /></ng-template><ng-template
    class="swiper-slide" swiperSlide><img class="img-fluid"
  src="./assets/images/media/media-46.jpg" /></ng-template>

  <ng-template class="swiper-slide" swiperSlide><img class="img-fluid"
  src="./assets/images/media/media-61.jpg" /></ng-template>
</swiper>

</div>

</div>
</div>
</div>
</div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Thumbs Gallery
        </div>
      </div>
      <div class="card-body">

        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
          class="swiper swiper-preview">
          <ks-carousel [id]="100" class="swiper-slide img-fluid rounded"  [images]="imagesRect"></ks-carousel>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End:: row-3 -->