<app-page-header title="Create-Project" title1="Projects" activeTitle="Create-Project"></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Create Project
                </div>
            </div>
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-xl-4">
                        <label for="input-label" class="form-label">Project Name :</label>
                        <input type="text" class="form-control" id="input-label" placeholder="Enter Project Name">
                    </div>
                    <div class="col-xl-4">
                        <label for="input-label11" class="form-label">Project Manager :</label>
                        <input type="text" class="form-control" id="input-label11" placeholder="Project Manager Name">
                    </div>
                    <div class="col-xl-4">
                        <label for="input-label1" class="form-label">Client Name :</label>
                        <input type="text" class="form-control" id="input-label1" placeholder="Enter Client Name">
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Project Description :</label>
                        <div id="project-descriptioin-editor">
                            <angular-editor [(ngModel)]="htmlContent" [config]="config">

                            </angular-editor>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Start Date :</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                <input class="form-control" type="text" placeholder="Choose Date With Time"   mwlFlatpickr
                                [enableTime]="true"
                                [convertModelValue]="true"
                                [dateFormat]="'Y-m-d H:i'" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">End Date :</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                <input class="form-control" type="text" placeholder="Choose Date With Time"  mwlFlatpickr
                                [enableTime]="true"
                                [convertModelValue]="true"
                                [dateFormat]="'Y-m-d H:i'"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Status :</label>
                        <ng-select data-trigger name="choices-single-default" id="choices-single-default"
                            placeholder="Inprogress">
                            <ng-option value="Inprogress">Inprogress</ng-option>
                            <ng-option value="On-hold">On-hold</ng-option>
                            <ng-option value="Completed">Completed</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Priority :</label>
                        <ng-select data-trigger name="choices-single-default2" id="choices-single-default2"
                            placeholder="High">
                            <ng-option value="High">High</ng-option>
                            <ng-option value="Medium">Medium</ng-option>
                            <ng-option value="Low">Low</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Assigned To</label>
                        <ng-select name="assigned-team-members" id="assigned-team-members" [multiple]="true"
                            [(ngModel)]="selectedTags">
                            @for (tag of tags; track tag) {
                            <ng-option [value]="tag.id">{{tag.name}}</ng-option>
                            }
                        </ng-select>
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Tags</label>
                        <ng-select
                        [items]="[]"
                        class=""
                        id="choices-text-unique-values"
                        placeholder="Type and Enter To Add"
                        [addTag]="true"
                        [multiple]="true"
                        [selectOnTab]="true"
                        [isOpen]="false"
                        [(ngModel)]="selectedTags1"
                        >
                      </ng-select>
                      
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Attachments</label>
                        <file-pond #myPond [options]="pondOptions" class="multiple-filepond" name="filepond"
                            id="file-input" [files]="pondFiles" (oninit)="pondHandleInit()"
                            (onaddfile)="pondHandleAddFile($event)" (onactivatefile)="pondHandleActivateFile($event)">
                        </file-pond>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary-light btn-wave ms-auto float-end">Create Project</button>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->