<app-page-header title="Reviews" title1="Pages" activeTitle="Reviews" ></app-page-header>
 <!-- Start::row-1 -->
 <div class="row justify-content-center">
    <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card custom-card">
            <div class="card-body">
                <ul class="list-unstyled reviews-list">
                    <li>
                        <div class="p-3 border rounded">
                            <div class="d-sm-flex align-items-center mb-4">
                                <span class="avatar avatar-md avatar-rounded me-3">
                                    <img src="./assets/images/faces/15.jpg" alt="">
                                </span>
                                <div class="flex-fill">
                                    <p class="mb-0 fw-medium fs-14 text-primary">James</p>
                                    <p class="mb-0 fs-10 fw-medium text-muted">CEO OF NORJA</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="text-muted">Rating : </span>
                                    <span class="text-warning d-block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-sm-flex align-items-end justify-content-between gap-5">
                                <p class="text-muted mb-0">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, facilis temporibus repellat laudantium dolor impedit alias sed, nobis esse saepe labore corporis aliquam natus beatae, numquam blanditiis in excepturi iste.similique impedit id ullam dolore ipsum mollitia sit.</p>
                                <div class="fs-12 fw-medium text-muted text-end w-25">
                                    <span>12 days ago</span>
                                    <span class="d-block fw-normal fs-12 text-success"><i>James</i></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="p-3 border rounded">
                            <div class="d-sm-flex align-items-center mb-4">
                                <span class="avatar avatar-md avatar-rounded me-3">
                                    <img src="./assets/images/faces/4.jpg" alt="">
                                </span>
                                <div class="flex-fill">
                                    <p class="mb-0 fw-medium fs-14 text-primary">Sophia</p>
                                    <p class="mb-0 fs-10 fw-medium text-muted">MANAGER CHO</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="text-muted">Rating : </span>
                                    <span class="text-warning d-block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-sm-flex align-items-end justify-content-between gap-5">
                                <p class="text-muted mb-0">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, facilis temporibus repellat laudantium dolor impedit alias sed, nobis esse saepe labore corporis aliquam natus beatae, numquam blanditiis in excepturi iste.similique impedit id ullam dolore ipsum mollitia sit.</p>
                                <div class="fs-12 fw-medium text-muted text-end w-25">
                                    <span>7 days ago</span>
                                    <span class="d-block fw-normal fs-12 text-success"><i>Sophia</i></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="p-3 border rounded">
                            <div class="d-sm-flex align-items-center mb-4">
                                <span class="avatar avatar-md avatar-rounded me-3">
                                    <img src="./assets/images/faces/2.jpg" alt="">
                                </span>
                                <div class="flex-fill">
                                    <p class="mb-0 fw-medium fs-14 text-primary">Charlotte</p>
                                    <p class="mb-0 fs-10 fw-medium text-muted">CEO OF EMPIRO</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="text-muted">Rating : </span>
                                    <span class="text-warning d-block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-line"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-sm-flex align-items-end justify-content-between gap-5">
                                <p class="text-muted mb-0">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, facilis temporibus repellat laudantium dolor impedit alias sed, nobis esse saepe labore corporis aliquam natus beatae, numquam blanditiis in excepturi iste.similique impedit id ullam dolore ipsum mollitia sit.</p>
                                <div class="fs-12 fw-medium text-muted text-end w-25">
                                    <span>2 days ago</span>
                                    <span class="d-block fw-normal fs-12 text-success"><i>Charlotte</i></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="p-3 border rounded">
                            <div class="d-sm-flex align-items-center mb-4">
                                <span class="avatar avatar-md avatar-rounded me-3">
                                    <img src="./assets/images/faces/10.jpg" alt="">
                                </span>
                                <div class="flex-fill">
                                    <p class="mb-0 fw-medium fs-14 text-primary">Benjamin</p>
                                    <p class="mb-0 fs-10 fw-medium text-muted">CHIEF SECRETARY MBIO</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="text-muted">Rating : </span>
                                    <span class="text-warning d-block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-sm-flex align-items-end justify-content-between gap-5">
                                <p class="text-muted mb-0">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, facilis temporibus repellat laudantium dolor impedit alias sed, nobis esse saepe labore corporis aliquam natus beatae, numquam blanditiis in excepturi iste.similique impedit id ullam dolore ipsum mollitia sit.</p>
                                <div class="fs-12 fw-medium text-muted text-end w-25">
                                    <span>16 hrs ago</span>
                                    <span class="d-block fw-normal fs-12 text-success"><i>Benjamin</i></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="p-3 border rounded">
                            <div class="d-sm-flex align-items-center mb-4">
                                <span class="avatar avatar-md avatar-rounded me-3">
                                    <img src="./assets/images/faces/12.jpg" alt="">
                                </span>
                                <div class="flex-fill">
                                    <p class="mb-0 fw-medium fs-14 text-primary">Richard</p>
                                    <p class="mb-0 fs-10 fw-medium text-muted">CEO ARMEDILLO</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="text-muted">Rating : </span>
                                    <span class="text-warning d-block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-line"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-sm-flex align-items-end justify-content-between gap-5">
                                <p class="text-muted mb-0">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, facilis temporibus repellat laudantium dolor impedit alias sed, nobis esse saepe labore corporis aliquam natus beatae, numquam blanditiis in excepturi iste.similique impedit id ullam dolore ipsum mollitia sit.</p>
                                <div class="fs-12 fw-medium text-muted text-end w-25">
                                    <span>22 days ago</span>
                                    <span class="d-block fw-normal fs-12 text-success"><i>Richard</i></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="p-3 border rounded">
                            <div class="d-sm-flex align-items-center mb-4">
                                <span class="avatar avatar-md avatar-rounded me-3">
                                    <img src="./assets/images/faces/3.jpg" alt="">
                                </span>
                                <div class="flex-fill">
                                    <p class="mb-0 fw-medium fs-14 text-primary">Isabella</p>
                                    <p class="mb-0 fs-10 fw-medium text-muted">AGGENT AMIO</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="text-muted">Rating : </span>
                                    <span class="text-warning d-block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-sm-flex align-items-end justify-content-between gap-5">
                                <p class="text-muted mb-0">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, facilis temporibus repellat laudantium dolor impedit alias sed, nobis esse saepe labore corporis aliquam natus beatae, numquam blanditiis in excepturi iste.similique impedit id ullam dolore ipsum mollitia sit.</p>
                                <div class="fs-12 fw-medium text-muted text-end w-25">
                                    <span>26 days ago</span>
                                    <span class="d-block fw-normal fs-12 text-success"><i>Isabella</i></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="p-3 border rounded">
                            <div class="d-sm-flex align-items-center mb-4">
                                <span class="avatar avatar-md avatar-rounded me-3">
                                    <img src="./assets/images/faces/16.jpg" alt="">
                                </span>
                                <div class="flex-fill">
                                    <p class="mb-0 fw-medium fs-14 text-primary">Joseph</p>
                                    <p class="mb-0 fs-10 fw-medium text-muted">CEO MR BRAND</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="text-muted">Rating : </span>
                                    <span class="text-warning d-block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-sm-flex align-items-end justify-content-between gap-5">
                                <p class="text-muted mb-0">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, facilis temporibus repellat laudantium dolor impedit alias sed, nobis esse saepe labore corporis aliquam natus beatae, numquam blanditiis in excepturi iste.similique impedit id ullam dolore ipsum mollitia sit.</p>
                                <div class="fs-12 fw-medium text-muted text-end w-25">
                                    <span>1 month ago</span>
                                    <span class="d-block fw-normal fs-12 text-success"><i>Joseph</i></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="p-3 border rounded">
                            <div class="d-sm-flex align-items-center mb-4">
                                <span class="avatar avatar-md avatar-rounded me-3">
                                    <img src="./assets/images/faces/5.jpg" alt="">
                                </span>
                                <div class="flex-fill">
                                    <p class="mb-0 fw-medium fs-14 text-primary">Scarlett</p>
                                    <p class="mb-0 fs-10 fw-medium text-muted">CEO AIBMO</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="text-muted">Rating : </span>
                                    <span class="text-warning d-block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-sm-flex align-items-end justify-content-between gap-5">
                                <p class="text-muted mb-0">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, facilis temporibus repellat laudantium dolor impedit alias sed, nobis esse saepe labore corporis aliquam natus beatae, numquam blanditiis in excepturi iste.similique impedit id ullam dolore ipsum mollitia sit.</p>
                                <div class="fs-12 fw-medium text-muted text-end w-25">
                                    <span>1 month ago</span>
                                    <span class="d-block fw-normal fs-12 text-success"><i>Scarlett</i></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="p-3 border rounded">
                            <div class="d-sm-flex align-items-center mb-4">
                                <span class="avatar avatar-md avatar-rounded me-3">
                                    <img src="./assets/images/faces/7.jpg" alt="">
                                </span>
                                <div class="flex-fill">
                                    <p class="mb-0 fw-medium fs-14 text-primary">Harper</p>
                                    <p class="mb-0 fs-10 fw-medium text-muted">CHIEF SECRETARY BHOL</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="text-muted">Rating : </span>
                                    <span class="text-warning d-block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-sm-flex align-items-end justify-content-between gap-5">
                                <p class="text-muted mb-0">- Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, facilis temporibus repellat laudantium dolor impedit alias sed, nobis esse saepe labore corporis aliquam natus beatae, numquam blanditiis in excepturi iste.similique impedit id ullam dolore ipsum mollitia sit.</p>
                                <div class="fs-12 fw-medium text-muted text-end w-25">
                                    <span>2 month ago</span>
                                    <span class="d-block fw-normal fs-12 text-success"><i>Harper</i></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <ul class="pagination mb-5 justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0);">
                    Prev
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item">
                <a class="page-link text-primary" href="javascript:void(0);">
                    next
                </a>
            </li>
        </ul>
    </div>
</div>
<!--End::row-1 -->