<app-page-header title="Profile" title1="Pages" activeTitle="Profile"></app-page-header>
<!-- Start:: row-1 -->
<div class="row">
    <div class="col-xl-4 align-items-center">
        <div class="card custom-card">
            <div class="card-body mx-auto">
                <div class="d-sm-flex flex-wrap align-items-top gap-5 p-2 border-bottom-0 ">
                    <div class="align-items-center mx-auto">
                        <div class="d-flex align-items-center gap-2 mb-4">
                            <div class="lh-1">
                                <span class="avatar avatar-xxl avatar-rounded online me-3">
                                    <img src="./assets/images/faces/9.jpg" alt="">
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="flex-fill main-profile-info">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="fw-medium mb-1">Toni Stark</h6>
                                </div>
                                <!-- <p class="mb-1 text-muted op-7">Chief Executive Officer (C.E.O)</p> -->
                                <!-- <p class="fs-12 mb-0 op-5">
                                    <span class="me-3"><i class="ri-building-line me-1 align-middle"></i>Georgia</span>
                                    <span><i class="ri-map-pin-line me-1 align-middle"></i>Washington D.C</span>
                                </p> -->
                            </div>
                        </div>
                        <!-- <div class="d-sm-flex justify-content-center mb-0">
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded">
                                <p class="fw-bold fs-20 text-shadow mb-0">113</p>
                                <p class="mb-0 fs-11 op-5">Projects</p>
                            </div>
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded">
                                <p class="fw-bold fs-20 text-shadow mb-0">12.2k</p>
                                <p class="mb-0 fs-11 op-5">Followers</p>
                            </div>
                            <div class="me-0 me-sm-3 mb-2 border p-3 border-dashed rounded">
                                <p class="fw-bold fs-20 text-shadow mb-0">128</p>
                                <p class="mb-0 fs-11 op-5">Following</p>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="professional-bio">
                        <div class="mb-4">
                            <p class="fs-15 mb-3 fw-medium">Professional Bio :</p>
                            <p class="fs-12 text-muted op-7 mb-0">
                                I am <b class="text-default">Toni Stark,</b> here by conclude that,i am the founder and
                                managing director of the prestigeous company name laugh at all and acts as the cheif
                                executieve officer of the company.
                            </p>
                        </div>
                        <div class="mb-0">
                            <p class="fs-15 mb-2 fw-medium">Links :</p>
                            <div class="mb-0">
                                <p class="mb-0">
                                    <a href="https://themeforest.net/user/spruko/portfolio" target="_blank"
                                        class="text-primary"><u>https://themeforest.net/user/spruko/portfolio</u></a>
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <div>
                        <p class="fs-15 mb-3 me-4 fw-medium">Contact Information :</p>
                        <div class="text-muted">
                            <p class="mb-4">
                                <span class="avatar avatar-sm avatar-rounded me-2 bg-light border text-muted">
                                    <i class="ri-mail-line align-middle fs-14"></i>
                                </span>
                                tonistark2531&#64;gmail.com
                            </p>
                            <p class="mb-4">
                                <span class="avatar avatar-sm avatar-rounded me-2 bg-light border text-muted">
                                    <i class="ri-phone-line align-middle fs-14"></i>
                                </span>
                                +(555) 555-1234
                            </p>
                            <p class="mb-0">
                                <span class="avatar avatar-sm avatar-rounded me-2 bg-light border text-muted">
                                    <i class="ri-map-pin-line align-middle fs-14"></i>
                                </span>
                                MIG-1-11, Monroe Street, Georgetown, USA,20071
                            </p>
                        </div>
                    </div>
                    <!-- <div class="skills-section">
                        <p class="fs-15 mb-3 me-4 fw-medium">Skills :</p>
                        <div class="d-flex align-items-center gap-2 flex-wrap mb-4">
                            <a href="javascript:void(0);">
                                <span class="badge bg-light border text-muted fw-medium">Cloud computing</span>
                            </a>
                            <a href="javascript:void(0);">
                                <span class="badge bg-light border text-muted fw-medium">Data analysis</span>
                            </a>
                            <a href="javascript:void(0);">
                                <span class="badge bg-light border text-muted fw-medium">DevOps</span>
                            </a>
                            <a href="javascript:void(0);">
                                <span class="badge bg-light border text-muted fw-medium">Machine learning</span>
                            </a>
                            <a href="javascript:void(0);">
                                <span class="badge bg-light border text-muted fw-medium">Programming</span>
                            </a>
                            <a href="javascript:void(0);">
                                <span class="badge bg-light border text-muted fw-medium">Security</span>
                            </a>
                            <a href="javascript:void(0);">
                                <span class="badge bg-light border text-muted fw-medium">Python</span>
                            </a>
                            <a href="javascript:void(0);">
                                <span class="badge bg-light border text-muted fw-medium">JavaScript</span>
                            </a>
                        </div>
                        <div class="d-flex align-items-center gap-3 flex-wrap">
                            <h6 class="fw-medium mb-0">Follow :</h6>
                            <div class="btn-list mb-0">
                                <button class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light">
                                    <i class="ri-facebook-line fw-medium"></i>
                                </button>
                                <button
                                    class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                                    <i class="ri-twitter-x-line fw-medium"></i>
                                </button>
                                <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                                    <i class="ri-instagram-line fw-medium"></i>
                                </button>
                                <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                                    <i class="ri-github-line fw-medium"></i>
                                </button>
                                <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                                    <i class="ri-youtube-line fw-medium"></i>
                                </button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-8 col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body p-0">
                        <div
                            class="p-3 border-bottom border-block-end-dashed d-flex align-items-center justify-content-between">
                            <div>
                                <ul ngbNav #nav="ngbNav" [activeId]="3"
                                    class="nav nav-tabs mb-0 tab-style-6 justify-content-start" id="myTab"
                                    role="tablist">
                                    <li [ngbNavItem]="1" class="nav-item" role="presentation">
                                        <button ngbNavLink class="nav-link" id="activity-tab" data-bs-toggle="tab"
                                            data-bs-target="#activity-tab-pane" type="button" role="tab"
                                            aria-controls="activity-tab-pane" aria-selected="false"><i
                                                class="ri-gift-line me-1 align-middle d-inline-block"></i>Contact Information</button>
                                        <ng-template ngbNavContent>
                                            <div id="activity-tab-pane" role="tabpanel" aria-labelledby="activity-tab"
                                                tabindex="0">
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">First Name</label>
                                                        <input type="text" class="form-control" placeholder="First name"
                                                            aria-label="First name">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">Last Name</label>
                                                        <input type="text" class="form-control" placeholder="Last name"
                                                            aria-label="Last name">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">State</label>   
                                                        <input type="text" class="form-control" placeholder="State"
                                                            aria-label="Street">   
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">Email</label>
                                                                <input type="email" class="form-control" placeholder="Email"
                                                                aria-label="email">
                                                    </div>
                                                    
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">Contact Number</label>
                                                        <input type="number" class="form-control" placeholder="Phone number"
                                                            aria-label="Phone number">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">Alternative Contact</label>
                                                        <input type="number" class="form-control" placeholder="Phone number"
                                                            aria-label="Phone number">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-primary">Update</button>
                                                    </div>
                                                    </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="2" class="nav-item" role="presentation">
                                        <button ngbNavLink class="nav-link" id="posts-tab" data-bs-toggle="tab"
                                            data-bs-target="#posts-tab-pane" type="button" role="tab"
                                            aria-controls="posts-tab-pane" aria-selected="false"><i
                                                class="ri-bill-line me-1 align-middle d-inline-block"></i>Password Update</button>
                                        <ng-template ngbNavContent>

                                            <div id="posts-tab-pane" role="tabpanel" aria-labelledby="posts-tab"
                                                tabindex="0">
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">Old Password</label>
                                                        <input type="password" class="form-control" placeholder="Enter Password"
                                                            aria-label="First name">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">New Password</label>
                                                        <input type="password" class="form-control" placeholder="Enter new Password"
                                                            aria-label="Last name">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">Confirm Password</label>   
                                                        <input type="password" class="form-control" placeholder="Confirm Password"
                                                            aria-label="Street">   
                                                    </div>
                                                    
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-primary">Update Password</button>
                                                    </div>
                                                    </div>
                                            </div>

                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="3" class="nav-item" role="presentation">
                                        <button ngbNavLink class="nav-link" id="followers-tab" data-bs-toggle="tab"
                                            data-bs-target="#followers-tab-pane" type="button" role="tab"
                                            aria-controls="followers-tab-pane" aria-selected="true"><i
                                                class="ri-money-dollar-box-line me-1 align-middle d-inline-block"></i>Friends</button>
                                        <ng-template ngbNavContent>

                                            <div id="followers-tab-pane" role="tabpanel" aria-labelledby="followers-tab"
                                                tabindex="0">
                                                <div class="row">
                                                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                        <div class="card custom-card shadow-none border">
                                                            <div class="card-body p-4">
                                                                <div class="text-center">
                                                                    <span class="avatar avatar-xl avatar-rounded">
                                                                        <img src="./assets/images/faces/2.jpg" alt="">
                                                                    </span>
                                                                    <div class="mt-2">
                                                                        <p class="mb-0 fw-medium">Samantha May</p>
                                                                        <p class="fs-12 op-7 mb-1 text-muted">
                                                                            samanthamay2912&#64;gmail.com</p>
                                                                        <span
                                                                            class="badge bg-info-transparent rounded-pill">Team
                                                                            Member</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <div class="btn-list">
                                                                    <button
                                                                        class="btn btn-sm btn-light btn-wave">Block</button>
                                                                    <button
                                                                        class="btn btn-sm btn-primary btn-wave">Unfollow</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                        <div class="card custom-card shadow-none border">
                                                            <div class="card-body p-4">
                                                                <div class="text-center">
                                                                    <span class="avatar avatar-xl avatar-rounded">
                                                                        <img src="./assets/images/faces/15.jpg" alt="">
                                                                    </span>
                                                                    <div class="mt-2">
                                                                        <p class="mb-0 fw-medium">Andrew Garfield</p>
                                                                        <p class="fs-12 op-7 mb-1 text-muted">
                                                                            andrewgarfield98&#64;gmail.com</p>
                                                                        <span
                                                                            class="badge bg-success-transparent rounded-pill">Team
                                                                            Lead</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <div class="btn-list">
                                                                    <button
                                                                        class="btn btn-sm btn-light btn-wave">Block</button>
                                                                    <button
                                                                        class="btn btn-sm btn-primary btn-wave">Unfollow</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                        <div class="card custom-card shadow-none border">
                                                            <div class="card-body p-4">
                                                                <div class="text-center">
                                                                    <span class="avatar avatar-xl avatar-rounded">
                                                                        <img src="./assets/images/faces/5.jpg" alt="">
                                                                    </span>
                                                                    <div class="mt-2">
                                                                        <p class="mb-0 fw-medium">Jessica Cashew</p>
                                                                        <p class="fs-12 op-7 mb-1 text-muted">
                                                                            jessicacashew143&#64;gmail.com</p>
                                                                        <span
                                                                            class="badge bg-info-transparent rounded-pill">Team
                                                                            Member</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <div class="btn-list">
                                                                    <button
                                                                        class="btn btn-sm btn-light btn-wave">Block</button>
                                                                    <button
                                                                        class="btn btn-sm btn-primary btn-wave">Unfollow</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                        <div class="card custom-card shadow-none border">
                                                            <div class="card-body p-4">
                                                                <div class="text-center">
                                                                    <span class="avatar avatar-xl avatar-rounded">
                                                                        <img src="./assets/images/faces/11.jpg" alt="">
                                                                    </span>
                                                                    <div class="mt-2">
                                                                        <p class="mb-0 fw-medium">Simon Cowan</p>
                                                                        <p class="fs-12 op-7 mb-1 text-muted">
                                                                            jessicacashew143&#64;gmail.com</p>
                                                                        <span
                                                                            class="badge bg-warning-transparent rounded-pill">Team
                                                                            Manager</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <div class="btn-list">
                                                                    <button
                                                                        class="btn btn-sm btn-light btn-wave">Block</button>
                                                                    <button
                                                                        class="btn btn-sm btn-primary btn-wave">Unfollow</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                        <div class="card custom-card shadow-none border">
                                                            <div class="card-body p-4">
                                                                <div class="text-center">
                                                                    <span class="avatar avatar-xl avatar-rounded">
                                                                        <img src="./assets/images/faces/7.jpg" alt="">
                                                                    </span>
                                                                    <div class="mt-2">
                                                                        <p class="mb-0 fw-medium">Amanda nunes</p>
                                                                        <p class="fs-12 op-7 mb-1 text-muted">
                                                                            amandanunes45&#64;gmail.com</p>
                                                                        <span
                                                                            class="badge bg-info-transparent rounded-pill">Team
                                                                            Member</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <div class="btn-list">
                                                                    <button
                                                                        class="btn btn-sm btn-light btn-wave">Block</button>
                                                                    <button
                                                                        class="btn btn-sm btn-primary btn-wave">Unfollow</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                        <div class="card custom-card shadow-none border">
                                                            <div class="card-body p-4">
                                                                <div class="text-center">
                                                                    <span class="avatar avatar-xl avatar-rounded">
                                                                        <img src="./assets/images/faces/12.jpg" alt="">
                                                                    </span>
                                                                    <div class="mt-2">
                                                                        <p class="mb-0 fw-medium">Mahira Hose</p>
                                                                        <p class="fs-12 op-7 mb-1 text-muted">
                                                                            mahirahose9456&#64;gmail.com</p>
                                                                        <span
                                                                            class="badge bg-info-transparent rounded-pill">Team
                                                                            Member</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <div class="btn-list">
                                                                    <button
                                                                        class="btn btn-sm btn-light btn-wave">Block</button>
                                                                    <button
                                                                        class="btn btn-sm btn-primary btn-wave">Unfollow</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <div class="text-center mt-4">
                                                            <button class="btn btn-primary-light btn-wave">Show
                                                                All</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="4" class="nav-item" role="presentation">
                                        <button ngbNavLink class="nav-link" id="gallery-tab" data-bs-toggle="tab"
                                            data-bs-target="#gallery-tab-pane" type="button" role="tab"
                                            aria-controls="gallery-tab-pane" aria-selected="false"><i
                                                class="ri-exchange-box-line me-1 align-middle d-inline-block"></i>Gallery</button>
                                        <ng-template ngbNavContent>
                                            <div id="gallery-tab-pane" role="tabpanel" aria-labelledby="gallery-tab"
                                                tabindex="0">
                                                <div class="row" gallerize>
                                                    @for (image of imageData; track $index) {
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                                        
                                                               <a href="javascript:void(0);" class="glightbox card" data-gallery="gallery1">
                                                                   <img  [src]="image.srcUrl" alt="image" >
                                                               </a>
                                                           </div>
                                                        }
                                                  
                                                    <div class="col-xl-12">
                                                        <div class="text-center mt-4">
                                                            <button class="btn btn-primary-light btn-wave">Show
                                                                All</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                </ul>

                            </div>

                            <!-- <div>
                                <p class="fw-medium mb-2">Complete your profile - <a href="javascript:void(0);"
                                        class="text-primary fs-12">Finish now</a></p>
                                <div class="progress progress-xs progress-animate">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                                </div>
                            </div> -->
                        </div>
                        <div class="p-3">
                            <div class="tab-content" id="myTabContent">

                                <div [ngbNavOutlet]="nav" class="mt-2"></div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->

<!-- Start::row-2 -->

<!--End::row-2 -->