<app-page-header title="Order-Details" title1="Ecommerce" activeTitle="Order-Details" ></app-page-header>
  <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xl-9">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="card-title">
                            Order No - <span class="text-primary">#SPK-7832</span>
                        </div>
                        <div>
                            <span class="badge bg-primary-transparent">
                                Estimated delivery : 30,Nov 2023
                            </span>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive overflow-scroll">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="col">Item</th>
                                        <th scope="col">Tracking ID</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   @for (OrderDetail of OrderDetails; track OrderDetail) {
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="me-3">
                                                  
                                                        <span class="avatar avatar-xxl bg-light">
                                                            <img [src]="OrderDetail.img" alt="">
                                                        </span>
                                                </div>
                                                <div>
                                                    <div class="mb-1 fs-14 fw-medium">
                                                        <a href="javascript:void(0);">{{OrderDetail.name}}</a>
                                                    </div>
                                                    <div class="mb-1">
                                                        <span class="me-1 d-inline-flex">Size:</span><span class="text-muted">{{OrderDetail.Size}}</span>
                                                    </div>
                                                    <div class="mb-1">
                                                        <span class="me-1">Color:</span><span class="text-muted">{{OrderDetail.Color}}
                                                      @if (OrderDetail.empty) {

                                                      }
                                                       @else if (OrderDetail.offer) {
                                                        <span class="badge bg-success ms-3">In Offer</span>
                                                       } 
                                                       @else {
                                                        <span class="badge bg-info ms-3">32% Off</span>
                                                       }
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td><a href="javascript:void(0);" class="text-primary">{{OrderDetail.Id}}</a></td>
                                        <td>
                                            <span class="fs-15 fw-medium">${{OrderDetail.Price}}</span>
                                        </td>
                                        <td>{{OrderDetail.Quantity}}</td>
                                        <td>${{ OrderDetail.Price*OrderDetail.Quantity}}</td>
                                    </tr>
                                    
                                   }
                                   <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <div class="fw-medium">Total Items :</div>
                                    </td>
                                    <td>
                                        04
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <div class="fw-medium">Sub Total :</div>
                                    </td>
                                    <td>
                                        $3,100
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <div class="fw-medium">Applied Coupon :</div>
                                    </td>
                                    <td>
                                        <span class="badge bg-success-transparent">SPKFIR</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <div class="fw-medium">Delivery Fees :</div>
                                    </td>
                                    <td>
                                        <span class="text-danger">+$29</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <div class="fw-medium">Total Saved :</div>
                                    </td>
                                    <td>
                                        <span class="fs-14 fw-medium text-success">$3,799</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <div class="fw-medium">Total Price :</div>
                                    </td>
                                    <td>
                                        <span class="fs-16 fw-medium">$3,129</span>
                                    </td>
                                </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer border-top-0">
                        <div class="btn-list float-end">
                            <button class="btn btn-primary btn-wave btn-sm" onclick="javascript:window.print();"><i class="ri-printer-line me-1 align-middle d-inline-block"></i>Print</button>
                            <button class="btn btn-secondary btn-wave btn-sm"><i class="ri-share-forward-line me-1 align-middle d-inline-block"></i>Share Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Order Tracking
                </div>
                <div class="ms-auto text-success">#SPK1218153635</div>
            </div>
            <div class="card-body">
                <div class="order-track">
                
                    <div ngbAccordion class="accordion" id="basicAccordion" [closeOthers]="true">
                        <div ngbAccordionItem [collapsed]="false" class="accordion-item border-0 bg-transparent">
                            <div ngbAccordionHeader class="accordion-header" id="headingOne">
                                <button ngbAccordionButton class="px-0 pt-0" href="javascript:void(0)" role="button" data-bs-toggle="collapse" data-bs-target="#basicOne" aria-expanded="true" aria-controls="basicOne">
                                    <div class="d-flex mb-0">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/ecommerce/png/20.png" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <p class="fw-medium mb-0 fs-14">Order Placed</p>
                                            <span class="fs-11 text-success">Nov 03, 2023</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div ngbAccordionCollapse id="basicOne" class="accordion-collapse collapse show border-top-0" aria-labelledby="headingOne" data-bs-parent="#basicAccordion">
                                <div ngbAccordionBody class="accordion-body pt-0 ps-5">
                                    <ng-template>

                                        <p class="mb-0 fs-11">Order placed successfully by <a href="javascript:void(0);" class="font-weight-semibold text-primary">Sansa Taylor</a></p>
                                        <span class="text-muted fs-11 op-5">Nov 03, 2023, 15:36</span>
                                    </ng-template>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordion class="accordion" id="basicAccordion1">
                        <div ngbAccordionItem [collapsed]="false" class="accordion-item border-0 bg-transparent">
                            <div ngbAccordionHeader class="accordion-header" id="headingTwo">
                                <button ngbAccordionButton class="px-0 pt-0" href="javascript:void(0)" role="button" data-bs-toggle="collapse" data-bs-target="#basicTwo" aria-expanded="true" aria-controls="basicTwo">
                                    <div class="d-flex mb-0">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/ecommerce/png/19.png" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <p class="fw-medium mb-0 fs-14">Picked</p>
                                            <span class="fs-12">Nov 03, 15:10</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div ngbAccordionCollapse id="basicTwo" class="accordion-collapse show collapse border-top-0" aria-labelledby="headingTwo" data-bs-parent="#basicAccordion1">
                                <div ngbAccordionBody class="accordion-body pt-0 ps-5">
                                    <ng-template>
                                        <p class="mb-0 fs-11">Your order has been picked up by <span class="font-weight-semibold">Smart Good Services</span></p>
                                        <span class="text-muted op-5 fs-11">Nov 03, 2023, 15:36</span>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordion class="accordion" id="basicAccordion2">
                        <div ngbAccordionItem [collapsed]="false" class="accordion-item border-0 bg-transparent">
                            <div ngbAccordionHeader class="accordion-header" id="headingThree">
                                <button ngbAccordionButton class="px-0 pt-0" href="javascript:void(0)" role="button" data-bs-toggle="collapse" data-bs-target="#basicThree" aria-expanded="true" aria-controls="basicThree">
                                    <div class="d-flex mb-0">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/ecommerce/png/18.png" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <p class="fw-medium mb-0 fs-14">Shipping</p>
                                            <span class="fs-12">Nov 03, 15:10</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div ngbAccordionCollapse id="basicThree" class="accordion-collapse show collapse border-top-0" aria-labelledby="headingThree" data-bs-parent="#basicAccordion2">
                                <div ngbAccordionBody class="accordion-body pt-0 ps-5">
                                    <div class="fs-11 mb-3">
                                        <p class="mb-0 fs-11">Arrived USA <span class="font-weight-semibold">SGS Warehouse</span></p>
                                        <span class="text-muted fs-11 op-5">Nov 03, 2023, 15:36</span>
                                    </div>
                                    <div class="fs-11 mb-3 fs-11">
                                        <p class="mb-0">picked up by <span class="font-weight-semibold">SGS Agent</span> and on the way to Hyderabad</p>
                                        <span class="text-muted fs-11 op-5">Nov 03, 2023, 15:36</span>
                                    </div>
                                    <div class="fs-11 fs-11">
                                        <p class="mb-0">Arrived in Hyderabad and expected Delivery is <span class="font-weight-semibold">Apr 16, 2023</span> </p>
                                        <span class="text-muted fs-11 op-5">Nov 03, 2023, 15:36</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordion class="accordion" id="basicAccordion3">
                        <div ngbAccordionItem  class="accordion-item border-0 bg-transparent next-step">
                            <div ngbAccordionHeader class="accordion-header" id="headingFour">
                                <button ngbAccordionButton class="collapsed px-0 pt-0" href="javascript:void(0)" role="button" data-bs-toggle="collapse" data-bs-target="#basicFour" aria-expanded="true" aria-controls="basicFour">
                                    <div class="d-flex mb-2">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded bg-primary-transparent text-primary border"><i class="fe fe-package fs-12"></i></span>
                                        </div>
                                        <div class="flex-fill">
                                            <p class="fw-medium mb-0 fs-14">Out For Delivery</p>
                                            <span class="text-muted fs-12">Nov 03, 15:10 (expected)</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div ngbAccordionCollapse id="basicFour" class="accordion-collapse collapse border-top-0" aria-labelledby="headingFour" data-bs-parent="#basicAccordion3">
                                <div ngbAccordionBody class="accordion-body pt-0 ps-5">
                                    <div class="fs-11">
                                        <p class="mb-0 fs-11">Your order is out for devlivery</p>
                                        <span class="text-muted fs-11 op-5">Nov 03, 2023, 15:36 (expected)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="accordion" id="basicAccordion4">
                        <div class="accordion-item border-0 bg-transparent next-step">
                            <div  class="accordion-header" id="headingFive">
                              <a  class="collapsed px-0 pt-0" href="javascript:void(0)" role="button" data-bs-toggle="collapse" aria-expanded="true" >
                                    <div class="d-flex mb-2">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded bg-primary-transparent text-primary border"><i class="fe fe-package fs-12"></i></span>
                                        </div>
                                        <div class="flex-fill">
                                            <p class="fw-medium mb-0 fs-14">Delivered</p>
                                            <span class="fs-12 text-muted">Nov 03, 18:42</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->
