<app-page-header title="Popovers" title1="Ui-Elements" activeTitle="Popovers"></app-page-header>
<!-- Start:: row-1 -->
<div class="row">
    <div class="col-xl-12">

        <app-showcode-card [title]="'Default Popovers'" [prism]="prismCode.popover1">
            <div class="d-flex gap-2 flex-wrap">
                <button type="button" class="btn btn-outline-primary me-2 popover-position" placement="top"
                    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="Popover on top">
                    Popover top
                </button>
                <button class="btn btn-outline-primary me-2" placement="right" ngbPopover="popover"
                    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="Popover on right">Popover
                    Right</button>
        
                <button class="btn btn-outline-primary me-2" placement="bottom"
                    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="Popover on bottom">Popover
                    Bottom</button>
                <button class="btn btn-outline-primary me-2" placement="start"
                    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="Popover on left">Popover
                    Left</button>
            </div>
        </app-showcode-card>
    </div>
    <div class="col-xl-12">

        <app-showcode-card [title]="'Colored Headers'" [prism]="prismCode.popover2">
            <div class="d-flex gap-2 flex-wrap">
                <button type="button" class="btn btn-outline-primary me-2" placement="top"
                    popoverClass="header-primary"
                    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="colored header">
                    Header Primary
                </button>
                <button type="button" class="btn btn-outline-secondary me-2" placement="top"
                    popoverClass="header-secondary"
                    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="colored header">
                    Header secondary
                </button>
                <button type="button" class="btn btn-outline-info me-2" placement="top" popoverClass="header-info"
                    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="colored header">
                    Header info
                </button>
                <button type="button" class="btn btn-outline-warning  me-2" placement="top"
                    popoverClass="header-warning"
                    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="colored header">
                    Header warning
                </button>
                <button type="button" class="btn btn-outline-success  me-2" placement="top"
                    popoverClass="header-success"
                    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="colored header">
                    Header success
                </button>
                <button type="button" class="btn btn-outline-danger me-2" placement="top"
                    popoverClass="header-danger"
                    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="colored header">
                    Header danger
                </button>
            </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-1 -->

<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xl-12">

        <app-showcode-card [title]="'Colored Popovers'" [prism]="prismCode.popover3">
            <div class="d-flex gap-2 flex-wrap">
                <div class="d-flex gap-2 flex-wrap">
                    <button type="button" class="btn btn-primary" popoverTitle="Pop title" placement="top"
                        [autoClose]="true" popoverClass="popover-primary"
                        ngbPopover="Popover with primary background.">
                        primary
                    </button>
                    <button type="button" class="btn btn-secondary" popoverTitle="Pop title" placement="end"
                        [autoClose]="true" popoverClass="popover-secondary"
                        ngbPopover="Popover with secondary  background.">
                        secondary
                    </button>
                    <button type="button" class="btn btn-info" popoverTitle="Pop title" placement="start"
                        [autoClose]="true" popoverClass="popover-info" ngbPopover="Popover with info  background.">
                        info
                    </button>
                    <button type="button" class="btn btn-warning" popoverTitle="Pop title" placement="bottom"
                        [autoClose]="true" popoverClass="popover-warning"
                        ngbPopover="Popover with warning background.">
                        warning
                    </button>
                    <button type="button" class="btn btn-success" popoverTitle="Pop title" placement="top"
                        [autoClose]="true" popoverClass="popover-success"
                        ngbPopover="Popover with success  background.">
                        success
                    </button>
                    <button type="button" class="btn btn-danger" popoverTitle="Pop title" placement="end"
                        [autoClose]="true" popoverClass="popover-danger"
                        ngbPopover="Popover with danger  background.">
                        danger
                    </button>
                    <button type="button" class="btn btn-teal" popoverTitle="Pop title" placement="start"
                        [autoClose]="true" popoverClass="popover-teal" ngbPopover="Popover with teal   background.">
                        Teal
                    </button>
                    <button type="button" class="btn btn-purple" popoverTitle="Pop title" placement="top"
                        [autoClose]="true" popoverClass="popover-purple"
                        ngbPopover="Popover with purple  background.">
                        purple
                    </button>
                </div>
            </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
<div class="row">
    <div class="col-xl-12">

        <app-showcode-card [title]="'Light Popovers'" [prism]="prismCode.popover4">
            <div class="d-flex gap-2 flex-wrap">
                <button type="button" class="btn btn-primary-light btn-wave waves-effect waves-light" popoverTitle="Pop title" placement="top"
                    popoverClass="popover-primary-light" [autoClose]="'outside'"
                    ngbPopover="Click outside or press Escape to close">
                    primary
                </button>
                <button type="button" class="btn btn-secondary-light btn-wave waves-effect waves-light" popoverTitle="Pop title" placement="start"
                    popoverClass="popover-secondary-light" [autoClose]="'outside'"
                    ngbPopover="Click outside or press Escape to close">
                    secondary
                </button>
    
                <button type="button" class="btn btn-info-light btn-wave waves-effect waves-light " popoverTitle="Pop title"
                    placement="bottom" popoverClass="popover-info-light" [autoClose]="'outside'"
                    ngbPopover="Click outside or press Escape to close">
                    Info
                </button>
                <button type="button" class="btn btn-warning-light btn-wave waves-effect waves-light" popoverTitle="Pop title" placement="end"
                    popoverClass="popover-warning-light" [autoClose]="'outside'"
                    ngbPopover="Click outside or press Escape to close">
                    success
                </button>
                <button type="button" class="btn btn-success-light btn-wave waves-effect waves-light" popoverTitle="Pop title" placement="start"
                    popoverClass="popover-success-light" [autoClose]="'outside'"
                    ngbPopover="Click outside or press Escape to close">
                    success
                </button>
                <button type="button" class="btn btn-danger-light btn-wave waves-effect waves-light" popoverTitle="Pop title" placement="top"
                    popoverClass="popover-danger-light" [autoClose]="'outside'"
                    ngbPopover="Click outside or press Escape to close">
                    success
                </button>
                <button type="button" class="btn btn-teal-light btn-wave waves-effect waves-light" popoverTitle="Pop title" placement="bottom"
                    popoverClass="popover-teal-light" [autoClose]="'outside'"
                    ngbPopover="Click outside or press Escape to close">
                    Teal
                </button>
                <button type="button" class="btn btn-purple-light btn-wave waves-effect waves-light" popoverTitle="Pop title" placement="end"
                    popoverClass="popover-purple-light" [autoClose]="'outside'"
                    ngbPopover="Click outside or press Escape to close">
                    purple
                </button>
            </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-3 -->

<!-- Start:: row-4 -->
<div class="row">
    <div class="col-xl-12">

        <app-showcode-card [title]="'Dismissible Popovers'" [prism]="prismCode.popover5"
            classbody="d-flex flex-wrap justify-content-between">
            <a tabindex="0" class="btn btn-primary m-1" role="button" data-bs-toggle="popover" triggers="focus"
                placement="top" popoverTitle="Dismissible popover"
                ngbPopover="And here's some amazing content. It's very engaging. Right?">Popover Dismiss
            </a>
            <a tabindex="0" class="btn btn-secondary m-1" role="button" data-bs-toggle="popover" triggers="focus"
                placement="end" popoverTitle="Dismissible popover"
                ngbPopover="And here's some amazing content. It's very engaging. Right?">Popover Dismiss
            </a>
            <a tabindex="0" class="btn btn-info m-1" role="button" data-bs-toggle="popover" triggers="focus"
                placement="bottom" popoverTitle="Dismissible popover"
                ngbPopover="And here's some amazing content. It's very engaging. Right?">Popover Dismiss
            </a>
            <a tabindex="0" class="btn btn-warning m-1" role="button" data-bs-toggle="popover" triggers="focus"
                placement="start" popoverTitle="Dismissible popover"
                ngbPopover="And here's some amazing content. It's very engaging. Right?">Popover Dismiss
            </a>
        </app-showcode-card>
    </div>
    <div class="col-xl-6">

        <app-showcode-card [title]="'Disabled Popover'" [prism]="prismCode.popover6">
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" triggers="hover focus" placement="end"
                ngbPopover="Disabled popover">
                <button class="btn btn-primary" type="button" disabled>Disabled
                    button</button>
            </span>
        </app-showcode-card>
    </div>
    <div class="col-xl-6">

        <app-showcode-card [title]="'Icon Popovers'" [prism]="prismCode.popover7">
            <a class="me-4 svg-primary" href="javascript:void(0)" data-bs-toggle="popover" placement="top"
                popoverClass="popover-primary only-body"
                ngbPopover="This popover is used to provide details about this icon.">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z" />
                </svg>
            </a>
            <a class="me-4 svg-secondary" href="javascript:void(0)" data-bs-toggle="popover" placement="start"
                popoverClass="popover-secondary only-body"
                ngbPopover="This popover is used to provide information about this icon.">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                </svg>
            </a>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-4 -->