<app-page-header title="Mixed-Charts" title1="Apex-Charts" activeTitle="Mixed-Charts" ></app-page-header>

 <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Line & Column Chart</div>
            </div>
            <div class="card-body">
                <div id="mixed-linecolumn">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [labels]="chartOptions.labels"
                    [stroke]="chartOptions.stroke" [title]="chartOptions.title"
                    [dataLabels]="chartOptions.dataLabels" [fill]="chartOptions.fill"
                    [tooltip]="chartOptions.tooltip"[colors]="chartOptions.colors"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Multiple Y-Axis Chart</div>
            </div>
            <div class="card-body">
                <div id="mixed-multiple-y">
                   
                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                    [yaxis]="chartOptions1.yaxis" [xaxis]="chartOptions1.xaxis" [labels]="chartOptions1.labels"
                    [stroke]="chartOptions1.stroke" [markers]="chartOptions1.markers"
                    [fill]="chartOptions1.fill" [tooltip]="chartOptions1.tooltip" [colors]="chartOptions1.colors"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Line & Area Chart</div>
            </div>
            <div class="card-body">
                <div id="mixed-linearea">
                    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                    [xaxis]="chartOptions2.xaxis" [markers]="chartOptions2.markers"
                    [stroke]="chartOptions2.stroke" [yaxis]="chartOptions2.yaxis"
                    [dataLabels]="chartOptions2.dataLabels" [title]="chartOptions2.title"
                    [fill]="chartOptions2.fill" [tooltip]="chartOptions2.tooltip"
                    [legend]="chartOptions2.legend" [colors]="chartOptions2.colors"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Line,Column & Area Chart</div>
            </div>
            <div class="card-body">
                <div id="mixed-all">
                    <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart"
                        [yaxis]="chartOptions3.yaxis" [xaxis]="chartOptions3.xaxis" [labels]="chartOptions3.labels"
                        [stroke]="chartOptions3.stroke" [plotOptions]="chartOptions3.plotOptions"
                        [markers]="chartOptions3.markers" [fill]="chartOptions3.fill"
                        [tooltip]="chartOptions3.tooltip"[colors]="chartOptions3.colors"></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->