<app-page-header title="Currency-Exchange" title1="Crypto" activeTitle="Currency-Exchange" ></app-page-header>
   <!-- Start::row-1 -->
   <div class="row">
    <div class="col-xl-12">
        <div class="card custom-card currency-exchange-card">
            <div class="card-body p-5 d-flex align-items-center justify-content-center">
                <div class="container">
                    <h3 class="text-fixed-white text-center">Buy and Sell Coins without additional fees</h3>
                    <span class="d-block fs-16 text-fixed-white text-center op-8 mb-4">
                        Buy now and get +50% extra bonus Minimum pre-sale amount 100 Crypto Coin. We accept BTC crypto-currency..
                    </span>
                    <div class="p-3 mb-4 rounded currency-exchange-area">
                        <div class="row gy-3">
                            <div class="col-xxl-3 col-12">
                                <input type="text" class="form-control" value="0.0453" placeholder="Enter Amount">
                            </div>
                            <div class="col-xxl-2 col-12">
                                <div>
                                    <ng-select  data-trigger name="Vacancies" placeholder="select">
                                        <ng-option value="Choice 1" >Bitcoin</ng-option> 
                                        <ng-option value="Choice 2">Etherium</ng-option> 
                                        <ng-option value="Choice 3">Litecoin</ng-option>
                                        <ng-option value="Choice 4">Ripple</ng-option>
                                        <ng-option value="Choice 5">Cardano</ng-option>
                                        <ng-option value="Choice 6">Neo</ng-option>
                                        <ng-option value="Choice 7">Stellar</ng-option>
                                        <ng-option value="Choice 8">EOS</ng-option>
                                        <ng-option value="Choice 9">NEM</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-12">
                                <div class="fs-2 text-fixed-white text-center op-8 lh-1">
                                    =
                                </div>
                            </div>
                            <div class="col-xxl-3 col-12">
                                <input type="text" class="form-control" value="1350.93" placeholder="Exchange Amount">
                            </div>
                            <div class="col-xxl-2 col-12">
                                <ng-select placeholder="select" data-trigger name="Vacancies">
                                    <ng-option value="Choice 1">USD</ng-option> 
                                    <ng-option value="Choice 2">Pound</ng-option> 
                                    <ng-option value="Choice 3">Rupee</ng-option>
                                    <ng-option value="Choice 4">Euro</ng-option>
                                    <ng-option value="Choice 5">Won</ng-option>
                                    <ng-option value="Choice 6">Dinar</ng-option>
                                    <ng-option value="Choice 7">Rial</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success btn-wave">Exchange Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

<!-- Start:: row-2 -->
<div class="row justify-content-center">
    <div class="col-xl-3">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="./assets/images/crypto-currencies/square-color/Bitcoin.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Bitcoin - BTC</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center mb-2">24.3% <span class="fs-12 text-warning op-7 ms-2">+0.59<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span><span class="badge bg-success-transparent fs-10 ms-2">24H</span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-primary">0.00434</span>
                        <span class="d-block text-success fw-medium">$30.29</span>
                    </div>
                </div>
            </div>
            <div id="btc-currency-chart" class="mt-1 w-100">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [yaxis]="chartOptions.yaxis"
                        [xaxis]="chartOptions.xaxis" [labels]="chartOptions.labels" [stroke]="chartOptions.stroke"
                            [markers]="chartOptions.markers"  [colors]="chartOptions.colors"
                        [fill]="chartOptions.fill" [tooltip]="chartOptions.tooltip"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="./assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Etherium - ETH</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center mb-2">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-secondary">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="eth-currency-chart" class="mt-1 w-100">
                <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [yaxis]="chartOptions1.yaxis"
                [xaxis]="chartOptions1.xaxis" [labels]="chartOptions1.labels" [stroke]="chartOptions1.stroke"
                    [markers]="chartOptions1.markers" [colors]="chartOptions1.colors"
                [fill]="chartOptions1.fill" [tooltip]="chartOptions1.tooltip"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="./assets/images/crypto-currencies/square-color/Dash.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Dash - DASH</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center mb-2">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-success">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="dash-currency-chart" class="mt-1 w-100">
                <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [yaxis]="chartOptions2.yaxis"
                        [xaxis]="chartOptions2.xaxis" [labels]="chartOptions2.labels" [stroke]="chartOptions2.stroke"
                            [markers]="chartOptions2.markers" [colors]="chartOptions2.colors"
                        [fill]="chartOptions2.fill" [tooltip]="chartOptions2.tooltip"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="./assets/images/crypto-currencies/square-color/Litecoin.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Litecoin - LTC</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center mb-2">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-warning">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="ltc-currency-chart" class="mt-1 w-100">
                <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart" [yaxis]="chartOptions3.yaxis"
                [xaxis]="chartOptions3.xaxis" [labels]="chartOptions3.labels" [stroke]="chartOptions3.stroke"
                    [markers]="chartOptions3.markers" [colors]="chartOptions3.colors"
                [fill]="chartOptions3.fill" [tooltip]="chartOptions3.tooltip"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="./assets/images/crypto-currencies/square-color/Ripple.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Ripple - XRS</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center mb-2">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-pink">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="xrs-currency-chart" class="mt-1 w-100">
                <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart" [yaxis]="chartOptions4.yaxis"
                        [xaxis]="chartOptions4.xaxis" [labels]="chartOptions4.labels" [stroke]="chartOptions4.stroke"
                            [markers]="chartOptions4.markers" [colors]="chartOptions4.colors"
                        [fill]="chartOptions4.fill" [tooltip]="chartOptions4.tooltip"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="./assets/images/crypto-currencies/square-color/Golem.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Golem - GLM</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center mb-2">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-purple">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="glm-currency-chart" class="mt-1 w-100">
                <apx-chart [series]="chartOptions5.series" [chart]="chartOptions5.chart" [yaxis]="chartOptions5.yaxis"
                [xaxis]="chartOptions5.xaxis" [labels]="chartOptions5.labels" [stroke]="chartOptions5.stroke"
                    [markers]="chartOptions5.markers" [colors]="chartOptions5.colors"
                [fill]="chartOptions5.fill" [tooltip]="chartOptions5.tooltip"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="./assets/images/crypto-currencies/square-color/Monero.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Monero</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center mb-2">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-danger">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="monero-currency-chart" class="mt-1 w-100">
                <apx-chart [series]="chartOptions6.series" [chart]="chartOptions6.chart" [yaxis]="chartOptions6.yaxis"
                [xaxis]="chartOptions6.xaxis" [labels]="chartOptions6.labels" [stroke]="chartOptions6.stroke"
                    [markers]="chartOptions6.markers" [colors]="chartOptions6.colors"
                [fill]="chartOptions6.fill" [tooltip]="chartOptions6.tooltip"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="./assets/images/crypto-currencies/square-color/EOS.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">EOS</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center mb-2">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-info">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="eos-currency-chart" class="mt-1 w-100">
                <apx-chart [series]="chartOptions7.series" [chart]="chartOptions7.chart" [yaxis]="chartOptions7.yaxis"
                [xaxis]="chartOptions7.xaxis" [labels]="chartOptions7.labels" [stroke]="chartOptions7.stroke"
                    [markers]="chartOptions7.markers" [colors]="chartOptions7.colors"
                [fill]="chartOptions7.fill" [tooltip]="chartOptions7.tooltip"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
         <div class="text-center my-4">
            <button class="btn btn-primary-light" type="button" disabled>
                <span class="spinner-border spinner-border-sm align-middle" role="status"
                    aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </div>
</div>
<!-- End:: row-2 -->